/* LAYOUTS FLEX */

/*
.flex-row{
	display: flex;	
	flex-flow: row wrap;
}

.flex-column{
	display: flex;
	flex-flow: column wrap;	
}
*/

/* alinhamento horizontal dos itens LINHA */
.rw-center-center { /*soma do rw-h-center com rw-v-center, pois a combinação é muito comum */
	display: flex;	
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center
}
.rw-center-top { /*soma do rw-h-center com rw-v-top, pois a combinação é muito comum */
	display: flex;	
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}
.rw-h-center {
	display: flex;	
	flex-flow: row wrap;
	justify-content: center;
}
.rw-h-left {
	display: flex;	
	flex-flow: row wrap;
	justify-content: flex-start;
}
.rw-h-right {
	display: flex;	
	flex-flow: row wrap;
	justify-content: flex-end;
}
.rw-h-spread {
	display: flex;	
	flex-flow: row wrap;
	justify-content: space-between;
}
.rw-h-spreadcenter {
	display: flex;	
	flex-flow: row wrap;
	justify-content: space-around;
}
/* ------------------------ */

/* alinhamento vertical dos itens LINHA*/
.rw-v-center {
	display: flex;	
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
}
.rw-v-top {
	display: flex;	
	flex-flow: row wrap;
	align-content: flex-start;
	align-items: flex-start;
}
.rw-v-bottom {
	display: flex;	
	flex-flow: row wrap;
	align-content: flex-end;
	align-items: flex-end;
}
.rw-v-spread {
	display: flex;	
	flex-flow: row wrap;
	align-content: space-between;
	align-items: center;
}
.rw-v-spreadcenter {
	display: flex;	
	flex-flow: row wrap;
	align-content: space-evenly;
	align-items: center;
}
/* ------------------------ */

/* alinhamento horizontal dos itens COLUNA */
.cl-center-center { /*soma do cl-h-center com cl-v-center, pois a combinação é muito comum */
	display: flex;
	flex-flow: column wrap;	
	align-content: center;
	align-items: center;
	justify-content: center;
}
.cl-center-top { /*soma do cl-h-center com cl-v-top, pois a combinação é muito comum */
	display: flex;
	flex-flow: column wrap;	
	align-content: center;
	align-items: center;
	justify-content: flex-start;
}
.cl-h-center {
	display: flex;
	flex-flow: column wrap;	
	align-content: center;
	align-items: center;
}
.cl-h-left {
	display: flex;
	flex-flow: column wrap;	
	align-content: flex-start;
	align-items: flex-start;
}
.cl-h-right {
	display: flex;
	flex-flow: column wrap;	
	align-content: flex-end;
	align-items: flex-end;
}
.cl-h-spread {
	display: flex;
	flex-flow: column wrap;	
	align-content: space-between;
	align-items: center;
}

.cl-h-spreadcenter {
	display: flex;
	flex-flow: column wrap;	
	align-content: space-evenly;
	align-items: center;
}
/* ------------------------ */

/* alinhamento vertical dos itens COLUNA */
.cl-v-center {
	display: flex;
	flex-flow: column wrap;	
	justify-content: center;
	align-items: center;
}
.cl-v-top {
	display: flex;
	flex-flow: column wrap;	
	justify-content: flex-start;
}
.cl-v-bottom {
	display: flex;
	flex-flow: column wrap;	
	justify-content: flex-end;
}
.cl-v-spread {
	display: flex;
	flex-flow: column wrap;	
	justify-content: space-between;
}
.cl-v-spreadcenter {
	display: flex;
	flex-flow: column wrap;	
	justify-content: space-evenly;
}
/* ------------------------ */

/* cuidado, nowrap altera dimensões mesmo explicitamente definidas de largura ou altura, pois força caber na mesma linha */
.nowrap{
	flex-wrap: nowrap;
}


/* CLASSES PARA ITENS DE UM FLEX BOX */

/* alinhamentos específicos dos itens (childs) - em uma lista de childs com o alinhamento determinado pelo parent, estas classes sobrescrevem este alinhamento em item específico*/
/* ex.: parent(rw-v-top)->chidrens[1,2,3(ch-end),4] - o child 3 terá alinhamento como se fosse rw-v-bottom */
/* !!!!! CLASSES CHILD DE REALINHAMENTO SÓ FUNCIONAM QUANDO É FLEX-NOWRAP OU WRAP MAS COM UMA SÓ LINHA !!!! */
.ch-start{
	align-self: flex-start;
}
.ch-end {
	align-self: flex-end;
}
.ch-center{
	align-self: center;
}
/*-----------------------------------------*/

/* child tem % do tamanho da linha */
.ch-5 {
	flex-basis: 5%;
}
.ch-10 {
	flex-basis: 10%;
}
.ch-15 {
	flex-basis: 15%;
}
.ch-20 {
	flex-basis: 20%;
}
.ch-25 {
	flex-basis: 25%;
}
.ch-30 {
	flex-basis: 30%;
}
.ch-35 {
	flex-basis: 35%;
}
.ch-40 {
	flex-basis: 40%;
}
.ch-45 {
	flex-basis: 45%;
}
.ch-50 {
	flex-basis: 50%;
}
.ch-55 {
	flex-basis: 55%;
}
.ch-60 {
	flex-basis: 60%;
}
.ch-65 {
	flex-basis: 65%;
}
.ch-70 {
	flex-basis: 70%;
}
.ch-75 {
	flex-basis: 75%;
}
.ch-80 {
	flex-basis: 80%;
}
.ch-85 {
	flex-basis: 85%;
}
.ch-90 {
	flex-basis: 90%;
}
.ch-95 {
	flex-basis: 95%;
}
.ch-10 {
	flex-basis: 100%;
}


/* ITENS ABAIXO CARECEM DE MELHORIAS, NÃO USAR */
/* child diminui ou aumenta para acomodar outras childs na mesma linha */
.ch-grow-shirk{
	flex: 1 1 auto;
}

/* child diminui, mas NÃO aumenta para acomodar outras childs na mesma linha */
.ch-nogrow-shirk{
	flex: 0 1 auto;
}

/* child NÃO diminui, mas aumenta para acomodar outras childs na mesma linha */
.ch-grow-noshirk{
	flex: 0 1 auto;
}

/* child NÃO diminui NEM aumenta para acomodar outras childs na mesma linha */
.ch-grow-noshirk{
	flex: 0 1 auto;
}
/* --------FIM NÃO USAR -------*/

