body{
	background-color: #000;
}

.corpo{
	font-family: 'roboto';
	color: #fff;	
	background: url('background.jpg');
	background-size: cover;
	width: 1600px;
	height: 700px;
}

.linha{
	position: relative;
}

.linha-back{
    border: 2px #ccc solid;
    width: 90%;
    height: 0px;
    position: absolute;
    z-index: 0;
}

.linha > div{
	background-color: #1a4b86;
	margin: 5px;	
}

.posicao {
	width: 100px;
	height: 100px;	
	font-size: 55px;
	border-radius: 10px;
	letter-spacing: -5px;
	z-index: 2;
}

.raia, .peso{
	width: 140px;
	height: 45px;
	font-size: 26px;
	border-radius: 2px;
	transform: skew(-13deg)
}


.perfil {
	width: 375px;
	height: 105px;
	border-radius: 5px;
	transform: skew(-13deg);
	color: #1a4b86;
	font-size: 24px;
	font-weight: bold;
}

.perfil-background {
	background-color: #c3d8f0;	
	border-radius: 5px;
	width: 364px;
	height: 95px;
}

.perfil-background div{
	width: 50%;	
}

.equipe{
	transform: skew(13deg);	
}

.peso span{
	font-size: 14px;
	padding-left: 5px;
}