#table-scroll-equipe {
    height: 200px;
    overflow:auto;
    margin-top:20px;
    width: 100%;
    margin-bottom: 50px;
}

#table-scroll-equipe table thead th .text {
    position:absolute;
    top:50px;
    z-index:2;
    width:28%;
}

#table-wrapper h3{
    text-align: center;
}

.exibido{
    display: block;
}

.escondido{
    display:none;
}

.graficos h3{
    text-align:center;
}