.container, .panel-heading, .panel-body{
    background-color: #dfe0e0;
}

.panel-heading{
    padding:0;
}

.logo-etapa{
    background-color:#db9702;
    position:relative;
    z-index:99999;
}

.logo-etapa img{
    margin-top:10px;
    z-index:99999;
}

.nome-etapa{
    position:relative;
    margin-top:-10px;
    margin-bottom: 0;
    padding:10px;
    background-color:#16388e;
    color:white;
    font-size: 25px;
    z-index:99999;
}

.trapezio{
    margin-top:-8px;
    transform: skewY(-2deg);
}

.parte-cima{
    height: 40px;
    background-color: #db9702;
}

.parte-baixo{
    height:40px; 
    background-color:#16388e;  
}

.botao-padrao{
    background-color: #ffcc00;
}

.botao-padrao h4{
    font-weight: bold;
    font-size:20px;
}

