.info-etapa{
    display: flex;
}

#cardQtdTotal{
    background-color: #214f1d;
}

#cardPesoTotal{
    background-color: #214f1d;
}

.small-box{
    color:white;
}

.small-box h3{
    font-size:12px !important;
}
