#table-wrapper {
    position:relative;
}

#table-scroll {
    height: calc(100vh - 180px);
    box-sizing: content-box;
    overflow:auto;
    margin-top:20px;
    width: calc(100% - 10px);
}



#table-wrapper table {
    width:100%;
}

#table-wrapper table thead th .text {
    position:absolute;
    top:-17px;
    z-index:2;
    height:px;
    width:28%;
}

.container{
    width: 100%;
}

.header{
    position: fixed;
    height:70px;
    width: 100%;
    z-index: 99999;
}

.margem-header{
    margin-top: 100px;;
}

.logo-etapa{
    height: 100%;
    padding:0;
}

.logo-etapa img{
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
}

.logo-etapa h3{ 
    background-color:#db9702;
    height: 100%;
    margin:0;   
}

.nome-etapa{
    height:100%;
    background-color: #16388e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome-etapa h3{ 
    font-size: 20px;
    color:white;
    text-align: center;
    margin:0;
}

.botao-padrao{
    background-color: #ffcc00;
}

.botao-padrao h4{
    font-weight: bold;
    font-size:20px;
}
