#apresentadores:not(.escondido){
    display: block;
    position: absolute;
    /*
    border: 1px solid #F00;
    bottom: 50px;
    left: 240px;
    */
    width: 545px;
    height: 87px;
    bottom: 115px;
    left: 150px;

    &[data-posicao="esquerda"]{
        left: 150px;
    }

    &[data-posicao="meio"]{
        left: 688px;
    }

    &[data-posicao="direita"]{
        left: unset;
        right: 150px;
    }

    > .bg{
        display: block;
        width: 87px;
        height: 87px;
        background: url(../img/apresentadores/bg/brasileiro.png) center center no-repeat;
        position: absolute;
        left: 20px;
        top: 0;
    }

    .logo{
        display: block;
        position: relative;
        z-index: 10;

        .bg,
        .img{
            display: block;
            width: 123px;
            height: 64px;
            background: url(../img/apresentadores/logo/brasileiro.png) center center no-repeat;
            position: absolute;
            left: 0;
            top: 10px;
        }

        .bg{
            background: url(../img/apresentadores/logo/bg/brasileiro.png) center center no-repeat;
        }
    }

    .conteudo{
        display: block;
        position: absolute;
        top: 3px;
        left: 85px;
        width: 456px;
        height: 79px;
        z-index: 9;

        .bg-tarja{
            position: absolute;
            background: url(../img/apresentadores/bg-tarja.png) center center no-repeat;
            width: 456px;
            height: 79px;
        }

        .tarja{
            position: absolute;
            display: block;
            background-position: bottom center;
            background-repeat: no-repeat;
            background-image: url(../img/apresentadores/tarjas/brasileiro.png);
            width: 456px;
            /*overflow: hidden;*/
            height: 79px;
            margin-left: 4px;

            &.verso{
                margin-left: 0;
                margin-top: 0;
            }
        }

        .nome,
        .legenda{
            display: block;
            color: #FFF;
            font-style: italic;
            transform: scaleY(1.3);
            text-shadow: 3px 3px 3px #333;
        }

        .nome{
            position: absolute;
            top: 12px;
            left: 45px;
            font-size: 21px;
            font-weight: bold;
        }

        .legenda{
            position: absolute;
            top: 48px;
            left: 45px;
            font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            font-weight: 200;
        }
    }

    /* ANIMAÇÃO */
        > .bg{
            @keyframes apresentadores_bg {
              from { clip-path: inset( 0 0 100% 0 );   }
              to {   clip-path: inset( 0 0 0 0 ); }
            }
            animation-name: apresentadores_bg;
            animation-delay: 0ms;
            animation-duration: 300ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        .logo{

            .bg{
                @keyframes apresentadores_logo_bg {
                  from { clip-path: inset( 0 0 100% 0 );   }
                  to {   clip-path: inset( 0 0 0 0 ); }
                }
                animation-name: apresentadores_logo_bg;
                animation-delay: 100ms;
                animation-duration: 300ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            }

            .img{
                @keyframes apresentadores_logo {
                  from { clip-path: inset( 0 0 100% 0 );   }
                  to {   clip-path: inset( 0 0 0 0 ); }
                }
                animation-name: apresentadores_logo;
                animation-delay: 200ms;
                animation-duration: 300ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            }
        }

        .conteudo{

            .bg-tarja{
                @keyframes apresentadores_conteudo_bg_tarja {
                  from { clip-path: inset( 0 0 100% 0 );   }
                  to {   clip-path: inset( 0 0 0 0 ); }
                }
                animation-name: apresentadores_conteudo_bg_tarja;
                animation-delay: 200ms;
                animation-duration: 300ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            }

            .tarja{

                &.frente{
                    @keyframes apresentadores_conteudo_tarja {
                      0% {   clip-path: inset( 0 0 100% 0 );   }
                      50% {  clip-path: inset( 0 0 0 0 ); }
                      100% {  clip-path: inset( 100% 0 0 0 ); }
                    }
                    animation-name: apresentadores_conteudo_tarja;
                    animation-delay: 300ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;
                    animation-fill-mode: both;
                }

                &.frente-fixa{
                    @keyframes apresentadores_conteudo_tarja_fixa {
                      0% {   clip-path: inset( 0 0 100% 0 );   }
                      50% {  clip-path: inset( 0 0 0 0 ); }
                      100% {  clip-path: inset( 50% 0 0 0 ); }
                    }
                    animation-name: apresentadores_conteudo_tarja_fixa;
                    animation-delay: 1500ms;
                    animation-duration: 300ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;
                    animation-fill-mode: both;
                }

                &.verso{
                    @keyframes apresentadores_conteudo_tarja_verso {
                      0% {   clip-path: inset( 100% 0 0 0 );  }
                      50% {  clip-path: inset( 0 0 0 0 ); }
                      100% {  clip-path: inset( 0 0 100% 0 ); }
                    }
                    animation-name: apresentadores_conteudo_tarja_verso;
                    animation-delay: 900ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;
                    animation-fill-mode: both;
                }
            }

            .legenda,
            .nome{
                @keyframes apresentadores_conteudo_nome {
                  0% {   opacity: 0;  }
                  100% {  opacity: 1; }
                }
                animation-name: apresentadores_conteudo_nome;
                animation-delay: 500ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            }
        }

        &.fechar{
            > .bg{
                animation-name: apresentadores_bg;
                animation-delay: 1200ms;
                animation-timing-function: ease-out;
                animation-direction: reverse;
            }

            .logo{

                .bg{
                    animation-delay: 1000ms;
                    animation-name: apresentadores_logo_bg;
                    animation-timing-function: ease-out;
                    animation-direction: reverse;
                }

                .img{
                    animation-name: apresentadores_bg;
                    animation-delay: 800ms;
                    animation-timing-function: ease-out;
                    animation-direction: reverse;
                }
            }

            .conteudo{

                .bg-tarja{
                    animation-delay: 1200ms;
                    animation-timing-function: ease-out;
                    animation-direction: reverse;
                    animation-name: apresentadores_conteudo_bg_tarja;
                }

                .tarja{

                    &.frente{
                        display: none;
                        animation-name: apresentadores_conteudo_tarja;
                    }

                    &.frente-fixa{
                        animation-name: apresentadores_conteudo_tarja_fixa;
                        animation-delay: 0ms;
                        animation-timing-function: ease-out;
                        animation-direction: reverse;
                    }

                    &.verso{
                        animation-name: apresentadores_conteudo_tarja_verso;
                        animation-delay: 900ms;
                        animation-timing-function: ease-out;
                        animation-direction: reverse;
                    }
                }

                .legenda,
                .nome{
                    animation-name: apresentadores_conteudo_nome;
                    animation-delay: 100ms;
                    animation-timing-function: ease-out;
                    animation-direction: reverse;
                }
            }
        }
    /* /ANIMAÇÃO */

}

@mixin imagens_apresentadores($tipo) {
    > .bg{  background-image: url('../img/apresentadores/bg/' + $tipo +'.png'); }
    .logo{
        .bg{  background-image: url('../img/apresentadores/logo/bg/' + $tipo +'.png'); }
        .img{ background-image: url('../img/apresentadores/logo/' + $tipo +'.png'); }
    }
    .conteudo{
        .tarja{
            background-image: url('../img/apresentadores/tarjas/' + $tipo +'.png');

            &.frente{
                background-position: bottom center;
            }
        }
    }
}

.brasileiro{  #apresentadores{ @include imagens_apresentadores('brasileiro');  } }
.catarinense{ #apresentadores{ @include imagens_apresentadores('catarinense'); } }
.gaucho{      #apresentadores{ @include imagens_apresentadores('gaucho');      } }
.goiano{      #apresentadores{ @include imagens_apresentadores('goiano');      } }
.mineiro{     #apresentadores{ @include imagens_apresentadores('mineiro');     } }
.paranaense{  #apresentadores{ @include imagens_apresentadores('paranaense');  } }
.paulista{    #apresentadores{ @include imagens_apresentadores('paulista');    } }
