#apresentacao_duplas{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: #FFF;

    .conteudo{
        position: relative;
        width: 1440px;
        display: flex;
        justify-content: center;

        header{
            position: absolute;
            top: 135px;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1440px;
            overflow: hidden;
            margin: 0 auto;

            > div{
                position: relative;

                &:first-child{
                    .bg-logo{
                        display: block;
                        width: 249px;
                        height: 129px;
                        background: #333;
                        @include bg_logo( $cbp-azul, 249px, 129px );
                        position: absolute;
                        z-index: 0;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 0ms;
                            animation-duration: 400ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }

                    .logo{
                        z-index: 1;
                        position: relative;
                        display: inline-block;
                        width: 249px;
                        height: 129px;
                        background: url(../img/top10/logo/brasileiro.png) center center no-repeat;
                        margin-right: 10px;

                        &.logo-gaucho{ background-image: url(../img/top10/logo/gaucho.png); }
                        &.logo-catarinense{ background-image: url(../img/top10/logo/catarinense.png); }
                        &.logo-paranaense{ background-image: url(../img/top10/logo/paranaense.png); }
                        &.logo-goiano{ background-image: url(../img/top10/logo/goiano.png); }
                        &.logo-paulista{ background-image: url(../img/top10/logo/paulista.png); }
                        &.logo-mineiro{ background-image: url(../img/top10/logo/mineiro.png); }

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 250ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }
                }

                &:last-child{
                    font-family: 'Montserrat';
                    white-space: nowrap;
                    overflow: hidden;

                    h2{
                        font-size: 48px;
                        transform: scaleY(1.3);
                        color: #e49b00;
                        display: block;
                        font-style: italic;
                        padding-left: 10px;
                        margin: 5px 0 0;
                        font-weight: 700;
                        letter-spacing: 1.5px;
                        text-shadow: 3px 3px 3px #000;
                        text-align: left;
                    }

                    p{
                        font-size: 28px;
                        line-height: 42px;
                        text-align: left;
                        font-style: italic;
                        margin: 8px 0 0 10px;
                        font-weight: 600;
                        letter-spacing: 2px;
                        text-shadow: 3px 3px 3px #000;
                        transform: scaleY(1.3);

                        img{
                            transform: scaleY(0.7);
                            float: left;
                            margin: 0 10px 0 0;
                        }
                    }

                    /* ANIMAÇÃO */
                        @keyframes abre_texto {
                            0% { max-width: 0; }
                            100% { max-width: 450px; }
                        }
                        animation-name: abre_texto;
                        animation-delay: 650ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        /*animation-timing-function: ease-out;*/
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }
            }
        }

        > .bg{
            display: block;
            width: 1322px;
            margin: auto;
            transform: skew(-6.25deg);
            background: rgba(0,0,0,0.7);
            height: 100%;
            overflow: hidden;

            /* ANIMAÇÃO */
                @keyframes abre_bg_top10 {
                    0% { width: 0; }
                    100% { width: 100%; }
                }
                animation-name: abre_bg_top10;
                animation-delay: 250ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */

            > div{
                opacity: 0;
            }
        }

        .pagina{
            opacity: 1 !important;
            position: relative;
            width: 1220px;
            height: 785px;
            margin: 235px auto 0;
            overflow: hidden;
            padding-top: 10px;

            .posicao{
                position: relative;
                display: block;
                width: 767px;
                height: 260px;//201px;
                zoom: 1.4;
                // background: rgba(#FFF, 0.6);

                > .bg-fundo{
                    position: absolute;
                    top: 114px;
                    left: 12px;
                    display: block;
                    transform: skew(6.25deg);
                    z-index: 10;

                    @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 565px, 72px );
                    opacity: 0.8;
                }

                > .bg{
                    position: absolute;
                    top: 104px;
                    left: 12px;
                    display: block;
                    transform: skew(6.25deg);
                    z-index: 15;

                    @include bg_gradiente( $cbp-preto, $cbp-preto-sombra, 565px, 72px );
                    opacity: 0.6;
                }

                > .bg-frente{
                    position: absolute;
                    top: 100px;
                    left: 10px;
                    display: block;
                    transform: skew(6.25deg);
                    z-index: 15;

                    @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 569px, 86px );
                }

                > .foto{
                    position: absolute;
                    top: -10px;
                    left: 0;
                    display: block;
                    width: 241px;
                    height: 201px;
                    z-index: 15;

                    > .bg{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 241px;
                        height: 201px;
                        background: url(../img/apresentacao-duplas/RS/1-1-mascara.png) top center no-repeat;
                        z-index: 2;
                    }

                    > .foto{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 241px;
                        height: 201px;
                        background: url(../img/apresentacao-duplas/RS/1-1.png) top center no-repeat;
                        z-index: 1;
                    }
                }

                &:nth-child(odd) {
                    > .foto {
                        transform: skew(6.25deg);
                    }
                }

                .info{
                    position: absolute;
                    top: 79px;
                    left: 186px;


                    > .bg-fundo{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        transform: skew(6.25deg);
                        z-index: 5;

                        @include bg_gradiente( $cbp-amarelo, $cbp-amarelo-sombra, 581px, 80px );
                    }

                    > .bg{
                        position: absolute;
                        top: 6px;
                        left: 0;
                        display: block;
                        width: 578px;
                        height: 74px;
                        border-radius: 37px;
                        transform: skew(6.25deg);
                        z-index: 10;
                        background: url(../img/apresentacao-duplas/bg.png) center center no-repeat;
                    }

                    p{
                        position: absolute;
                        top: -5px;
                        left: 240px;
                        display: block;
                        width: 330px;
                        z-index: 20;
                        font-size: 20px;
                        line-height: 28px;
                        transform: scaleY(1.3);
                    }

                    > .bg-frente{
                        position: absolute;
                        top: 0;
                        left: -5px;
                        display: block;
                        transform: skew(6.25deg);
                        z-index: 15;

                        @include bg_gradiente( $cbp-amarelo, $cbp-amarelo-sombra, 583px, 79px );
                        opacity: 0.5;
                    }

                    .box-logo{
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 25;
                        transform: skew(6.25deg);

                        > .bg{
                            margin-right: 28px;

                            @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 190px, 79px, 40px 0 0 40px );

                            &:before{
                                content: "";
                                display: block;
                                width: 30px;
                                height: 79px;
                                background: $cbp-azul;
                                transform: skew(-19deg);
                                position: absolute;
                                left: 176px;
                            }
                        }

                    }

                    .logo{
                        position: absolute;
                        left: 38px;
                        top: 7px;
                        transform: skew(6.25deg);
                        display: block;
                        width: 135px;
                        height: 68px;
                        background: url(../img/top10/logo/brasileiro.png) center center no-repeat;
                        background-size: contain;

                    }
                }

                &:nth-child(even){
                    margin-left: 103px;
                    transform: scaleX(-1) skew(-6.25deg);

                    .info{
                        > .bg-fundo{
                            transform: scaleY(-1);
                        }

                        p{
                            transform: scaleY(1.3) scaleX(-1);
                            left: 210px;
                            width: 315px;
                        }

                        .logo{
                            transform: scaleX(-1);
                        }
                    }

                }

            }
        }
    }

    /* ANIMAÇÃO */
        .conteudo{
            .pagina{
                $ini_animacao: 300ms;

                $delay: 350ms;
                @for $i from 1 through 6 {
                    .posicao:nth-child(#{$i}){
                        // top: #{($i - 1) * 123}px;
                        @if $i > 1 {
                            margin-top: -82px;
                        }

                        > .bg-fundo{
                            z-index: 10;
                            opacity: 0.8;

                            @keyframes abre_bg_fundo_foto {
                                from {   clip-path: inset( 100% 0 0 0 ); }
                                to {   clip-path: inset( 50% 0 0 0 ); }
                            }
                            animation-name: abre_bg_fundo_foto;
                            animation-delay: $ini_animacao + ($delay * $i) + 500ms;
                            animation-duration: 300ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        }

                        > .bg{
                            z-index: 10;
                            opacity: 0.7;

                            animation-name: cima_baixo;
                            animation-delay: $ini_animacao + ($delay * $i) + 300ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        }

                        > .bg-frente{
                            z-index: 20;

                            animation-name: passa_cima_baixo;
                            animation-delay: $ini_animacao + ($delay * $i) + 0ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        }

                        > .foto{
                            z-index: 10;

                            > .bg{
                                z-index: 2;
                                animation-name: passa_baixo_cima;
                                animation-delay: $ini_animacao + ($delay * $i) + 0ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease;
                                animation-fill-mode: both;
                            }

                            > .foto{
                                z-index: 1;
                                animation-name: baixo_cima;
                                animation-delay: $ini_animacao + ($delay * $i) + 300ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease;
                                animation-fill-mode: both;
                            }
                        }

                        .info{
                            > .bg-fundo{
                                z-index: 5;

                                @keyframes abre_bg_fundo_info {
                                    from {   clip-path: inset( 0 0 100% 0 ); }
                                    to {   clip-path: inset( 0 0 50% 0 ); }
                                }
                                animation-name: abre_bg_fundo_info;
                                animation-delay: $ini_animacao + ($delay * $i) + 600ms;
                                animation-duration: 400ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease;
                                animation-fill-mode: both;
                            }

                            > .bg{
                                z-index: 10;

                                animation-name: baixo_cima;
                                animation-delay: $ini_animacao + ($delay * $i) + 300ms;
                                animation-duration: 300ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease;
                                animation-fill-mode: both;
                            }

                            p{
                                z-index: 10;

                                animation-name: baixo_cima;
                                animation-delay: $ini_animacao + ($delay * $i) + 300ms;
                                animation-duration: 300ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease;
                                animation-fill-mode: both;
                            }

                            > .bg-frente{
                                z-index: 25;
                                opacity: 1;

                                animation-name: passa_baixo_cima;
                                animation-delay: $ini_animacao + ($delay * $i) + 0ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease;
                                animation-fill-mode: both;
                            }

                            .logo{
                                z-index: 25;
                                animation-name: cima_baixo;
                                animation-delay: $ini_animacao + ($delay * $i) + 300ms;
                                animation-duration: 900ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease;
                                animation-fill-mode: both;
                            }

                            .box-logo{
                                animation-name: baixo_cima;
                                animation-delay: $ini_animacao + ($delay * $i) + 750ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease;
                                animation-fill-mode: both;
                            }
                        }
                    }
                }
            }
        }
    /* /ANIMAÇÃO */

    &.trocar-pagina{
        .conteudo{
            white-space: nowrap;

            .pagina{
                /* ANIMAÇÃO */
                    @keyframes troca_pagina {
                        0% { width: 1220px; }
                        100% { width: 0; }
                    }
                    animation-name: troca_pagina;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

        }
    }

    &.fechar{
        .conteudo{
            white-space: nowrap;

            > .bg{
                /* ANIMAÇÃO */
                    @keyframes fecha_bg {
                        0% { width: 1440px; }
                        100% { width: 0; }
                    }
                    animation-name: fecha_bg;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            header{
                margin: 0 auto;
                text-align: center;
                @keyframes fecha_header {
                    0% { opacity: 1; }
                    100% { opacity: 0; }
                }
                animation-name: fecha_header;
                animation-delay: 150ms;
                animation-duration: 350ms;
                animation-iteration-count: 1;
                animation-fill-mode: both;
            }
        }
    }
}
