#card3d {
    @import url("https://fonts.googleapis.com/css?family=Asar|Oxygen");

    @mixin center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    $size: 30px;
    $layer-gap: 20px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    -webkit-perspective: 1500;
    perspective: 1500;
    //font-family: 'Asar', serif;
    font-family: "Montserrat ExtraBold", "Montserrat";
    font-weight: 1200;
    user-select: none;
    @include center;

    animation-name: aparece;
    animation-delay: 0ms;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;

    .conteudo {
        position: absolute;
        width: 1920px;
        height: 1080px;
        color: #fff;
        > .bg {
            display: block;
            width: 1322px;
            margin: auto;
            transform: skew(-6.25deg);
            background: rgba(0, 0, 0, 0.7);
            height: 100%;
            overflow: hidden;
        }

        header {
            position: absolute;
            top: 90px;
            display: flex;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            > div {
                position: relative;

                &:first-child {
                    .bg-logo {
                        display: block;
                        width: 249px;
                        height: 129px;
                        background: #333;
                        @include bg_logo($cbp-azul, 249px, 129px);
                        position: absolute;
                        z-index: 0;
                    }

                    .logo {
                        z-index: 1;
                        position: relative;
                        display: inline-block;
                        width: 249px;
                        height: 129px;
                        background: url(../img/classificados-final/logo/brasileiro.png)
                            center center no-repeat;
                        margin-right: 10px;
                    }
                }

                &:last-child {
                    //font-family: "Montserrat";
                    white-space: nowrap;
                    overflow: hidden;

                    h2 {
                        font-size: 38px;
                        transform: scaleY(1.3);
                        color: #e49b00;
                        display: block;
                        font-style: italic;
                        padding-left: 10px;
                        margin: 15px 0 0;
                        //font-weight: 700;
                        letter-spacing: 1.5px;
                        text-shadow: 3px 3px 3px #000;
                        text-align: left;
                    }

                    p {
                        line-height: 42px;
                        text-align: left;
                        margin: 8px 0 0;
                        font-size: 22px;
                        //font-weight: 100;
                        letter-spacing: 1px;
                        text-shadow: 3px 3px 3px #000;
                        transform: scaleY(1.3);

                        img {
                            transform: scaleY(0.7);
                            float: left;
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
        footer {
            position: absolute;
            bottom: 10px;
            display: flex;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            font-style: italic;
            font-size: 80px;
            font-weight: 900;
            letter-spacing: 40px;
            color: #d49b24;
        }
        &.ativo footer {
            opacity: 0;
        }
    }
    .conteudo {
        header {
            > div {
                &:first-child {
                    .bg-logo {
                        animation-name: cima_baixo;
                        animation-delay: 0ms;
                        animation-duration: 400ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease;
                        animation-fill-mode: both;
                    }

                    .logo {
                        animation-name: cima_baixo;
                        animation-delay: 250ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease;
                        animation-fill-mode: both;
                    }
                }

                &:last-child {
                    @keyframes abre_texto {
                        0% {
                            max-width: 0;
                        }
                        100% {
                            max-width: 450px;
                        }
                    }
                    animation-name: abre_texto;
                    animation-delay: 650ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-fill-mode: both;
                }
            }
        }
    }

    &.abrir header {
        opacity: 0;
    }
    .card {
        z-index: 4;
        opacity: 1;
        margin: 20px;
        background-color: black;
        border-radius: 10px;
        -webkit-perspective: 1500;
        perspective: 1500;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
            all 0.5s ease-in-out;
        @include center;
        flex-direction: column;
        transform-style: preserve-3d;
        box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.2);

        width: 400px;
        height: 550px;

        h2,
        h3,
        p {
            transform: translateZ(2px);
            color: white;
            margin: 0;

            //font-weight: 300;
            padding: 0;
            transition: color 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out, font-size 0.5s ease-in-out, all 0.5s ease-in-out;
            font-size: 36px;
            line-height: 36px;
        }

        h2 {
            margin: 20px 0 0 0;
        }

        h3 {
            margin: 60px 0 40px 0;
            opacity: 1;
        }

        p {
            font-style: italic;
            margin: 0px 0 100px 0;
            font-size: 22.5px;
            letter-spacing: 10px;
        }

        &.abrir {
            h3 {
                margin: 20px 0 40px 0;
            }

            p {
                margin: 0px 0 40px 0;
            }
        }

        .chart {
            @include center;
            transform-style: preserve-3d;
            transform: translateZ(2px);
            transition: transform 0.5s ease-in-out;
        }

        .photo {
            position: absolute;
            transform: translateZ(1px);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: grey
                no-repeat center center;
            background-size: cover;
            border-radius: 10px;
            transition: transform 0.5s ease-in-out;
            overflow: hidden;

            &:after {
                position: absolute;
                content: " ";
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.2);
                transition: background-color 0.5s ease-in-out;
            }
        }

        .bar {
            will-change: height;
            width: $size;
            height: 1px;
            background-color: white;
            transform: translateX(- calc($size / 2)) rotateX(-90deg) rotateY(-45deg);
            transform-origin: 100% 100%;
            transition: height 0.5s ease-in-out, margin 0.5s ease-in-out,
                transform 0.5s ease-in-out;
            transform-style: preserve-3d;
            position: relative;
            background: linear-gradient(
                to bottom,
                #feffff 0%,
                #ffb703 0%,
                #ffb703 100%
            );
            margin: 10px;
            &.disabled {
                display: none;
            }
            &:after {
                display: block;
                content: "";
                height: 100%;
                width: $size;
                position: absolute;
                top: 0;
                right: -$size;
                background-color: grey;
                transform: rotateY(90deg);
                transform-origin: 0% 50%;
                background: linear-gradient(
                    to bottom,
                    #feffff 0%,
                    #d49b24 0%,
                    #d49b24 100%
                );
            }

            &:before {
                //font-family: 'Oxygen', sans-serif;
                display: block;
                content: "";
                height: $size;
                width: $size;
                position: absolute;
                top: -$size;
                left: 0;
                background-color: white;
                transform: rotateX(90deg);
                transform-origin: 0% 100%;
                color: white;
                text-align: center;
                padding: 0;
                font-size: 12px;
                line-height: 18px;

                transition: background-color 0.3s ease-in-out;
            }

            &.bar1:before {
                content: " ";
            }
            &.bar2:before {
                content: " ";
            }
            &.bar3:before {
                content: " ";
            }
            &.bar4:before {
                content: " ";
            }
            &.bar5:before {
                content: " ";
            }
            &.bar6:before {
                content: " ";
            }
            &.bar7:before {
                content: " ";
            }

            em {
                position: absolute;
                transform-origin: 0% 100%;
                white-space: nowrap;
                text-align: center;
                left: 0px;
                color: black;
                opacity: 0;
                transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
                font-size: 10px !important;
                font-weight: 900;
                line-height:1.3;
                top: 0px;
                overflow: hidden;
                width: $size;
                background-color: #ffb703;

            }

            span {
                //font-family: 'Oxygen', sans-serif;
                position: absolute;
                //transform: rotateY(-45deg);
                transform: rotateZ(-90deg) scale(0.9);
                border-radius: 2px;
                transform-origin: 0% 100%;
                white-space: nowrap;
                text-align: left;
                left: $size - 7px;
                font-weight: 900;
                //	background-color: rgba(255,255,255,0.75);
                padding: 5px;
                color: black;
                opacity: 0;
                transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
                font-size: 11px !important;
                //top: 71px;
                line-height:1.3;
                padding-bottom: 2px;
                bottom: 0px;
                overflow: hidden;
                width: 5px;
            }
        }
    }


    &.abrir .card .bar:before {
        background-color: #ffcd50;
    }

    &.abrir .card:not(.details) {
        transform: scale(0.2);
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
    }

    &.abrir .card.details {
        z-index: 10;
        transform: scale(2.5) rotateX(75deg) translateY(250px);
        box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.75);

        .chart {
            transform: translateZ($layer-gap * 2) translatey(50px);
        }
image.png
        .bar {
            // transform: translateX(-($size / 2)) rotateX(-90deg) rotateY(-25deg);
            transform: translateX(-(math.div($size , 2)) rotateX(-90deg) rotateY(25deg));


            &.bar1 {
                transition-delay: 0.3s;
            }
            &.bar2 {
                transition-delay: 0.2s;
            }
            &.bar3 {
                transition-delay: 0.1s;
            }
            &.bar4 {
                transition-delay: 0s;
            }
            &.bar5 {
                transition-delay: 0.1s;
            }
            &.bar6 {
                transition-delay: 0.2s;
            }
            &.bar7 {
                transition-delay: 0.3s;
            }

            $escala: 0.85;
            @for $i from 0 through 120 {
                &.barsize-#{$i} {
                    height: #{($i + 100 ) * $escala }px;
                    margin-top: #{((-$i)+100)  * $escala}px;
                    span {
                        width: #{($i + 95 ) * $escala }px;
                    }
                }
            }

            em, span {
                opacity: 1;
                transition-delay: 0.3s;
            }

            &:before {
                color: black;
            }
        }

        .photo {
            transform: translateZ($layer-gap);

            &:after {
                background-color: rgba(192,192,192,0.6);
            }
        }

        h2 {
            opacity: 1;
            transform: translateZ(40px) translateY(435px) rotateX(-90deg) scale(0.8);
            font-size: 28px;
            font-style: italic;
            font-weight: bolder;
            color: #ffb703;
            letter-spacing: 10px;
        }

        p {
            color: #000;
            transform: translateZ(54px) translateY(500px) rotateX(-90deg) scale(0.7);
            font-weight: bolder;
            font-size: 18px;
            letter-spacing: 4px;
        }

        h3 {
            opacity: 0;
            //transform: translateZ($layer-gap * 3) translateY(100px);
        }
    }

    .info {
        //font-family: 'Oxygen', sans-serif;
        color: white;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    &.fechar {
        animation-name: desaparece;
        animation-delay: 0ms;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }

    #card3d-tempos .photo {
        background: url(../img/card3d/tempo.jpg) center center no-repeat;
    }

    #card3d-iscas .photo {
        background: url(../img/card3d/iscas.jpg) center center no-repeat;
    }

    #card3d-modalidades .photo {
        background: url(../img/card3d/modalidades.jpg) center center no-repeat;
    }

    #card3d-especies .photo {
        background: url(../img/card3d/especies.jpg) center center no-repeat;
    }

}
