#dados_equipe{
    position: absolute;
    bottom: 115px;
    left: 170px;
    color: #FFF;
    height: 115px;

    .conteudo{
        transform: skew(6.25deg);
        position: relative;
        height: 87px;
        margin-bottom: 8px;

        .bg-num{
            position: absolute;
            top: 6px;
            left: 18px;
            width: 75px;
            height: 75px;
            overflow: hidden;
            transform: skew(-6.25deg);

            .bg{
                @include bg_posicao_num( $cbp-azul, $cbp-azul-sombra );
            }

            /* ANIMAÇÃO */
                animation-name: cima_baixo;
                animation-delay: 900ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease-out;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .num{
            position: absolute;
            top: 0;
            left: 0;
            width: 87px;
            height: 87px;
            background: url(../img/dados-equipe/bg-posicao.png) top left no-repeat;
            color: $cbp-amarelo;
            transform: skew(-6.25deg);

            span{
                display: block;
                line-height: 87px;
                font-size: 60px;
                transform: scaleY(1.6) skew(-30deg);
                font-family: 'Montserrat';
                font-weight: 600;
                letter-spacing: -7px;
                padding-left: 8px;
                text-align: center;
                text-indent: -20px;
            }

            .bolinha{
                position: absolute;
                top: 5px;
                right: 4px;
                font-size: 33px;
                text-shadow: -3px 0 black, 0 3px black, 0px 0 black, 0 -3px black;
                z-index: 999
            }
            /* ANIMAÇÃO */
                animation-name: baixo_cima;
                animation-delay: 1100ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .dupla{
            position: absolute;
            left: 75px;
            top: 12px;
            display: block;
            width: 491px;
            height: 69px;
            padding-left: 30px;
            transform: skew(-6.25deg);

            > .bg{
                position: absolute;
                top: 1px;
                left: 0;
                display: block;
                width: 481px;
                height: 63px;
                background: url(../img/dados-equipe/bg.png) top left no-repeat;

                /* ANIMAÇÃO */
                    animation-name: aparece;
                    animation-delay: 1150ms;
                    animation-duration: 200ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg-frente{
                position: absolute;
                left: 0;
                top: 0;

                .bg{
                    display: block;
                    width: 491px;
                    height: 69px;
                    margin-left: 28px;
                    /*background: rgba(0,255,0,0.5);*/
                    @include bg_gradiente( $cbp-verde, $cbp-verde-sombra, 491px, 69px, 0 35px 35px 0 );

                    &:before{
                        content: "";
                        display: block;
                        width: 30px;
                        height: 70px;
                        background: $cbp-verde;
                        transform: skew(-19deg);
                        position: absolute;
                        left: 11px;
                    }
                }

                /* ANIMAÇÃO */
                    animation-name: passa_cima_baixo;
                    animation-delay: 900ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg-fundo{
                position: absolute;
                left: 0;
                top: 0;

                .bg{
                    display: block;
                    width: 491px;
                    height: 69px;
                    margin-left: 28px;
                    /*background: rgba(0,255,0,0.5);*/
                    @include bg_gradiente( $cbp-verde, $cbp-verde-sombra, 491px, 69px, 0 35px 35px 0 );

                    &:before{
                        content: "";
                        display: block;
                        width: 30px;
                        height: 70px;
                        background: $cbp-verde;
                        transform: skew(-19deg);
                        position: absolute;
                        left: 11px;
                    }
                }

                /* ANIMAÇÃO */
                    animation-name: passa_baixo_cima;
                    animation-delay: 1300ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg-frente-cor2,
            .bg-frente-cor{
                position: absolute;
                left: 0;
                top: 0;

                .bg{
                    display: block;
                    width: 491px;
                    height: 69px;
                    margin-left: 28px;
                    /*background: rgba(0,255,0,0.5);*/
                    @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 491px, 69px, 0 35px 35px 0 );

                    &:before{
                        content: "";
                        display: block;
                        width: 30px;
                        height: 70px;
                        background: $cbp-azul;
                        transform: skew(-19deg);
                        position: absolute;
                        left: 11px;
                    }
                }

                /* ANIMAÇÃO */
                    animation-name: passa_cima_baixo;
                    animation-delay: 1700ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg-frente-cor{
                /* ANIMAÇÃO */
                    animation-name: passa_cima_baixo;
                    animation-delay: 1700ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg-frente-cor2{
                opacity: 0;
            }

            > p{
                margin: 0;
                transform: skew(-19deg) scaleY(1.1);
                font-size: 21px;
                margin-top: 6px;
                opacity: 0;

                /* ANIMAÇÃO */
                    animation-name: aparece;
                    animation-delay: 1150ms;
                    animation-duration: 200ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg-peso{
                position: absolute;
                right: 0;
                top: 0;

                .bg{
                    display: block;
                    width: 225px;
                    height: 69px;
                    margin-left: 28px;
                    /*background: rgba(0,255,0,0.5);*/
                    @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 198px, 69px, 0 35px 35px 0 );

                    &:before{
                        content: "";
                        display: block;
                        width: 30px;
                        height: 70px;
                        background: $cbp-azul;
                        transform: skew(-19deg);
                        position: absolute;
                        left: 11px;
                    }
                }

                /* ANIMAÇÃO */
                    animation-name: passa_baixo_cima;
                    animation-delay: 2300ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .peso{
                position: absolute;
                top: 0;
                right: 0;

                .bg{
                    display: block;
                    width: 225px;
                    height: 69px;
                    margin-left: 28px;
                    /*background: rgba(0,255,0,0.5);*/
                    @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 198px, 69px, 0 35px 35px 0 );

                    &:before{
                        content: "";
                        display: block;
                        width: 30px;
                        height: 70px;
                        background: $cbp-azul;
                        transform: skew(-19deg);
                        position: absolute;
                        left: 11px;
                    }
                }

                p{
                    position: absolute;
                    top: 23px;
                    left: 50px;
                    margin: 0;
                    transform: skew(-19deg) scaleY(1.3);
                    font-size: 28px;
                    margin-top: 5px;
                    opacity: 0;
                    text-shadow: 3px 3px 3px #000;

                    /* ANIMAÇÃO */
                        animation-name: aparece;
                        animation-delay: 3000ms;
                        animation-duration: 200ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }

                .peso-total{
                    position: absolute;
                    top: 0px;
                    left: 62px;
                    margin: 0;
                    font-size: 19px;
                    opacity: 0;
                    text-shadow: 3px 3px 3px #000;

                    /* ANIMAÇÃO */
                        animation-name: aparece;
                        animation-delay: 3000ms;
                        animation-duration: 200ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }
                /* ANIMAÇÃO */
                    animation-name: cima_baixo;
                    animation-delay: 2800ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }
        }
    }

    &.fechar{
        .conteudo{
            .dupla{
                .peso{
                    /* ANIMAÇÃO */
                        animation-name: fecha_baixo_cima;
                        animation-delay: 0ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }

                .bg-peso{
                    /* ANIMAÇÃO */
                        animation-name: passa_cima_baixo;
                        animation-delay: 550ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }

                .bg-frente-cor{
                    /* ANIMAÇÃO */
                        animation-name: passa_baixo_cima;
                        animation-delay: 1100ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }

                .bg-fundo{
                    /* ANIMAÇÃO */
                        animation-name: passa_cima_baixo;
                        animation-delay: 1600ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }

                .bg-frente-cor2{
                    opacity: 1;

                    /* ANIMAÇÃO */
                        animation-name: passa_baixo_cima;
                        animation-delay: 2100ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }

                > .bg, p{
                    /* ANIMAÇÃO */
                        animation-name: desaparece;
                        animation-delay: 2400ms;
                        animation-duration: 100ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }
            }

            .num{

                /* ANIMAÇÃO */
                    animation-name: fecha_cima_baixo;
                    animation-delay: 1500ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg-num{
                /* ANIMAÇÃO */
                    animation-name: fecha_baixo_cima;
                    animation-delay: 2000ms;
                    animation-duration: 400ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }
        }
    }

}

@mixin dados_equipe( $logo, $primaria, $primaria-sombra, $secundaria, $secundaria-sombra ) {
    .conteudo{
        .bg-num{
            .bg{
                @include bg_posicao_num( $primaria, $primaria-sombra );
            }
        }

        .num{
            color: $cbp-amarelo;
        }

        .dupla{
            .bg-frente{
                .bg{
                    @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                    &:before{
                        background: $secundaria;
                    }
                }
            }

            .bg-fundo{
                .bg{
                    @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                    &:before{
                        background: $secundaria;
                    }
                }
            }

            .bg-frente-cor2,
            .bg-frente-cor{
                .bg{
                    @include bg_gradiente( $primaria, $primaria-sombra, 491px, 69px, 0 35px 35px 0 );

                    &:before{
                        background: $primaria;
                    }
                }
            }

            .bg-peso{
                .bg{
                    @include bg_gradiente( $primaria, $primaria-sombra, 198px, 69px, 0 35px 35px 0 );

                    &:before{
                        background: $primaria;
                    }
                }
            }

            .peso{
                .bg{
                    @include bg_gradiente( $primaria, $primaria-sombra, 198px, 69px, 0 35px 35px 0 );

                    &:before{
                        background: $primaria;
                    }
                }
            }
        }
    }
}

.brasileiro{ #dados_equipe{ @include dados_equipe( 'brasileiro', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.catarinense{ #dados_equipe{ @include dados_equipe( 'catarinense', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde-claro, $cbp-verde-claro-sombra ); }}
.gaucho{ #dados_equipe{ @include dados_equipe( 'gaucho', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.goiano{ #dados_equipe{ @include dados_equipe( 'goiano', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.mineiro{ #dados_equipe{ @include dados_equipe( 'mineiro', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paranaense{ #dados_equipe{ @include dados_equipe( 'paranaense', $cbp-verde, $cbp-verde-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paulista{ #dados_equipe{ @include dados_equipe( 'paulista', $cbp-preto, $cbp-preto-sombra, $cbp-vermelho, $cbp-vermelho-sombra ); }}
