#top10_full{
		height: 100%;
    position: relative;
    z-index: 1;
		width: 100%;
    color: #FFFFFF;

    &.nodelay{
        .conteudo{
            .dupla{
                .peso{
                    animation-delay: 0ms !important;
                }
            }
            .posicao {
                .num {
                    animation-delay: 0ms !important;
                }
            }
        }
    }

    .conteudo{
			display: flex;
			height: calc(100% - 80px);
			flex-direction: column;
			width: calc(100% - 80px);
            padding: 40px;

        header{

            display: none !important;

					align-items: center;
					position: relative;
					top: 0;
					display: flex;
					width: 100%;
					overflow: hidden;
					margin: 0 auto;

            > div{
                position: relative;

                &:first-child{
                    .bg-logo{
                        display: block;
                        width: 249px;
                        height: 129px;
                        background: #333;
                        @include bg_logo( $cbp-azul, 249px, 129px );
                        position: absolute;
                        z-index: 0;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 0ms;
                            animation-duration: 400ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }

                    .logo{
                        z-index: 1;
                        position: relative;
                        display: inline-block;
                        width: 249px;
                        height: 129px;
                        background: url(../img/top10/logo/brasileiro.png) center center no-repeat;
                        margin-right: 10px;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 250ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }
                }

                &:last-child{
										font-family: 'Noto Sans', sans-serif;
										margin-left: 30px;
                    white-space: nowrap;

                    h2{
                        font-size: 44px;
                        color: $c-yellow;
                        display: block;
                        margin: 0;
                        font-weight: 700;
                        text-shadow: 3px 3px 3px #000;
                        text-align: left;
                    }

                    p{
                        line-height: 42px;
                        text-align: left;
                        margin: 0;
                        font-size: 22px;
                        font-weight: 100;
                        text-shadow: 3px 3px 3px #000;

                        img{
                            float: left;
                            margin: 0 10px 0 0;
                        }
                    }

                    /* ANIMAÇÃO */
                        @keyframes abre_texto {
                            0% { max-width: 0; }
                            100% { max-width: 450px; }
                        }
                        animation-name: abre_texto;
                        animation-delay: 650ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        /*animation-timing-function: ease-out;*/
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }
            }
        }

        > .bg{
            display: block;
						// margin: 40px 0 0 0;
						height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;

            /* ANIMAÇÃO */
                animation-name: abre_bg_top10;
                animation-delay: 250ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */

            .ranking{
							position: relative;
							overflow: hidden;
							white-space: nowrap;
							height: 100%;
							flex-wrap: wrap;
							display: flex;
							justify-content: space-between;

                .esquerda,
                .direita{
									display: flex;
									justify-content: space-between;
									flex-direction: column;
									width: 47.5%;
                                    // gap: 40px;
                }

                .posicao.posicao-extra{
                    display:none;
                }

                // &.posicao-extra{
                //     .direita{
                //         transform:translate(0,-43px);
                //     }
                //     .posicao.posicao-extra{
                //         display:block;
                //     }
                // }

                .posicao{
									background-color: $c-blue;
									border-top-left-radius: 100px;
									border-bottom-right-radius: 100px;
									position: relative;
									padding: 15px 20px;
                                    // padding: 20px;
									margin-bottom: 40px;
									display: flex;
									align-items: center;
									// width: 100%;

                                    height: 100%;

                    &:nth-child(5) {
                        margin-bottom: 0 !important;
                    }

                    &.desclassificado{
                        filter:grayscale(100%);
                    }


                    &.top-1 {
                        background-color: $c-green;
                    }

                    &.top-2,
                    &.top-3- {
                        background-color: $c-yellow;
                    }

                    &.top-3 {
                        .num {
                            span {
                                // font-size: 96px;
                                font-size: 120px;
                            }
                        }
                    }

                    .num{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        left: 0;
                        // width: 110px;
                        // height: 100px;
                        color: white;
                        animation-name: aparece;
                        
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-fill-mode: both;

                        span{
                            align-items: center;
                            display: flex;
                            line-height: 1;
                            text-shadow: 3px 3px 3px #000;
                            text-align: center;
                            font-size: 80px;
                            width: 120px;
                            justify-content: center;
                            position: relative;
                            font-family: "Noto Sans", sans-serif;
                            font-weight: 900;
                            transform: none;

                            &:before {
                                content: '#';
                                // font-size: 32px;
                                font-size: 40px;
																margin-right: 10px;
                            }
                        }
                    }

                    .dupla{
												position: relative;
												left: 0;
												top: 0;
												flex-direction: column;
												justify-content: center;
												display: flex;
												width: 100%;
												padding-left: 40px;
												height: 100%;

                        > p {

                                                    font-weight: 900;
                                                    font-size: 50px;
													font-family: "Noto Sans", sans-serif;
													line-height: 1.5;
													text-shadow: 3px 3px 3px #000;
													margin: 0;
													transform: none;

                            /* ANIMAÇÃO */
                                animation-name: aparece;
                                animation-delay: 1150ms;
                                animation-duration: 200ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }


                        .peso {
														display: block;
														// margin-top: -10px;
                            position: relative;

                            p{
															position: relative;
															margin: 0;
                                                            font-weight: 900;
															font-family: "Noto Sans", sans-serif;
                                                            font-size: 44px;
															line-height: 1.5;
															color: white;
															transform: none;
															text-shadow: 3px 3px 3px #000;

                                /* ANIMAÇÃO */
                                    animation-name: aparece;
                                    animation-duration: 200ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: both;
                                /* / ANIMAÇÃO */
                            }

                            /* ANIMAÇÃO */
                                animation-name: aparece;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-in;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }
                    }

                    &.trocar{
                        .dupla{
                            .peso{
                                 /* ANIMAÇÃO */
                                    animation-name: fecha_cima_baixo;
                                    animation-delay: 0ms !important;
                                    animation-duration: 300ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: both;
                                /* / ANIMAÇÃO */
                            }
                        }
                        .num {
                            animation-name: fecha_baixo_cima;
                            animation-delay: 0ms !important;
                            animation-duration: 300ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        }
                    }
                }

                $delay: 50;
                @for $i from 1 through 11 {
                    .#{if($i <= 6, 'esquerda', 'direita')}{
                        .posicao:nth-child(#{if( $i <= 6, $i, $i - 6)}){
													
													animation-name: aparece;
													animation-iteration-count: 1;
													animation-timing-function: ease-in;
													animation-fill-mode: both;
													animation-delay: #{($i * $delay) + 350}ms;

                            .bg-num{
                                animation-delay: #{($i * $delay) + 600}ms;
                            }

                            .num{
                                animation-delay: #{($i * $delay) + 750}ms;
                            }

                            .dupla{
                                > p{
                                    animation-delay: #{($i * $delay) + 850}ms;
                                }

                                .peso{
                                    p{
                                        animation-delay: #{($i * $delay) + 900}ms;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.fechar{
        .conteudo{
            white-space: nowrap;

            > .bg{
                /* ANIMAÇÃO */
                    @keyframes fecha_bg {
                        0% { width: 1440px; }
                        100% { width: 0; }
                    }
                    animation-name: fecha_bg;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            header{
                margin: 0 auto;
                text-align: center;
                @keyframes fecha_header {
                    0% { opacity: 1; }
                    100% { opacity: 0; }
                }
                animation-name: fecha_header;
                animation-delay: 150ms;
                animation-duration: 350ms;
                animation-iteration-count: 1;
                animation-fill-mode: both;
            }
        }
    }
}


@mixin top10_full( $logo, $primaria, $primaria-sombra, $secundaria, $secundaria-sombra ) {
    .conteudo{
        header{
            > div{
                &:first-child{
                    .bg-logo{
                        @include bg_logo( $primaria, 249px, 129px );
                    }

                    .logo{
                        background: url('../img/top10/logo/' + $logo + '.png') center center no-repeat;
                    }
                }
            }
        }

        > .bg{
            .ranking{
                .posicao{
                    .bg-num{
                        .bg{
                            @include bg_posicao_num( $primaria, $primaria-sombra );
                        }
                    }

                    .num{
                        // color: $cbp-amarelo;
                    }

                    .dupla{
                        .bg-frente{
                            .bg{
                                @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $secundaria;
                                }
                            }
                        }

                        .bg-fundo{
                            .bg{
                                @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $secundaria;
                                }
                            }
                        }

                        .bg-frente-cor{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }

                        .bg-peso{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 198px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }

                        .peso{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 198px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
brasileiro:  azul e verde;
catarinense: verde-claro e vermelho;
gaucho:      vermelho e verde;
goiano:      azul e verde;
mineiro:     branco e vermelho;
paranaense:  branco e verde;
paulista:    preto e vermelho;
*/

.brasileiro{ #top10_full{ @include top10_full( 'brasileiro', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.catarinense{ #top10_full{ @include top10_full( 'catarinense', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde-claro, $cbp-verde-claro-sombra ); }}
.gaucho{ #top10_full{ @include top10_full( 'gaucho', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.goiano{ #top10_full{ @include top10_full( 'goiano', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.mineiro{ #top10_full{ @include top10_full( 'mineiro', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paranaense{ #top10_full{ @include top10_full( 'paranaense', $cbp-verde, $cbp-verde-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paulista{ #top10_full{ @include top10_full( 'paulista', $cbp-preto, $cbp-preto-sombra, $cbp-vermelho, $cbp-vermelho-sombra ); }}
