#top10_ranking{
    position: absolute;
    top: 73px;
    left: 100px;
    width: 325px;

    .conteudo{

        > .bg{
            position: relative;
            display: block;
            width: 312px;
            height: 935px;
            margin-left: 5px;
            background-color: rgba($cbp-azul, 0.3);
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;

            .rodape{
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba($cbp-azul, 0.8);
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;
                padding: 8px 10px 5px;
                color: #FFF;
                text-align: center;

                p{
                    font-family: 'Montserrat';
                    font-style: italic;
                    margin: 0 0 10px;

                    b{
                        transform: scaleY(1.3);
                        font-weight: 800;
                        display: block;
                        font-size: 22px;
                        /*text-shadow: 3px 3px 3px rgba(0,0,0,0.5);*/
                        margin-bottom: 3px;
                    }

                    small{
                        font-size: 13px;

                        i{
                            display: inline-block;
                            width: 16px;
                            height: 22px;
                            background: url(../img/pin.png) center center no-repeat;
                            background-size: contain;
                            margin-bottom: -5px;
                        }
                    }
                }

                .hora{
                    transform: scaleY(1.2);
                    font-size: 25px;
                    font-family: 'Montserrat';
                    font-style: italic;
                    display: block;
                    padding: 2px;
                    color: $cbp-amarelo;
                    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);

                    font-weight: normal;
                    letter-spacing: 2px;
                    margin: 0 15px 6px;
                }

                .logo{
                    display: block;
                    width: 160px;
                    height: 90px;
                    background: url(../img/top10/logo/brasileiro.png) center center no-repeat;
                    background-size: contain;
                    margin: 8px auto 0;
                }
            }

        }

        .ranking{
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            // background: rgba(0,0,0,0.5);
            width: 100%;
            height: 560px;
            .nomes{
                position: relative;
                z-index: 1;
                .posicao{
                    &.top-3 .info,
                    .info{
                        height: 100px;
                    }

                }
            }
            .posicoes{
                position: relative;
                z-index: 1000;
            }
            .posicao{
                position: relative;
                display: block;
                //zoom:0.9;
                transform: scale(0.9) translate(-18px,0);
                height: 74px;
                width: 420px;
                &.desclassificado{
                    filter:grayscale(100%);
                }
                .num{
                    z-index:999;
                    zoom:0.7;
                    position: absolute;
                    top: 0;
                    left: 25px;

                    > .bg{
                        z-index:1000;
                        position: absolute;
                        top: 13px;
                        left: 7px;
                        display: block;
                        width: 52px;
                        height: 52px;
                        overflow: hidden;

                        &:after{
                            content: '';
                            position: absolute;
                            right: 0;
                            @include bg_posicao_num( $cbp-azul, $cbp-azul-sombra, 52px, 52px );
                            box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
                        }

                    }

                    .texto{
                        z-index:1001;
                        position: absolute;
                        top: 4px;
                        left: 0;
                        display: block;
                        width: 57px;
                        height: 57px;
                        overflow: hidden;
                        img,
                        b{
                            position: absolute;
                            top: 0;
                            right: 20px;
                            left: 0;
                            z-index: 1;
                        }

                        b{
                            font-family: 'Montserrat';
                            font-weight: 500;
                            font-size: 46px;
                            color: $cbp-amarelo;
                            display: block;
                            transform: skew(-15deg) scaleY(1.3);
                            text-align: center;
                            letter-spacing: -7px;
                        }

                        img{
                            max-width: 100%;
                            margin-left: -3px;
                            display:none;
                        }

                        &:after{
                            position: absolute;
                            right: 0;
                            top: 0;
                            content: '';
                            @include bg_posicao_num( #333, #393939, 57px, 57px );
                            box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
                        }

                    }
                }

                .info{
                    position: absolute;
                    left: 0;
                    right: 6px;
                    top: 0;
                    height: 65px;
                    z-index:100;

                    .bg-fundo{

                        position: absolute;
                        top: 26px;
                        left: 5px;
                        z-index: 0;

                        .bg{
                            margin-left: 8px;
                            @include bg_gradiente( $cbp-amarelo, $cbp-amarelo-sombra, 385px, 50px, 0 25px 25px 0 );

                            &:before{
                                content: "";
                                position: absolute;
                                left: 11px;
                                display: block;
                                width: 30px;
                                height: 50px;
                                background: $cbp-amarelo;
                                transform: skew(-19deg);
                            }
                        }

                    }

                    > .bg{
                        position: absolute;
                        top: 25px;
                        left: 0;
                        display: block;
                        width: 404px;
                        height: 60px;
                        background: url(../img/top10/bg-ranking-menor.png) top left no-repeat;

                        z-index: 0;
                    }

                    .texto{
                        font-family: 'Montserrat';
                        font-weight: normal;
                        position: absolute;
                        top: 6px;
                        left: 25px;
                        z-index: 1;
                        color: #FFF;
                        transform: scaleY(1.3);
                        font-style: italic;
                        font-size: 26px;
                        /*text-shadow: 3px 3px 3px rgba(0,0,0,0.5);*/
                        .nome{
                            position: absolute;
                            top:24px;
                            left: 0;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 370px;
                            z-index: 90;
                        }
                        .peso{
                            letter-spacing: 1px;
                            position: absolute;
                            left: 5px;
                            display: block;
                            font-size: 23px;
                            line-height: 23px;
                            font-weight: normal;
                            color: $cbp-amarelo;
                            z-index: 91;
                            .bg{
                                position: relative;
                                top: -2px;

                                b{
                                    padding-left: 30px;
                                    display: block;
                                    position: relative;
                                    white-space: nowrap;
                                    z-index: 1;
                                    padding-top: 1px;
                                }

                                &:before{
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: -10px;
                                    right: -10px;
                                    display: block;
                                    background: $cbp-azul;
                                    display: block;
                                    padding: 0 10px;
                                    transform: skew(-20deg);
                                    width: 100%;
                                    opacity: 1;
                                    height: 25px;
                                    z-index: 0;
                                }
                            }

                            .bg-frente{
                                // display: none !important;
                                position: absolute;
                                top: -2px;
                                left: -10px;
                                right: -10px;
                                background: $cbp-azul;
                                display: block;
                                padding: 1px 10px;
                                transform: skew(-20deg);
                                width: 100%;
                                opacity: 1;
                                height: 20px;
                                z-index: 2;
                            }

                        }
                    }

                }

                > .bg-frente {
                    position: absolute;
                    top: 25px;
                    left: 0px;
                    z-index: 1008;

                    .bg{
                        margin-left: 15px;
                        @include bg_gradiente( $cbp-amarelo, $cbp-amarelo-sombra, 388px, 56px, 0 25px 25px 0 );

                        &:before{
                            content: "";
                            position: absolute;
                            left: 11px;
                            display: block;
                            width: 30px;
                            height: 50px;
                            background: $cbp-amarelo;
                            transform: skew(-19deg);
                            // box-shadow: -2px 2px 2px 0 rgba(0,0,0,0.5);
                        }
                    }
                }


                &.top-3{
                    height: 79px;
                    transform: scale(1);
                    &.mp{
                        .num{
                            .texto{
                                b{
                                    color:transparent;
                                }
                                img{
                                    display:block;
                                }
                            }
                        }
                    }
                    .num{
                        .texto{
                            b{
                                color: #111;
                                font-weight: 800;
                                text-align: center;
                            }
                            img{
                                display:none;
                            }

                            &:after{
                                content: '';
                                @include bg_posicao_num( $cbp-amarelo, $cbp-amarelo-sombra, 57px, 57px );
                            }
                        }
                    }

                    .info{
                        left: 0px;
                        right: 6px;
                        top: 0;
                        height: 67px;

                        .bg-fundo{
                            .bg{
                                @include bg_gradiente( $cbp-amarelo, $cbp-amarelo-sombra, 244px, 50px, 0 25px 25px 0 );

                                &:before{
                                    content: "";
                                    left: 11px;
                                    width: 30px;
                                    height: 50px;
                                    background: $cbp-amarelo;
                                }
                            }

                        }

                        > .bg{
                            /*height: 48px;*/
                        }

                        .texto{

                            left: 21px;

                            /*text-shadow: 3px 3px 3px rgba(0,0,0,0.5);*/

                            .peso{
                                left: 5px;

                                .bg{
                                    top: -2px;

                                    &:before{
                                        content: '';
                                        top: 0;
                                        left: -10px;
                                        right: -10px;
                                        background: $cbp-azul;
                                        padding: 0 10px;
                                        width: 100%;
                                        /*height: 20px;*/
                                    }
                                }

                                .bg-frente{
                                    top: -2px;
                                    left: -10px;
                                    right: -10px;
                                    background: $cbp-azul;
                                    padding: 1px 10px;
                                    width: 100%;
                                    /*height: 20px;*/
                                }

                            }
                        }

                    }

                    > .bg-frente {
                        //top: 0;
                        //left: 37px;

                        .bg{
                            //margin-left: 30px;
                            @include bg_gradiente( $cbp-amarelo, $cbp-amarelo-sombra, 388px, 56px, 0 25px 25px 0 );

                            &:before{
                                content: "";
                                left: 11px;
                                width: 30px;
                                height: 50px;
                                background: $cbp-amarelo;
                            }
                        }
                    }
                }

            }
        }
    }


    /* ANIMAÇÕES */
    $inicio_animacao: 250ms;

    .conteudo{

        > .bg{
            animation-name: cima_baixo;
            animation-delay: 0ms;
            animation-duration: 700ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
        }

        .ranking{
            .posicao{
                .num{
                    > .bg{
                        animation-name: cima_baixo;
                        animation-delay: $inicio_animacao;
                        animation-duration: 300ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: both;
                    }

                    .texto{
                        animation-name: baixo_cima;
                        animation-delay: $inicio_animacao + 150ms;
                        animation-duration: 300ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-fill-mode: both;
                    }
                }

                > .bg-frente{
                    animation-name: passa_cima_baixo;
                    animation-delay: $inicio_animacao + 250ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                }

                .info{

                    .texto{
                        animation-name: aparece;
                        animation-delay: $inicio_animacao + 200ms;
                        animation-duration: 100ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: both;
                    }

                    animation-name: cima_baixo;
                    animation-delay: $inicio_animacao + 450ms;
                    animation-duration: 500ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: both;

                    .bg-fundo{
                        @keyframes cima_baixo_parcial {
                            from { clip-path: inset( 100% 0 0 0 ); }
                            to   { clip-path: inset( 55% 0 0 0 );    }
                        }
                        animation-name: cima_baixo_parcial;
                        animation-delay: $inicio_animacao + 800ms;
                        animation-duration: 200ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-fill-mode: both;
                    }

                    .texto{
                        .peso{
                            .bg-frente{
                                animation-name: passa_esquerda_direita;
                                animation-delay: $inicio_animacao + 900ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-in;
                                animation-fill-mode: both;
                            }

                            .bg{
                                animation-name: aparece;
                                animation-delay: $inicio_animacao + 1200ms;
                                animation-duration: 200ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-in;
                                animation-fill-mode: both;
                            }
                        }
                    }
                }
            }
        }
    }

    $delay: 150ms;
    @for $i from 1 through 11 {
        $delay_ms: ($i * $delay) + $inicio_animacao;

        .conteudo{
            .ranking{
                .posicao[data-posicao="#{$i}"]{ //:nth-child(#{$i}){

                    .num{
                        > .bg{
                            animation-delay: $delay_ms;
                        }

                        .texto{
                            animation-delay: $delay_ms + 150ms;
                        }
                    }

                    > .bg-frente{
                        animation-delay: $delay_ms + 250ms;
                    }

                    .info{

                        .texto{
                            animation-delay: $delay_ms + 200ms;
                        }

                        animation-delay: $delay_ms + 450ms;

                        .bg-fundo{
                            animation-delay: $delay_ms + 800ms;
                        }

                        .texto{
                            .peso{
                                .bg-frente{
                                    animation-delay: $delay_ms + 900ms;
                                }

                                .bg{
                                    animation-delay: $delay_ms + 1200ms;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.fechar{
        .conteudo{
            .ranking{
                .posicao{
                    .info{
                        .texto{
                            .peso{
                                .bg-frente{
                                    animation-name: passa_direita_esquerda;
                                    // animation-delay: 0ms;
                                    animation-duration: 600ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-in;
                                    animation-fill-mode: both;
                                }

                                .bg{
                                    // animation-name: fecha_direita_esquerda;
                                    animation-name: desaparece;
                                    // animation-delay: 400ms;
                                    animation-duration: 100ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-in;
                                    animation-fill-mode: both;
                                }
                            }
                        }

                        .bg-fundo{
                            @keyframes baixo_cima_parcial {
                                from { clip-path: inset( 55% 0 0 0 ); }
                                to   { clip-path: inset( 100% 0 0 0 );    }
                            }
                            animation-name: baixo_cima_parcial;
                            // animation-delay: 1650ms;
                            animation-duration: 200ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-in;
                            animation-fill-mode: both;
                        }
                    }

                    > .bg-frente{
                        animation-name: passa_baixo_cima;
                        // animation-delay: $inicio_animacao + 250ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-fill-mode: both;
                    }

                    .info{
                        animation-name: fecha_cima_baixo;
                        // animation-delay: $inicio_animacao + 450ms;
                        animation-duration: 500ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: both;
                    }

                    .num{
                        > .bg{
                            animation-name: fecha_baixo_cima;
                            // animation-delay: $inicio_animacao;
                            animation-duration: 200ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        }

                        .texto{
                            animation-name: fecha_cima_baixo;
                            // animation-delay: $inicio_animacao + 150ms;
                            animation-duration: 300ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-in;
                            animation-fill-mode: both;
                        }
                    }

                }
            }

            > .bg{
                animation-name: fecha_baixo_cima;
                animation-delay: 1800ms;
                animation-duration: 2200ms;
                animation-iteration-count: 1;
                animation-timing-function: ease-out;
                animation-fill-mode: both;
            }
        }

        $delay: 150ms;
        @for $i from 1 through 11 {
            $delay_ms: ((11 - ($i - 1)) * $delay);

            .conteudo{
                .ranking{
                    .posicao[data-posicao="#{$i}"]{ //:nth-child(#{$i}){

                        .info{
                            .texto{
                                .peso{
                                    .bg-frente{
                                        animation-delay: $delay_ms + 0ms;
                                    }

                                    .bg{
                                        animation-delay: $delay_ms + 400ms;
                                    }
                                }
                            }

                            .bg-fundo{
                                animation-delay: $delay_ms + 1500ms;
                            }
                        }

                        > .bg-frente{
                            animation-delay: $delay_ms + 1650ms;
                        }

                        .info{
                            animation-delay: $delay_ms + 1850ms;
                        }


                        .num{
                            > .bg{
                                animation-delay: $delay_ms + 2100ms;
                            }

                            .texto{
                                animation-delay: $delay_ms + 1900ms;
                            }
                        }

                    }
                }
            }
        }
    }
    .conteudo{
        .ranking {
            .nomes {
                .posicao{
                    &.nodelay{
                        .info{
                            animation-delay: 50ms;
                            .texto{
                                animation-delay: 200ms;
                            }

                            .bg-fundo{
                                animation-delay: 0ms;
                            }
                            .texto{
                                .peso{
                                    .bg-frente{
                                        animation-delay: 900ms;
                                    }

                                    .bg{
                                        animation-delay: 1200ms;
                                    }
                                }
                            }
                        }
                        > .bg-frente{
                            animation-delay: 0ms;
                            animation-duration: 500ms;
                            animation-name: fecha_cima_baixo;
                        }
                    }
                    &.alternar{
                        > .bg-frente{
                            animation-delay: 0ms;
                            animation-name: baixo_cima;
                            animation-delay: 0ms;
                            animation-duration: 200ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        }
                    }
                }
            }
        }
    }

    /* POSICIONAMENTO ABSOLUTO INICIAL */
    @for $i from 1 through 11 {
        .conteudo{
            .ranking{
                .nomes .posicao:nth-child(#{$i}){
                    transition: 1s all;
                    position: absolute ;
                    //top: #{ ( $i - 1  )  * 63  }px;
                    top: #{ ( $i - 1  )  * if($i<4, 79, 74) + if($i<4, 0, 15) }px;
                    left: 0;
                }
            }
        }
    }
    /* / ANIMAÇÕES */

}

@mixin top10_ranking( $logo, $primaria, $primaria-sombra, $secundaria, $secundaria-sombra ) {

    .conteudo{

        > .bg{
            background-color: rgba($primaria, 0.3);
            //background-color: rgba(#000, 1);

            .rodape{
                background-color: rgba($primaria, 0.8);

                .logo{
                    background-image: url('../img/top10/logo/' + $logo + '.png');
                }

            }

        }

        .ranking{
            .posicao{
                .num{
                    > .bg{
                        &:after{
                            @include bg_posicao_num( $primaria, $primaria-sombra, 52px, 52px );
                        }
                    }
                }

                .info{
                    .bg-fundo{
                        .bg{
                            @include bg_gradiente( $secundaria, $secundaria-sombra, 385px, 54px, 0 25px 25px 0 );

                            &:before{
                                background: $secundaria;
                            }
                        }
                    }
                    .texto{
                        .peso{
                            // amarelo: brasileiro, gaucho,
                            // branco: catarinense, paranaense, paulista, goiano, mineiro
                            @if $logo == brasileiro or $logo == gaucho {
                                color: $cbp-amarelo;
                            } @else {
                                color: #FFF;

                            }
                            .bg{
                                &:before{
                                    background: rgba($primaria,0.8);
                                }
                            }
                            .bg-frente{
                                background: $primaria;
                            }
                        }
                    }
                }

                > .bg-frente{
                    .bg{
                        @include bg_gradiente( $secundaria, $secundaria-sombra, 388px, 56px, 0 25px 25px 0 );
                        &:before{
                            background: $secundaria;
                        }
                    }
                }

                &.top-3{
                    .info{
                        .bg-fundo{
                            .bg{
                                @include bg_gradiente( $secundaria, $secundaria-sombra, 385px, 54px, 0 25px 25px 0 );
                                &:before{
                                    background: $secundaria;
                                }
                            }

                        }
                        .texto{
                            .peso{
                                .bg{
                                    &:before{
                                        /*background: $primaria;*/
                                    }
                                }
                                .bg-frente{
                                    background: $primaria;
                                }
                            }
                        }
                    }

                    > .bg-frente{
                        .bg{
                            @include bg_gradiente( $secundaria, $secundaria-sombra, 388px, 56px, 0 25px 25px 0 );
                            &:before{
                                background: $secundaria;
                            }
                        }
                    }
                }
            }
        }
    }

}

.brasileiro{  #top10_ranking{ @include top10_ranking( 'brasileiro',  $cbp-azul,     $cbp-azul-sombra,     $cbp-verde,       $cbp-verde-sombra       ); }}
.catarinense{ #top10_ranking{ @include top10_ranking( 'catarinense', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde-claro, $cbp-verde-claro-sombra ); }}
.gaucho{      #top10_ranking{ @include top10_ranking( 'gaucho',      $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde,       $cbp-verde-sombra       ); }}
.goiano{      #top10_ranking{ @include top10_ranking( 'goiano',      $cbp-azul,     $cbp-azul-sombra,     $cbp-verde,       $cbp-verde-sombra       ); }}
.mineiro{     #top10_ranking{ @include top10_ranking( 'mineiro',     $cbp-vermelho, $cbp-vermelho-sombra, $cbp-branco,      $cbp-branco-sombra      ); }}
.paranaense{  #top10_ranking{ @include top10_ranking( 'paranaense',  $cbp-verde,    $cbp-verde-sombra,    $cbp-branco,      $cbp-branco-sombra      ); }}
.paulista{    #top10_ranking{ @include top10_ranking( 'paulista',    $cbp-preto,    $cbp-preto-sombra,    $cbp-vermelho,    $cbp-vermelho-sombra    ); }}
