* {
  font-family: tahoma;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

body {
  background: #808080;
  padding: 20px;
  max-width: 1440px;
}

#bg-referencia {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 900px;
  background-color: #CCC;
  display: block;
}

.preview-iframe {
  zoom: 0.5;
  display: block;
  margin: auto;
  width: 1920px;
  height: 1080px;
  border: 2px solid #909090;
  background: rgba(0, 0, 0, 0.4);
}

.button-preview {
  border-color: #28a745 !important;
  background: #28a745 !important;
}
.button-preview:hover {
  background: #1e7e34 !important;
}
.button-preview.com-filhos {
  border-color: #ffc107 !important;
  background: #ffc107 !important;
}
.button-preview.com-filhos:hover {
  background: #d39e00 !important;
}

.button-producao {
  border-color: #dc3545 !important;
  background: #dc3545 !important;
}
.button-producao:hover {
  background: #bd2130 !important;
}

.botoes {
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}
.botoes .btn {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}
.botoes .fs {
  position: relative;
}
.botoes .fs:after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #F00 transparent transparent;
}

.btn.btn-xl {
  padding: 35px 20px;
}
.btn.btn-black {
  background-color: #000;
  color: #FFF;
}

form {
  background-color: #EFEFEF;
  padding: 15px;
}
form .form-group {
  margin-bottom: 8px;
}
form .form-group label {
  font-size: 11px;
  margin: 0 0 -1px;
  display: block;
}

.etapas {
  margin-bottom: 30px;
}
.etapas button {
  opacity: 0.2;
}
.etapas button img {
  width: 150px;
}
.etapas button:hover {
  opacity: 0.8;
}
.etapas button.ativo {
  opacity: 1;
  background-color: #28a745;
}

.form-control-xs {
  height: calc(1em + 0.375rem + 2px) !important;
  padding: 0.125rem 0.25rem !important;
  font-size: 0.75rem !important;
  line-height: 1.5;
  border-radius: 0.2rem;
}/*# sourceMappingURL=controle.css.map */