#apresentacao_duplas {
  position: absolute;
  top: 50px;
  left: 70px;
  width: calc(100% - 140px);

  .apresentacao-header {
    display: flex;
    width: 560px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .logo {
      display: block;
      z-index: 10;
      display: block;
      width: 160px;
      height: 90px;
      position: absolute;
      left: 0;
      top: 2px;

      background: url(../img/logos/CBP4_CBP.png);
      background-size: contain;
      background-repeat: no-repeat;

      // &.logo-gaucho {
      // 	background: url(../img/top10/logo/gaucho.png);
      // 	background-size: contain;
      // 	background-repeat: no-repeat;
      // }

      // &.logo-catarinense {
      // 	background-image: url(../img/top10/logo/catarinense.png);
      // 	background-size: contain;
      // 	background-repeat: no-repeat;
      // }

      // &.logo-paranaense {
      // 	background-image: url(../img/top10/logo/paranaense.png);
      // 	background-size: contain;
      // 	background-repeat: no-repeat;
      // }

      // &.logo-goiano {
      // 	background-image: url(../img/top10/logo/goiano.png);
      // 	background-size: contain;
      // 	background-repeat: no-repeat;
      // }

      // &.logo-paulista {
      // 	background-image: url(../img/top10/logo/paulista.png);
      // 	background-size: contain;
      // 	background-repeat: no-repeat;
      // }

      // &.logo-mineiro {
      // 	background-image: url(../img/top10/logo/mineiro.png);
      // 	background-size: contain;
      // 	background-repeat: no-repeat;
      // }
    }

    .etapa {
      background-color: var(--bg-inner);
      border-radius: 30px;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      margin-left: 120px;
      position: relative;
      width: 540px;
      z-index: 9;
    }

    .etapa {
      border-bottom: 6px solid var(--c-yellow);
      justify-content: center;
      flex-direction: column;
    }

    .nome,
    .local {
      display: block;
      text-transform: uppercase;
      padding-left: 60px;
      padding-right: 20px;
    }

    .nome {
      color: #ffffff;
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 12px;
      position: relative;
    }

    .local {
      color: var(--c-subtitle);
      font-size: 20px;
      position: relative;
      padding-bottom: 12px;
    }
  }

  .competidores {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 200px;
    position: relative;

    .posicao {
      border-radius: 30px;
      display: flex;
      background-color: var(--c-blue);
      flex-wrap: wrap;
      border-bottom: 6px solid var(--c-yellow);
      width: 760px;
      margin-bottom: 40px;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      position: relative;
      z-index: 9;
      padding: 0 16px;

      .foto {
        display: block;
        position: relative;
        width: 240px;
        height: 170px;
        right: -10px;
        z-index: 15;
      }

      .nomes {
        color: #ffffff;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0 16px;
      }

      .logo {
        display: block;
        width: 210px;
        height: 150px;
        background: url(../img/logos/CBP4_CBP.png) center center no-repeat;
        background-size: contain;
      }
    }
  }
}

// Animações
#apresentacao_duplas {
  .apresentacao-header {
    .logo {
      animation-name: abrindo_logo;
      animation-delay: 200ms;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
    }

    .etapa {
      animation-name: abrindo_width;
      animation-delay: 200ms;
      animation-duration: 400ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
      width: 0;
      overflow: hidden;

      .local,
      .nome {
        animation-name: abrindo_opacidade;
        animation-delay: 400ms;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: both;
      }
    }
  }

  $inicio_animacao: 50ms;
  $delay: 25ms;

  @for $i from 1 through 11 {
    $delay_ms: ($i * $delay) + $inicio_animacao;

    .posicao[data-posicao-final="#{$i}"] {
      animation-delay: $delay_ms + 25ms;

      .logo {
        animation-delay: $delay_ms + 50ms;
      }

      .nomes {
        animation-delay: $delay_ms + 75ms;
      }

      .foto {
        animation-delay: $delay_ms + 100ms;
      }
    }
  }

  .posicao {
    animation-name: esquerda_direita;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

    .logo,
    .nomes,
    .foto {
      animation-name: baixo_cima;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-fill-mode: both;
    }
  }

  &.fechar {
    .apresentacao-header {
      .logo,
      .etapa {
        animation-name: fecha_direita_esquerda;
        animation-delay: 200ms;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }

    .posicao {
      animation-name: fecha_direita_esquerda;
      animation-delay: 200ms;
      animation-duration: 400ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: both;

      .logo,
      .nomes,
      .foto {
        animation-name: fecha_cima_baixo;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
  }
}

@keyframes abrindo_width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes abrindo_opacidade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes abrindo_logo {
  from {
    clip-path: inset(0 0 100% 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}
