#bug{
    position: absolute;
    display: block;
    right: 70px;
    top: 35px;
    z-index: 65535;
    /*
    background: url(../img/fishtv.svg) right top no-repeat #F00;
    background-size: cover;
    */

    img{
        width: 170px;
    }

    &.trocar{}

    &.fechar{}

}
