#classificados_final{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: #FFF;

    .conteudo{
        position: relative;
        width: 1440px;

        header{
            position: absolute;
            top: 170px;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1440px;
            overflow: hidden;
            margin: 0 auto;

            > div{
                position: relative;

                &:first-child{
                    .bg-logo{
                        display: block;
                        width: 249px;
                        height: 129px;
                        background: #333;
                        @include bg_logo( $cbp-azul, 249px, 129px );
                        position: absolute;
                        z-index: 0;
                    }

                    .logo{
                        z-index: 1;
                        position: relative;
                        display: inline-block;
                        width: 249px;
                        height: 129px;
                        background: url(../img/classificados-final/logo/brasileiro.png) center center no-repeat;
                        margin-right: 10px;
                    }
                }

                &:last-child{
                    font-family: 'Montserrat';
                    white-space: nowrap;
                    overflow: hidden;

                    h2{
                        font-size: 38px;
                        transform: scaleY(1.3);
                        color: #e49b00;
                        display: block;
                        font-style: italic;
                        padding-left: 10px;
                        margin: 15px 0 0;
                        font-weight: 700;
                        letter-spacing: 1.5px;
                        text-shadow: 3px 3px 3px #000;
                        text-align: left;
                    }

                    p{
                        line-height: 42px;
                        text-align: left;
                        margin: 8px 0 0;
                        font-size: 22px;
                        font-weight: 100;
                        letter-spacing: 1px;
                        text-shadow: 3px 3px 3px #000;
                        transform: scaleY(1.3);

                        img{
                            transform: scaleY(0.7);
                            float: left;
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }

        > .bg{
            display: block;
            width: 1322px;
            margin: auto;
            transform: skew(-6.25deg);
            background: rgba(0,0,0,0.7);
            height: 100%;
            overflow: hidden;

            .ranking{
                position: absolute;
                top: 370px;
                left: 100px;
                right: 100px;
                height: 505px;
                overflow: hidden;
                white-space: nowrap;

                .posicao{
                    transform: skew(6.25deg);
                    position: relative;
                    height: 87px;
                    margin: 0 auto 15px;
                    width: 640px;
                    zoom: 1.28;

                    .bg-num{
                        position: absolute;
                        top: 6px;
                        left: 8px;
                        width: 93px;
                        height: 87px;
                        overflow: hidden;

                        .bg{
                            @include bg_posicao_num( $cbp-azul, $cbp-azul-sombra, 93px, 87px );
                        }
                    }

                    .num{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 87px;
                        height: 87px;
                        background: url(../img/classificados-final/bg-posicao-gold.png) top left no-repeat;
                        background-size: cover;
                        color: $cbp-preto;
                        text-align: center;
                        text-indent: -30px;

                        span{
                            display: block;
                            line-height: 87px;
                            font-size: 69px;
                            transform: scaleY(1.6) skew(-15deg);
                            font-family: 'Montserrat';
                            font-weight: 800;
                            letter-spacing: -7px;
                            padding-left: 8px;
                            color: #14140f;

                            animation-name: cima_baixo;
                            animation-delay: 0ms;
                            animation-duration: 300ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        }

                        &:before{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 3px;
                            left: -4px;
                            right: 19px;
                            bottom: 3px;
                            background: url(../img/classificados-final/mp.png) center center no-repeat;
                            background-size: contain;

                            animation-name: fecha_cima_baixo;
                            animation-delay: 100ms;
                            animation-duration: 300ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        }
                    }

                    .dupla{
                        position: absolute;
                        left: 75px;
                        top: 12px;
                        display: block;
                        width: 491px;
                        height: 69px;
                        padding-left: 30px;

                        .bg-fundo-cor{
                            position: absolute;
                            left: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 491px;
                                height: 69px;
                                margin-left: 28px;
                                @include bg_gradiente( $cbp-verde, $cbp-verde-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-verde;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }
                        }

                        > .bg{
                            position: absolute;
                            top: 1px;
                            left: 0;
                            display: block;
                            width: 481px;
                            height: 63px;
                            background: url(../img/classificados-final/bg.png) top left no-repeat;
                        }

                        .bg-frente{
                            position: absolute;
                            left: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 491px;
                                height: 69px;
                                margin-left: 28px;
                                @include bg_gradiente( $cbp-verde, $cbp-verde-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-verde;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }
                        }

                        .bg-fundo{
                            position: absolute;
                            left: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 491px;
                                height: 69px;
                                margin-left: 28px;
                                @include bg_gradiente( $cbp-verde, $cbp-verde-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-verde;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }
                        }

                        .bg-frente-cor{
                            position: absolute;
                            left: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 491px;
                                height: 69px;
                                margin-left: 28px;
                                @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-azul;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }
                        }

                        > p{
                            margin: 0;
                            transform: skew(-19deg) scaleY(1.3);
                            font-size: 19px;
                            margin-top: 11px;
                            opacity: 0;
                            font-weight: normal;
                            line-height: 22px;
                        }

                        .bg-peso{
                            position: absolute;
                            right: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 205px;
                                height: 69px;
                                margin-left: 28px;
                                @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 178px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-azul;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }
                        }

                        .peso{
                            position: absolute;
                            top: 0;
                            right: 0;

                            .bg{
                                display: block;
                                width: 205px;
                                height: 69px;
                                margin-left: 28px;
                                @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 178px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-azul;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }

                            p{
                                position: absolute;
                                top: 10px;
                                left: 40px;
                                margin: 0;
                                transform: skew(-19deg) scaleY(1.3);
                                font-size: 28px;
                                margin-top: 5px;
                                opacity: 0;
                                text-shadow: 3px 3px 3px #000;
                                width: 140px;
                                text-align: center;
                            }
                        }
                    }

                }
            }
        }
    }

    &.nodelay{
        .conteudo>.bg {
            .ranking {
                .posicao{
                    .dupla{
                        .peso{
                            p{
                                animation-delay: 200ms !important;
                            }
                            animation-delay: 0ms  !important;
                        }
                    }
                }
            }
        }
    }
    /* ANIMAÇÃO */
        .conteudo{
            header{
                > div{
                    &:first-child{
                        .bg-logo{
                            animation-name: cima_baixo;
                            animation-delay: 0ms;
                            animation-duration: 400ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        }

                        .logo{
                            animation-name: cima_baixo;
                            animation-delay: 250ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        }
                    }

                    &:last-child{
                        @keyframes abre_texto {
                            0% { max-width: 0; }
                            100% { max-width: 450px; }
                        }
                        animation-name: abre_texto;
                        animation-delay: 650ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                    }
                }
            }

            > .bg{
                @keyframes abre_bg_classificados-final {
                    0% { width: 0; }
                    /*100% { width: 100%; }*/
                    100% { width: 1440px; }
                }
                animation-name: abre_bg_classificados-final;
                animation-delay: 250ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: both;

                .ranking{
                    .posicao{
                        .bg-num{
                            animation-name: cima_baixo;
                            animation-delay: 900ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        }

                        .num{
                            animation-name: baixo_cima;
                            animation-delay: 1100ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-in;
                            animation-fill-mode: both;
                        }

                        .dupla{
                            .bg-fundo-cor{
                                @keyframes mostra_fundo_cor {
                                    from { clip-path: inset( 100% 0 0 0 ); }
                                    to   { clip-path: inset( 70% 0 0 0 );    }
                                }
                                animation-name: mostra_fundo_cor;
                                animation-delay: 2600ms;
                                animation-duration: 300ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-in;
                                animation-fill-mode: both;
                            }

                            > .bg{
                                animation-name: aparece;
                                animation-delay: 1150ms;
                                animation-duration: 200ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            }

                            .bg-frente{
                                animation-name: passa_cima_baixo;
                                animation-delay: 900ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            }

                            .bg-fundo{
                                animation-name: passa_baixo_cima;
                                animation-delay: 1300ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-in;
                                animation-fill-mode: both;
                            }

                            .bg-frente-cor{
                                animation-name: passa_cima_baixo;
                                animation-delay: 1700ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            }

                            > p{
                                animation-name: aparece;
                                animation-delay: 1150ms;
                                animation-duration: 200ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            }

                            .bg-peso{
                                animation-name: passa_baixo_cima;
                                animation-delay: 2300ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            }

                            .peso{
                                p{
                                    animation-name: aparece;
                                    animation-delay: 3000ms;
                                    animation-duration: 200ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: both;
                                }

                                animation-name: cima_baixo;
                                animation-delay: 2800ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-in;
                                animation-fill-mode: both;
                            }
                        }

                    }

                    $delay: 350;
                    @for $i from 1 through 3 {
                        .posicao:nth-child(#{$i}){
                            .bg-num{
                                animation-delay: #{($i * $delay) + 900}ms;
                            }

                            .num{
                                animation-delay: #{($i * $delay) + 1100}ms;
                                @if $i < 10 {
                                    padding-left: 10px;
                                }
                            }

                            .dupla{

                                .bg-fundo-cor{
                                    animation-delay: #{($i * $delay) + 2600}ms;
                                }

                                > .bg{
                                    animation-delay: #{($i * $delay) + 1150}ms;
                                }

                                .bg-frente{
                                    animation-delay: #{($i * $delay) + 900}ms;
                                }

                                .bg-fundo{
                                    animation-delay: #{($i * $delay) + 1300}ms;
                                }

                                .bg-frente-cor{
                                    animation-delay: #{($i * $delay) + 1700}ms;
                                }

                                > p{
                                    animation-delay: #{($i * $delay) + 1150}ms;
                                }

                                .bg-peso{
                                    animation-delay: #{($i * $delay) + 2300}ms;
                                }

                                .peso{
                                    p{
                                        animation-delay: #{($i * $delay) + 3000}ms;
                                    }
                                    animation-delay: #{($i * $delay) + 2800}ms;
                                }
                            }
                        }
                    }

                    .posicao{
                        &.mp{
                            .num{
                                span{
                                    animation-name: fecha_baixo_cima;
                                    animation-delay: 0ms;
                                    animation-duration: 300ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: both;
                                }

                                &:before{
                                    animation-name: baixo_cima;
                                    animation-delay: 100ms;
                                    animation-duration: 300ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: both;
                                }
                            }

                            .dupla{
                                .peso{
                                    animation-name:            fecha_cima_baixo;
                                    animation-delay:           0ms;
                                    animation-duration:        300ms;
                                    animation-timing-function: ease-in;
                                    animation-iteration-count: 1;
                                    animation-fill-mode:       both;

                                    &.carregado{
                                        animation-name:            cima_baixo;
                                        animation-delay:           0ms;
                                        animation-duration:        300ms;
                                        animation-timing-function: ease-in;
                                        animation-iteration-count: 1;
                                        animation-fill-mode:       both;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    /* / ANIMAÇÃO */

    &.fechar{
        .conteudo{
            white-space: nowrap;

            > .bg{
                /* ANIMAÇÃO */
                    @keyframes fecha_bg {
                        0% { width: 1440px; }
                        100% { width: 0; }
                    }
                    animation-name: fecha_bg;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            header{
                margin: 0 auto;
                text-align: center;
                @keyframes fecha_header {
                    0% { opacity: 1; }
                    100% { opacity: 0; }
                }
                animation-name: fecha_header;
                animation-delay: 150ms;
                animation-duration: 350ms;
                animation-iteration-count: 1;
                animation-fill-mode: both;
            }
        }
    }
}


@mixin classificados_final( $logo, $primaria, $primaria-sombra, $secundaria, $secundaria-sombra ) {
    .conteudo{
        header{
            > div{
                &:first-child{
                    .bg-logo{
                        @include bg_logo( $primaria, 249px, 129px );
                    }

                    .logo{
                        background: url('../img/classificados-final/logo/' + $logo + '.png') center center no-repeat;
                    }
                }
            }
        }

        > .bg{
            .ranking{
                .posicao{
                    .bg-num{
                        .bg{
                            @include bg_posicao_num( $primaria, $primaria-sombra, 93px, 87px );
                        }
                    }

                    .num{
                        // color: $cbp-amarelo;
                    }

                    .dupla{
                        .bg-fundo-cor{
                            .bg{
                                @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $secundaria;
                                }
                            }
                        }

                        .bg-frente{
                            .bg{
                                @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $secundaria;
                                }
                            }
                        }

                        .bg-fundo{
                            .bg{
                                @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $secundaria;
                                }
                            }
                        }

                        .bg-frente-cor{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }

                        .bg-peso{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 178px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }

                        .peso{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 178px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
brasileiro:  azul e verde;
catarinense: verde-claro e vermelho;
gaucho:      vermelho e verde;
goiano:      azul e verde;
mineiro:     branco e vermelho;
paranaense:  branco e verde;
paulista:    preto e vermelho;
*/

.brasileiro{ #classificados_final{ @include classificados_final( 'brasileiro', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.catarinense{ #classificados_final{ @include classificados_final( 'catarinense', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde-claro, $cbp-verde-claro-sombra ); }}
.gaucho{ #classificados_final{ @include classificados_final( 'gaucho', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.goiano{ #classificados_final{ @include classificados_final( 'goiano', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.mineiro{ #classificados_final{ @include classificados_final( 'mineiro', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paranaense{ #classificados_final{ @include classificados_final( 'paranaense', $cbp-verde, $cbp-verde-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paulista{ #classificados_final{ @include classificados_final( 'paulista', $cbp-preto, $cbp-preto-sombra, $cbp-vermelho, $cbp-vermelho-sombra ); }}
