.clima-item {
	align-items: center;
	display: flex;
	height: 84px;
	padding-left: 12px;
	padding-right: 12px;
}

.clima-descricao,
.agua-descricao {
	color: #FFFFFF;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 15px;
	position: relative;
}

.clima-info-title,
.agua-info-title {
	background-color: var(--c-blue);
	min-width: 380px;
}

.clima-info-title {
	border-top-left-radius: 30px;
}

.agua-info-title {
	border-bottom-left-radius: 30px;
}

.clima-wrapper {
	display: flex;
	width: 100%;

	&:not(:last-child) {
		border-bottom: 6px solid var(--c-yellow);
	}
}

#clima {
  position: absolute;
	display: flex;
	bottom: 140px;
	left: 50%;
	transform: translate(-50%, 50%);

  .conteudo {
		background-color: var(--bg-inner);
		border-radius: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 9;

		.info {
			position: relative;
			border-right: 1px solid rgb(0,0,0, 0.4);

      .texto {
        display: inline-block;
        color: #fff;
        font-size: 28px;
        padding-left: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .icone {
        width: 60px;
        height: 60px;
      }
    }

    > .descricao {
			color: #FFFFFF;
			font-size: 28px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 6px;
			position: relative;
    }
  }
}

// Animações
#clima {
	.conteudo {
		animation-name: clima_conteudo;
		animation-delay: 10ms;
		animation-duration: 400ms;
		animation-iteration-count: 1;
		animation-timing-function: ease;
		animation-fill-mode: both;
		overflow: hidden;
		backface-visibility: hidden;

		@for $i from 1 through 10 {
			.clima-item {
				animation: 1s ease clima_items;
				animation-delay: 200ms;
				animation-fill-mode: both;
		
				&:nth-child(#{$i}) {
					animation-delay: $i * calc(1.4s / 18);
				}
			}
		}
	}

	&.fechar {
    .conteudo {
			animation-name: clima_conteudo;
      animation-delay: 100ms;
      animation-timing-function: ease-out;
      animation-direction: reverse;
		}

		.clima-item {
			animation-name: clima_items;
			animation-delay: 0m;
			animation-timing-function: ease-out;
			animation-direction: reverse;
		}
	}
}

@keyframes clima_conteudo {
	0% {
		transform: translateY(100%);
		// opacity: 0;

	}
	100% {
		transform: translateY(0);
		// opacity: 1;		
	}
}

@keyframes clima_items {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}