#dados_equipe {
  display: block;
  position: absolute;
  width: 560px;
  bottom: 140px;
  left: 50%;
  transform: translate(-50%, 50%);

	.conteudo {
		background-color: var(--c-blue);
    border-radius: 30px;
    border-bottom: 6px solid var(--c-yellow);
	}

	.posicao {
		display: flex;
		flex-wrap: wrap;
		height: 84px;
		border-bottom: 2px solid var(--c-yellow);
		position: relative;
		width: 100%;

		.num {
			display: flex;
			position: relative;
			border-right: 2px solid var(--c-yellow);
			align-items: center;
			justify-content: center;
			width: 79px;
			z-index: 999;
			position: relative;

			b {
				font-size: 54px;
				color: var(--c-yellow);
				display: block;
				text-align: center;
			}
		 }

		.info {
			position: relative;
			flex: 1;
			padding-left: 12px;
			padding-right: 12px;
			z-index: 100;

			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.nome {
				color: #fff;
				font-size: 26px;
				flex: 1;
				position: relative;
				display: block;
				text-overflow: ellipsis;
				overflow: hidden;
				z-index: 90;
			}

			.peso {
				position: relative;
				display: block;
				font-weight: normal;
				text-align: right;
				z-index: 91;

				b {
					color: white;
					font-size: 24px;
					display: block;
					position: relative;
					white-space: nowrap;
					z-index: 1;
				}
			}
		 }

	}
}

#dados_equipe {
	.conteudo {
    animation-name: apresentadores_conteudo;
    animation-delay: 200ms;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
    width: 0;
    overflow: hidden;

    .peso,
    .nome {
      animation-name: apresentadores_conteudo_nome;
      animation-delay: 400ms;
      animation-duration: 400ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
    }
  }

	&.fechar {
		.conteudo {
      animation-name: apresentadores_conteudo;
      animation-delay: 100ms;
      animation-timing-function: ease-out;
      animation-direction: reverse;

      .peso,
      .nome {
        animation-name: apresentadores_conteudo_nome;
        animation-delay: -200ms;
        animation-timing-function: ease-out;
        animation-direction: reverse;
      }
    }
	}
}

@keyframes apresentadores_conteudo {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes apresentadores_conteudo_nome {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}