#dupla_campea {
  z-index: 1;
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 660px;
  // height: 220px;
  text-align: center;
  color: #fff;

  .bg-logo {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -89px;
    z-index: 30;
    width: 178px;
    height: 92px;
    background: url(../img/dupla-campea/logo/bg/azul.png) center center
      no-repeat;

    /* ANIMAÇÃO */
    @keyframes abre_bg_logo {
      from {
        clip-path: inset(0 0 100% 0);
      }
      to {
        clip-path: inset(0 0 0 0);
      }
    }
    animation-name: abre_bg_logo;
    animation-delay: 0ms;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
    /* / ANIMAÇÃO */

    // .logo {
    //   background: url(../img/logos/CBP4_CBP.png) center center no-repeat;
    //   background-size: contain;
    //   width: 178px;
    //   height: 92px;
    //   display: block;

    //   /* ANIMAÇÃO */
    //   @keyframes abre_logo {
    //     from {
    //       clip-path: inset(0 0 100% 0);
    //     }
    //     to {
    //       clip-path: inset(0 0 0 0);
    //     }
    //   }
    //   animation-name: abre_logo;
    //   animation-delay: 150ms;
    //   animation-duration: 600ms;
    //   animation-iteration-count: 1;
    //   animation-timing-function: ease;
    //   animation-fill-mode: both;
    //   /* / ANIMAÇÃO */
    // }
  }

  .logo {
    background: url(../img/logos/CBP4_CBP.png) center center no-repeat;
    background-size: contain;

    margin: 0 auto;
    width: 280px;
    height: 203px;
    display: block;
    position: relative;
    margin-bottom: -30px;
    z-index: 10190;


    /* ANIMAÇÃO */
    @keyframes abre_logo {
      from {
        clip-path: inset(0 0 100% 0);
      }
      to {
        clip-path: inset(0 0 0 0);
      }
    }
    animation-name: abre_logo;
    animation-delay: 150ms;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
    /* / ANIMAÇÃO */
  }

  .bg {
    // background: url(../img/dupla-campea/bg.png) center center no-repeat;
    background-color: var(--c-blue);
		border-bottom: 6px solid var(--c-yellow);
    border-radius: 30px;
    // width: 680px;
    // height: 150px;

    width: 100%;
    display: flex;
    height: 150px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    // left: 50%;
    // transform: translateX(-50%);
    // position: absolute;
    // bottom: -15px;
    // z-index: 15;

    /* ANIMAÇÃO */
    @keyframes abre_bg {
      from {
        clip-path: inset(0 0 100% 0);
      }
      to {
        clip-path: inset(0 0 0 0);
      }
    }
    animation-name: abre_bg;
    animation-delay: 600ms;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
    /* / ANIMAÇÃO */
  }

  .explosao {
    opacity: 1;
    position: absolute;
    top: -250px;
    left: 50%;
    margin-left: -550px;
    z-index: 30;
    width: 1100px;
    height: 660px;
    z-index: 999;
  }

  .titulo {
    // margin: 110px 0 5px;
    opacity: 0;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .texto {
    font-size: 36px;
    opacity: 0;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    // margin-bottom: 6px;
    margin-top: 5px;
  }

  .titulo,
  .texto {
    position: relative;
    z-index: 16;
    /* ANIMAÇÃO */
    @keyframes abre_textos {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    animation-name: abre_textos;
    animation-delay: 800ms;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
    /* / ANIMAÇÃO */
  }

  &.fechar {
    .explosao {
      /* ANIMAÇÃO */
      @keyframes fecha_explosao {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
      animation-name: fecha_explosao;
      animation-delay: 1000ms;
      animation-duration: 200ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
      /* / ANIMAÇÃO */
    }

    .titulo,
    .texto {
      /* ANIMAÇÃO */
      @keyframes fecha_textos {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
      animation-name: fecha_textos;
      animation-delay: 40ms;
      animation-duration: 100ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
      /* / ANIMAÇÃO */
    }

    .bg {
      /* ANIMAÇÃO */
      @keyframes fecha_bg_dupla {
        from {
          clip-path: inset(0 0 0 0);
        }
        to {
          clip-path: inset(0 0 100% 0);
        }
      }
      animation-name: fecha_bg_dupla;
      animation-delay: 600ms;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
      /* / ANIMAÇÃO */
    }

    .bg-logo {
      /* ANIMAÇÃO */
      @keyframes fecha_bg_logo {
        from {
          clip-path: inset(0 0 0 0);
        }
        to {
          clip-path: inset(0 0 100% 0);
        }
      }
      animation-name: fecha_bg_logo;
      animation-delay: 700ms;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
      /* / ANIMAÇÃO */

      .logo {
        /* ANIMAÇÃO */
        @keyframes fecha_logo {
          from {
            clip-path: inset(0 0 0 0);
          }
          to {
            clip-path: inset(0 0 100% 0);
          }
        }
        animation-name: fecha_logo;
        animation-delay: 800ms;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: both;
        /* / ANIMAÇÃO */
      }
    }
  }
}

@mixin dupla(
  $tipo,
  $primaria,
  $primaria-sombra,
  $secundaria,
  $secundaria-sombra
) {
  .bg-logo {
    background: url(../img/dupla-campea/logo/bg/azul.png) center center
      no-repeat;
    .logo {
      background: url("../img/dupla-campea/logo/" + $tipo + ".png");
    }
  }

  .tarja-frente-primeira {
    @include bg_gradiente($primaria, $primaria-sombra, 856px, 143px);
  }
  .tarja-frente {
    @include bg_gradiente($secundaria, $secundaria-sombra, 856px, 143px);
  }

  .tarja-verso {
    @include bg_gradiente($primaria, $primaria-sombra, 857px, 143px);
  }
  .tarja-verso-fixa {
    @include bg_gradiente($primaria, $primaria-sombra, 857px, 143px);
  }
}

.brasileiro {
  #dupla_campea {
    @include dupla(
      "brasileiro",
      $cbp-verde,
      $cbp-verde-sombra,
      $cbp-azul,
      $cbp-azul-sombra
    );
  }
}

.catarinense {
  #dupla_campea {
    .bg-logo {
      background: url(../img/dupla-campea/logo/bg/verde-claro.png) center center
        no-repeat;
      .logo {
        background: url(../img/dupla-campea/logo/catarinense.png);
      }
    }

    .tarja-frente-primeira {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 856px, 143px);
    }
    .tarja-frente {
      @include bg_gradiente(
        $cbp-verde-claro,
        $cbp-verde-claro-sombra,
        856px,
        143px
      );
    }

    .tarja-verso {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
    }
    .tarja-verso-fixa {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
    }
  }
}

.gaucho {
  #dupla_campea {
    .bg-logo {
      background: url(../img/dupla-campea/logo/bg/vermelho.png) center center
        no-repeat;
      .logo {
        background: url(../img/dupla-campea/logo/gaucho.png);
      }
    }

    .tarja-frente-primeira {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 856px, 143px);
    }
    .tarja-frente {
      @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 856px, 143px);
    }

    .tarja-verso {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
    }
    .tarja-verso-fixa {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
    }
  }
}

.goiano {
  #dupla_campea {
    .bg-logo {
      background: url(../img/dupla-campea/logo/bg/azul.png) center center
        no-repeat;
      .logo {
        background: url(../img/dupla-campea/logo/goiano.png);
      }
    }

    .tarja-frente-primeira {
      @include bg_gradiente($cbp-azul, $cbp-azul-sombra, 856px, 143px);
    }
    .tarja-frente {
      @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 856px, 143px);
    }

    .tarja-verso {
      @include bg_gradiente($cbp-azul, $cbp-azul-sombra, 857px, 143px);
    }
    .tarja-verso-fixa {
      @include bg_gradiente($cbp-azul, $cbp-azul-sombra, 857px, 143px);
    }
  }
}

.mineiro {
  #dupla_campea {
    .bg-logo {
      background: url(../img/dupla-campea/logo/bg/branco.png) center center
        no-repeat;
      .logo {
        background: url(../img/dupla-campea/logo/mineiro.png);
      }
    }

    .tarja-frente-primeira {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 856px, 143px);
    }
    .tarja-frente {
      @include bg_gradiente($cbp-branco, $cbp-branco-sombra, 856px, 143px);
    }

    .tarja-verso {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
    }
    .tarja-verso-fixa {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
    }
  }
}

.paranaense {
  #dupla_campea {
    .bg-logo {
      background: url(../img/dupla-campea/logo/bg/verde.png) center center
        no-repeat;
      .logo {
        background: url(../img/dupla-campea/logo/paranaense.png);
      }
    }

    .tarja-frente-primeira {
      @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 856px, 143px);
    }
    .tarja-frente {
      @include bg_gradiente($cbp-branco, $cbp-branco-sombra, 856px, 143px);
    }

    .tarja-verso {
      @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 857px, 143px);
    }
    .tarja-verso-fixa {
      @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 857px, 143px);
    }
  }
}

.paulista {
  #dupla_campea {
    .bg-logo {
      background: url(../img/dupla-campea/logo/bg/preto.png) center center
        no-repeat;
      .logo {
        background: url(../img/dupla-campea/logo/paulista.png);
      }
    }

    .tarja-frente-primeira {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 856px, 143px);
    }
    .tarja-frente {
      @include bg_gradiente($cbp-preto, $cbp-preto-sombra, 856px, 143px);
    }

    .tarja-verso {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
    }
    .tarja-verso-fixa {
      @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
    }
  }
}
