#info:not(.escondido) {
  display: block;
  position: absolute;
  width: 560px;
  bottom: 140px;
  left: 50%;
  transform: translate(-50%, 50%);

  > .bg {
    display: block;
    width: 87px;
    height: 87px;
    background: url("../img/apresentadores/bg/brasileiro.png") center center
      no-repeat;
    position: absolute;
    left: 20px;
    top: 0;
  }

  .logo {
    display: block;
    // position: relative;
    z-index: 10;

    // height: 100%;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

    .bg,
    .img {
      display: block;
      width: 150px;
      height: 77px;
      background: url("../img/logos/CBP4_CBP.png") center center
        no-repeat;
      background-size: contain;
      // position: absolute;
      position: relative;
      left: 0;
      // top: 6px;
    }

    .bg {
      background: url("../img/apresentadores/logo/bg/brasileiro.png") center
        center no-repeat;
    }
  }

  .conteudo {
    background-color: var(--c-blue);
    border-radius: 30px;
    border-bottom: 6px solid var(--c-yellow);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 85px;
    position: relative;
    width: 100%;
    z-index: 9;

    .nome,
    .legenda {
      display: block;
      text-transform: uppercase;
      padding-left: 85px;
      padding-right: 25px;
    }

    .nome {
      color: #ffffff;
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 12px;
      position: relative;
    }

    .legenda {
      color: var(--c-subtitle);
      font-size: 20px;
      position: relative;
			padding-bottom: 12px;
    }
  }

  .logo {
    .bg {
      @keyframes apresentadores_logo_bg {
        from {
          clip-path: inset(0 0 100% 0);
        }
        to {
          clip-path: inset(0 0 0 0);
        }
      }
      animation-name: apresentadores_logo_bg;
      animation-delay: 100ms;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
    }

    .img {
      @keyframes apresentadores_logo {
        from {
          clip-path: inset(0 0 100% 0);
        }
        to {
          clip-path: inset(0 0 0 0);
        }
      }
      animation-name: apresentadores_logo;
      animation-delay: 200ms;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: both;
    }
  }

  .conteudo {
    animation-name: esquerda_direita;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

    .legenda,
    .nome {
      animation-name: baixo_cima;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-fill-mode: both;
    }
  }

  // Fechando
  &.fechar {
    > .bg {
      animation-name: apresentadores_bg;
      animation-delay: 1200ms;
      animation-timing-function: ease-out;
      animation-direction: reverse;
    }

    .logo {
      .bg {
        animation-delay: 300ms;
        animation-name: apresentadores_logo_bg;
        animation-timing-function: ease-out;
        animation-direction: reverse;
      }

      .img {
        animation-name: apresentadores_bg;
        animation-delay: 200ms;
        animation-timing-function: ease-out;
        animation-direction: reverse;
      }
    }

    .conteudo {
      animation-name: fecha_direita_esquerda;
      animation-delay: 200ms;
      animation-duration: 400ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: both;

      .legenda,
      .nome {
        animation-name: fecha_cima_baixo;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
  }
  /* /ANIMAÇÃO */
}

@mixin imagens_apresentadores($tipo) {
  > .bg {
    background-image: url("../img/apresentadores/bg/" + $tipo(+ ".png"));
  }

  .logo {
    .bg {
      background-image: url("../img/apresentadores/logo/bg/" + $tipo(+ ".png"));
    }

    .img {
      background-image: url("../img/apresentadores/logo/" + $tipo(+ ".png"));
    }
  }
}