#patrocinio_master{
    @keyframes abre_patrocinio {
      from {height: 0px;}
      to {height:300px}
    }
    @keyframes fecha_degrade {
      from {top: 0px;}
      to {top:100%;}
    }
    display: block;
    position: absolute;
    top:73px;
    right:118px;
    width: 253px;
    overflow: hidden;
    height: 0px;
    background: url('../img/fundo.png') no-repeat;
    animation-name: abre_patrocinio;
    animation-duration: 800ms;

    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
    z-index:1;

    .patrocinadores_degrade{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:999;
        background:  #FFC000;
        animation-name: fecha_degrade;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }

    .patrocinadores{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            display: block;
            margin:auto;
            width: 90%;
            margin: 5%;
            height: auto;
        }
    }
}
