
#ranking{
    display: block;
    position: absolute;
    top:0;
    left:0;
    .fuckingLoser{
        filter:grayscale(100%);
    }
    .tabela_bg{
        @keyframes abre_ranking_bg {
          from {height: 0px;}
          to {height:813px}
        }
        position: absolute;
        overflow: hidden;
        top:73px;
        left:118px;
        width: 253px;
        height: 0px;
        background: url('../img/fundo.png') no-repeat;
        animation-name: abre_ranking_bg;
        animation-duration: 200ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
        z-index:1;
    }

    .logo_ranking{
        @keyframes abre_logo_bg {
          from {height: 0px;}
          to {height:63px}
        }
        background: url('../img/logo.png') no-repeat;
        overflow: hidden;
        position: absolute;
        top:46px;
        left:184px;
        width: 121px;
        height: 63px;
        z-index:90;
        animation-name: abre_logo_bg;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;

    }

    .logo_ranking_degrade{
        background: url('../img/logo-degrade.png') no-repeat;
        overflow: hidden;
        position: absolute;
        top:46px;
        left:184px;
        width: 121px;
        height: 63px;
        z-index:80;
        animation-name: abre_logo_bg;
        animation-duration: 250ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    .colocacoes{
        pointer-events: none;
        position: absolute;
        top:124px;
        left:135px;
        width: 286px;
        height: 52px;
        z-index:180;
        .colocacaobg{
            @keyframes colocacaobg_in {
              0% {clip-path: inset(0 0 100% 0); }
              100% {clip-path: inset(0 0 0 0);}
            }
            position: absolute;
            left:-27px;
            top:10px;
            width:63px;
            height: 63px;
            z-index:50;
            animation-name: colocacaobg_in;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: both;

            background: url('../img/bg_colocacao.png') no-repeat ;
            &.gold{
                top:17px;
                left:-30px;
                background: url('../img/bg_colocacao_gold.png') no-repeat ;
            }
        }

        .colocacao{
            @keyframes colocacao_in {
              0% {clip-path: inset(100% 0 0 0); }
              50% {clip-path: inset(100% 0 0 0); }
              100% {clip-path: inset(0 0 0 0);}
            }
            animation-name: colocacao_in;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: both;
            position: absolute;
            left: -28px;
            top: 7px;
            width:63px;
            height: 63px;
            z-index:81;
            background: url('../img/colocacao.png') no-repeat ;
            span{
                color: #E49B00;
                    font-size: 44px;
                font-style: italic;
                transform:scaleY(1.3);
                filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.7));
                padding-left: 3px;
            }

            &.gold{
                left:-35px;
                top:7px;
                background: url('../img/colocacao_gold.png') no-repeat ;
                span{
                    transition: 250ms opacity;
                    color: #000;
                    font-size:52px;
                    font-style: italic;
                    transform:scaleY(1.3);
                    filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.7));
                    padding-left: 10px;
                }
            }
        }

        &.mpremoved{
            .colocacao{
                &.gold{
                    @keyframes colocacao_in_faster {
                      0%    {clip-path: inset(0 0 0 0);background: url('../img/mp.png') no-repeat}
                      50%   {clip-path: inset(100% 0 0 0); background: url('../img/mp.png') no-repeat ; }
                      51%   {clip-path: inset(100% 0 0 0); background: url('../img/colocacao_gold.png') no-repeat; }
                      100%  {clip-path: inset(0 0 0 0);background: url('../img/colocacao_gold.png') no-repeat}
                    }
                    animation-name: colocacao_in_faster;
                    animation-duration: 500ms;
                    animation-iteration-count: 1;
                    animation-timing-function: linear;
                    animation-fill-mode: both;
                }
                span{
                    transition-delay:400ms;
                    opacity: 1;
                }
            }
        }


        &.mp{
            .colocacao{
                &.gold{
                    @keyframes colocacao_mp {
                      0%   {clip-path: inset(0 0 0 0);background: url('../img/colocacao_gold.png') no-repeat}
                      50%  {clip-path: inset(100% 0 0 0); background: url('../img/colocacao_gold.png') no-repeat; }
                      51%  {clip-path: inset(100% 0 0 0); background: url('../img/mp.png') no-repeat ; }
                      100% {clip-path: inset(0 0 0 0);background: url('../img/mp.png') no-repeat}
                    }
                    left:-37px;
                    animation-name: colocacao_mp;
                    animation-duration: 500ms;
                    animation-iteration-count: 1;
                    animation-timing-function: linear;
                    animation-fill-mode: both;
                    span{
                        transition: 250ms opacity;
                        opacity: 0;
                    }
                }
            }
        }

    }

    .competidor{
        transition: 1s all;
        position: absolute;
        top:124px;
        left:135px;
        width: 286px;
        height: 52px;
        z-index:80;

        .degrade{
            @keyframes competidor_degrade {
              0% {clip-path: inset(0 0 100% 0); }
              40% {clip-path: inset(0 0 0 0);}
              80% {clip-path: inset(100% 0 0 0);}
              100% {clip-path: inset(100% 0 0 0);}
            }
            background: url('../img/ranking-competidor-degrade.png') no-repeat ;
            position: absolute;
            left:0px;
            width: 286px;
            height: 52px;
            top:0px;
            z-index:80;
            animation-name: competidor_degrade;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: both;
            filter: drop-shadow(0 3px 3px black);
        }
        .tarjabg{
            @keyframes tarja_portras {
              0% {clip-path: inset(100% 0 0 0); }
              85% {clip-path: inset(0 0 0 0);}
              100% {clip-path: inset(0 0 0 0);}
            }
            background: url('../img/ranking-competidor-tarja-bg.png') no-repeat;
            position: absolute;
            left:15px;
            width: 286px;
            height: 52px;
            top:24px;
            z-index:70;
            animation-name: tarja_portras;
            animation-duration: 1.3s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: both;
        }
        .tarja{
            @keyframes tarja_in {
              0% {clip-path: inset(0 0 100% 0); }
              40% {clip-path: inset(0 0 0 0);}
              80% {clip-path: inset(0 0 0 0);}
              100% {clip-path: inset(0 0 0 0);}
            }
            background: url('../img/ranking-competidor-bg.png') no-repeat ;
            position: absolute;
            left:10px;
            width: 286px;
            height: 52px;
            top:0px;
            z-index:70;
            animation-name: tarja_in;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: both;
        }
        .tarjapeso  {
             @keyframes tarjapeso {
              0% {clip-path: inset(0 100% 0 0); }
              50% {clip-path: inset(0 100% 0 0); }
              100% {clip-path: inset(0 0 0 0);}
            }

            background: url('../img/tarjapeso.png') no-repeat ;
            position: absolute;
            left:17px;
            top:28px;
            width: 286px;
            height: 52px;
            z-index:72;
            padding-left: 12px;
            padding-top: 2px;
            color: #e49b00;
            animation-name: tarjapeso;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: both;
            span{
                @keyframes tarjapeso-span {
                  0% {clip-path: inset(0 0 0 0);}
                  25% {clip-path: inset(0 100% 0 0); }
                  75% {clip-path: inset(0 100% 0 0); }
                  100% {clip-path: inset(0 0 0 0);}
                }
                font-size:19px;
                font-style: italic;
                transform:scaleY(1.3);
                filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.7));
                animation: none;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: both;
                &.trocar{
                    animation-name: tarjapeso-span;
                }

            }
        }

        .nome{

            @keyframes nome_in {
              0% {opacity: 0;}
              50% {opacity: 0;}
              52% { opacity: 1;}
              100% {opacity: 1;}
            }
            position: absolute;
            left:28px;
            width: 246px;
            height: 52px;
            top:5px;
            z-index:75;
            color:#FFF;
            font-style: italic;
            font-size: 19px;
            transform:scaleY(1.3);
            filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.7));

            animation-name: nome_in;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: both;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }


        &.maior{

            @keyframes crescer_e_destacar {
                0%   { transform: scale(0.888  ) translate(-24px, 0) ;}
                100% { transform: scale(1) translate(0px, 0) ;}
            }
            animation-name: crescer_e_destacar;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: both;
            animation-direction: alternate;

        }
    }

    @for $i from 1 through 20 {
        .competidor:nth-child(#{$i}) {
            top: #{ ( $i - 1  )  * if($i<4, 65, 55) + if($i<4, 124, 154)}px;
            div {
                animation-delay: #{$i * 100}ms;
            }
        }
        .colocacoes:nth-child(#{$i}) {
            top: #{ ( $i - 1 )  * if($i<4, 65, 55) + if($i<4, 124, 154)}px;
            div {
                animation-delay: #{$i * 100}ms;
            }
        }
    }

    @for $i from 4 through 20 {
        .competidor:nth-child(#{$i}) {
            transform:scale(0.888) translate(-24px, 0);
        }
        .colocacoes:nth-child(#{$i}) {
            transform:scale(0.888) translate(-24px, 0);
        }
    }
}
