#top10_full {
  position: absolute;
  top: 50px;
  left: 70px;
  width: calc(100% - 140px);

	.top10-full-header {
		align-items: center;
		display: flex;
		position: absolute;
		top: 0;

		.logo {
			display: block;
			z-index: 10;

			.img {
        background: url(../img/apresentadores/logo/brasileiro.png) center center no-repeat;
        background-size: contain;
				display: block;
        width: 150px;
        height: 77px;
				position: absolute;
				left: 0;
				top: 10px;
			}
		}

		.etapa,
		.maior-peixe {
			background-color: var(--bg-inner);
			border-radius: 6px;
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			margin-left: 85px;
			position: relative;
			min-width: 540px;
			z-index: 9;
		}

		.etapa {
			border-bottom: 6px solid var(--c-yellow);
			justify-content: center;
			flex-direction: column;

      .nome,
      .local {
        padding-left: 90px;
      }
		}

		.maior-peixe {
			align-items: center;
			border-bottom: 6px solid var(--c-green);

			.num {
				display: flex;
				position: relative;
				border-right: 2px solid var(--c-green);
				align-items: center;
				justify-content: center;
				width: 120px;
				z-index: 999;
				position: relative;

				span {
					font-size: 48px;
					font-weight: bold;
					color: white;
					display: block;
					text-align: center;
				}
			}

			.nome,
			.peso {
				padding-left: 30px;
			}

			.peso {
				font-size: 24px;
			}
		}

		.nome,
		.local,
		.peso {
			display: block;
			text-transform: uppercase;
			padding-left: 60px;
			padding-right: 20px;
		}

		.nome {
			color: #ffffff;
			font-size: 28px;
			font-weight: bold;
			text-transform: uppercase;
			padding-top: 12px;
			position: relative;
		}

		.local,
		.peso {
			color: var(--c-subtitle);
			font-size: 20px;
			position: relative;
			padding-bottom: 12px;
		}
	}

  .ranking {
    display: block;
    height: 100%;
    width: 100%;

		margin-top: 140px;
    position: relative;

    background-color: var(--bg-inner);
    border-radius: 30px;
    border-bottom: 6px solid var(--c-yellow);

    .posicoes {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 1000;
    }

    .posicao {
      display: flex;
      flex-wrap: wrap;
      height: 84px;
      position: relative;
      width: 100%;

			&:not(:last-child) {
				border-bottom: 2px solid var(--c-yellow);	
			}

      &.desclassificado {
        filter: grayscale(100%);
      }

      &:first-child {
        background-color: var(--c-blue);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;

        .num {
          span {
            color: $cbp-amarelo;
          }
        }
      }

      .num {
        display: flex;
        position: relative;
        border-right: 2px solid var(--c-yellow);
        align-items: center;
        justify-content: center;
        width: 100px;
        z-index: 999;
        position: relative;

        span {
          font-weight: bold;
          font-size: 54px;
          color: white;
          display: block;
          text-align: center;
        }
      }

      .dupla {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        flex: 1;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 100;

        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .nome {
          color: #fff;
          font-size: 36px;
          position: relative;
					margin: 0;
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          z-index: 90;
        }

        .peso {
          position: relative;
          display: block;
          font-weight: normal;
          z-index: 91;

          p {
            color: white;
            font-size: 30px;
            font-weight: bold;
            display: block;
						margin: 0;
            position: relative;
            white-space: nowrap;
            z-index: 1;
          }
        }
      }
    }
  }
}

/* ANIMAÇÕES */
#top10_full {
  $inicio_animacao: 50ms;

  .top10-full-header {
    .etapa,
    .maior-peixe {
      animation-name: esquerda_direita;
      animation-delay: 0ms;
      animation-duration: 500ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: both;
    }
  }

  .conteudo {
    .ranking {
      animation-name: esquerda_direita;
      animation-delay: 0ms;
      animation-duration: 500ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: both;

      .posicao {
        .num {
          span {
            animation-name: esquerda_direita;
            animation-delay: $inicio_animacao + 15ms;
            animation-duration: 200ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-fill-mode: both;
          }
        }

        .dupla {
          .nome {
            animation-name: esquerda_direita;
            animation-delay: $inicio_animacao + 20ms;
            animation-duration: 200ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
          }

          .peso {
            animation-name: esquerda_direita;
            animation-delay: $inicio_animacao + 20ms;
            animation-duration: 200ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
          }
        }
      }
    }
  }

  $delay: 25ms;
  @for $i from 1 through 11 {
    $delay_ms: ($i * $delay) + $inicio_animacao;

    .conteudo {
      .ranking {
        .posicao[data-posicao="#{$i}"] {
          .num {
            .b {
              animation-delay: $delay_ms + 25ms;
            }
          }

          .dupla {
            .nome {
              animation-delay: $delay_ms + 50ms;
            }

            .peso {
              .b {
                animation-delay: $delay_ms + 75ms;
              }
            }
          }
        }
      }
    }
  }

  &.fechar {

    .top10-full-header {
      .etapa,
      .maior-peixe {
        animation-name: fecha_direita_esquerda;
        animation-delay: 200ms;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }

    // .logo {
    //     .img {
    //       animation-name: fecha_direita_esquerda;
    //       animation-delay: 200ms;
    //       animation-duration: 400ms;
    //       animation-iteration-count: 1;
    //       animation-timing-function: ease-out;
    //       animation-fill-mode: both;
    //   }
    // }

    // .etapa,
    // .maior-peixe {
    //   animation-name: fecha_direita_esquerda;
    //   animation-delay: 200ms;
    //   animation-duration: 400ms;
    //   animation-iteration-count: 1;
    //   animation-timing-function: ease-out;
    //   animation-fill-mode: both;
    // }

    .conteudo {
      .ranking {
        animation-name: fecha_direita_esquerda;
        animation-delay: 200ms;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: both;

        .posicao {
          .dupla {
            .peso {
              animation-name: fecha_direita_esquerda;
              // animation-delay: 0ms;
              animation-duration: 600ms;
              animation-iteration-count: 1;
              animation-timing-function: ease-in;
              animation-fill-mode: both;
            }
          }

          .dupla {
            animation-name: fecha_cima_baixo;
            // animation-delay: $inicio_animacao + 450ms;
            animation-duration: 500ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
          }

          .num {
            span {
              animation-name: fecha_cima_baixo;
              // animation-delay: $inicio_animacao + 150ms;
              animation-duration: 300ms;
              animation-iteration-count: 1;
              animation-timing-function: ease-in;
              animation-fill-mode: both;
            }
          }
        }
      }
    }

    $delay: 150ms;
    @for $i from 1 through 11 {
      $delay_ms: ((11 - ($i - 1)) * $delay);

      .conteudo {
        .ranking {
          .posicao[data-posicao="#{$i}"] {
            .info {
              .texto {
                .peso {
                  .bg-frente {
                    animation-delay: $delay_ms + 0ms;
                  }

                  .bg {
                    animation-delay: $delay_ms + 400ms;
                  }
                }
              }

              .bg-fundo {
                animation-delay: $delay_ms + 1500ms;
              }
            }

            > .bg-frente {
              animation-delay: $delay_ms + 1650ms;
            }

            .info {
              animation-delay: $delay_ms + 1850ms;
            }

            .num {
              > .bg {
                animation-delay: $delay_ms + 2100ms;
              }

              .texto {
                animation-delay: $delay_ms + 1900ms;
              }
            }
          }
        }
      }
    }
  }
}

@mixin top10_full(
  $logo,
  $primaria,
  $primaria-sombra,
  $secundaria,
  $secundaria-sombra
) {
	.top10-full-header {
		.logo {
			.img {
				background: url("../img/top10/logo/" + $logo + ".png") center center
				no-repeat;
				background-size: contain;
			}
		}
	}

  .conteudo {
    header {
      > div {
        &:first-child {
          .bg-logo {
            @include bg_logo($primaria, 249px, 129px);
          }

          .logo {
            background: url("../img/top10/logo/" + $logo + ".png") center center
              no-repeat;
							
          }
        }
      }
    }

    > .bg {
      .ranking {
        .posicao {
          .bg-num {
            .bg {
              @include bg_posicao_num($primaria, $primaria-sombra);
            }
          }

          .num {
            color: $cbp-amarelo;
          }

          .dupla {
            .bg-frente {
              .bg {
                @include bg_gradiente(
                  $secundaria,
                  $secundaria-sombra,
                  491px,
                  69px,
                  0 35px 35px 0
                );

                &:before {
                  background: $secundaria;
                }
              }
            }

            .bg-fundo {
              .bg {
                @include bg_gradiente(
                  $secundaria,
                  $secundaria-sombra,
                  491px,
                  69px,
                  0 35px 35px 0
                );

                &:before {
                  background: $secundaria;
                }
              }
            }

            .bg-frente-cor {
              .bg {
                @include bg_gradiente(
                  $primaria,
                  $primaria-sombra,
                  491px,
                  69px,
                  0 35px 35px 0
                );

                &:before {
                  background: $primaria;
                }
              }
            }

            .bg-peso {
              .bg {
                @include bg_gradiente(
                  $primaria,
                  $primaria-sombra,
                  198px,
                  69px,
                  0 35px 35px 0
                );

                &:before {
                  background: $primaria;
                }
              }
            }

            .peso {
              .bg {
                @include bg_gradiente(
                  $primaria,
                  $primaria-sombra,
                  198px,
                  69px,
                  0 35px 35px 0
                );

                &:before {
                  background: $primaria;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
brasileiro:  azul e verde;
catarinense: verde-claro e vermelho;
gaucho:      vermelho e verde;
goiano:      azul e verde;
mineiro:     branco e vermelho;
paranaense:  branco e verde;
paulista:    preto e vermelho;
*/

.brasileiro {
  #top10_full {
    @include top10_full(
      "brasileiro",
      $cbp-azul,
      $cbp-azul-sombra,
      $cbp-verde,
      $cbp-verde-sombra
    );
  }
}
.catarinense {
  #top10_full {
    @include top10_full(
      "catarinense",
      $cbp-vermelho,
      $cbp-vermelho-sombra,
      $cbp-verde-claro,
      $cbp-verde-claro-sombra
    );
  }
}
.gaucho {
  #top10_full {
    @include top10_full(
      "gaucho",
      $cbp-vermelho,
      $cbp-vermelho-sombra,
      $cbp-verde,
      $cbp-verde-sombra
    );
  }
}
.goiano {
  #top10_full {
    @include top10_full(
      "goiano",
      $cbp-azul,
      $cbp-azul-sombra,
      $cbp-verde,
      $cbp-verde-sombra
    );
  }
}
.mineiro {
  #top10_full {
    @include top10_full(
      "mineiro",
      $cbp-vermelho,
      $cbp-vermelho-sombra,
      $cbp-branco,
      $cbp-branco-sombra
    );
  }
}
.paranaense {
  #top10_full {
    @include top10_full(
      "paranaense",
      $cbp-verde,
      $cbp-verde-sombra,
      $cbp-branco,
      $cbp-branco-sombra
    );
  }
}
.paulista {
  #top10_full {
    @include top10_full(
      "paulista",
      $cbp-preto,
      $cbp-preto-sombra,
      $cbp-vermelho,
      $cbp-vermelho-sombra
    );
  }
}
