#top10_ranking {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 570px;

  .conteudo {

    .ranking {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      position: relative;
      display: block;
      background-color: var(--bg-inner);
      border-radius: 30px;
      border-bottom: 6px solid var(--c-yellow);

      .posicoes-nomes {
        position: relative;
        z-index: 1100;

        .posicao {
          display: flex;
          flex-wrap: wrap;
          height: 84px;

          // height: 79px;

          position: relative;
          width: 100%;

          .info {
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            flex: 1;
            padding-left: 96px;
            padding-right: 12px;
            z-index: 100;

            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .nome {
              color: #fff;
              font-size: 26px;
              position: relative;
              display: block;
              text-overflow: ellipsis;
              overflow: hidden;
              width: 70%;
              z-index: 90;
            }

            .peso {
              position: relative;
              display: block;
              font-weight: normal;
              z-index: 91;

              b {
                color: white;
                font-size: 24px;
                display: block;
                position: relative;
                white-space: nowrap;
                z-index: 1;
              }
            }
          }
        }
      }

      .posicoes {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1000;

        .posicao {
          display: flex;
          flex-wrap: wrap;
          height: 84px;
          transition: 1s all ease-in;

          // height: 79px;
          
          position: relative;
          width: 100%;

          &:not(:last-child) {
            border-bottom: 2px solid var(--c-yellow);
          }

          &.desclassificado {
            filter: grayscale(100%);
          }

          &[data-posicao="1"] {
            background-color: var(--c-blue);
            // background-color: var(--c-green);
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;

            .num {
              b {
                color: $cbp-amarelo;
              }
            }
          }

          .num {
            display: flex;
            position: relative;
            border-right: 2px solid var(--c-yellow);
            align-items: center;
            justify-content: center;
            width: 79px;
            z-index: 999;
            position: relative;

            b {
              font-size: 54px;
              color: white;
              display: block;
              text-align: center;
            }
          }

          // .info {
          // 	transition: 1s all ease;
          // 	position: absolute;
          // 	height: 100%;
          // 	width: calc(100% - 105px);
          // 	right: 0;

          // 	// position: relative;
          // 	// left: 0;
          // 	// right: 0;
          // 	// top: 0;
          // 	flex: 1;
          // 	padding-left: 12px;
          // 	padding-right: 12px;
          // 	z-index: 100;

          // 	align-items: center;
          // 	display: flex;
          // 	flex-wrap: wrap;
          // 	justify-content: space-between;

          // 	.nome {
          // 		color: #fff;
          // 		font-size: 26px;
          // 		position: relative;
          // 		display: block;
          // 		text-overflow: ellipsis;
          // 		overflow: hidden;
          // 		width: 70%;
          // 		z-index: 90;
          // 	}

          // 	.peso {
          // 		position: relative;
          // 		display: block;
          // 		font-weight: normal;
          // 		z-index: 91;

          // 		b {
          // 			color: white;
          // 			font-size: 24px;
          // 			display: block;
          // 			position: relative;
          // 			white-space: nowrap;
          // 			z-index: 1;
          // 		}
          // 	}
          // }
        }
      }
      
      .posicao-novo-lider {
        background-color: var(--c-green) !important;
      }

      .rodape-timer {
        padding: 16px;
        border-top: 2px solid var(--c-yellow);
        color: white;
        text-align: center;

        p,
        .hora {
          color: #fff;
          margin: 0;
          font-size: 26px;
          text-transform: uppercase;
        }
      }
    }
  }

  /* ANIMAÇÕES */
  $inicio_animacao: 50ms;

  .conteudo {
    .ranking {
      animation-name: esquerda_direita;
      animation-delay: 0ms;
      animation-duration: 500ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: both;

      .posicao {
        .num {
          b {
            animation-name: esquerda_direita;
            animation-delay: $inicio_animacao + 15ms;
            animation-duration: 200ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-fill-mode: both;
          }
        }

        .info {
          .nome {
            animation-name: esquerda_direita;
            animation-delay: $inicio_animacao + 20ms;
            animation-duration: 200ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
          }

          .peso {
            animation-name: esquerda_direita;
            animation-delay: $inicio_animacao + 20ms;
            animation-duration: 200ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
          }
        }
      }
    }
  }

  $delay: 25ms;
  @for $i from 1 through 11 {
    $delay_ms: ($i * $delay) + $inicio_animacao;

    .conteudo {
      .ranking {
        .posicao[data-posicao="#{$i}"] {
          .num {
            .b {
              animation-delay: $delay_ms + 25ms;
            }
          }

          .info {
            .nome {
              animation-delay: $delay_ms + 50ms;
            }

            .peso {
              .b {
                animation-delay: $delay_ms + 75ms;
              }
            }
          }
        }
      }
    }
  }

  &.fechar {
    .conteudo {
      .ranking {
        animation-name: fecha_direita_esquerda;
        animation-delay: 200ms;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: both;

        .posicao {
          .info {
            .peso {
              animation-name: fecha_direita_esquerda;
              // animation-delay: 0ms;
              animation-duration: 600ms;
              animation-iteration-count: 1;
              animation-timing-function: ease-in;
              animation-fill-mode: both;
            }
          }

          .info {
            animation-name: fecha_cima_baixo;
            // animation-delay: $inicio_animacao + 450ms;
            animation-duration: 500ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
          }

          .num {
            b {
              animation-name: fecha_cima_baixo;
              // animation-delay: $inicio_animacao + 150ms;
              animation-duration: 300ms;
              animation-iteration-count: 1;
              animation-timing-function: ease-in;
              animation-fill-mode: both;
            }
          }
        }
      }
    }

    $delay: 150ms;
    @for $i from 1 through 11 {
      $delay_ms: ((11 - ($i - 1)) * $delay);

      .conteudo {
        .ranking {
          .posicao[data-posicao="#{$i}"] {
            //:nth-child(#{$i}){

            .info {
              .texto {
                .peso {
                  .bg-frente {
                    animation-delay: $delay_ms + 0ms;
                  }

                  .bg {
                    animation-delay: $delay_ms + 400ms;
                  }
                }
              }

              .bg-fundo {
                animation-delay: $delay_ms + 1500ms;
              }
            }

            > .bg-frente {
              animation-delay: $delay_ms + 1650ms;
            }

            .info {
              animation-delay: $delay_ms + 1850ms;
            }

            .num {
              > .bg {
                animation-delay: $delay_ms + 2100ms;
              }

              .texto {
                animation-delay: $delay_ms + 1900ms;
              }
            }
          }
        }
      }
    }
  }

  .conteudo {
    .ranking {
      .nomes {
        .posicao {
          &.nodelay {
            .info {
              animation-delay: 50ms;
              .texto {
                animation-delay: 200ms;
              }

              .bg-fundo {
                animation-delay: 0ms;
              }
              .texto {
                .peso {
                  .bg-frente {
                    animation-delay: 900ms;
                  }

                  .bg {
                    animation-delay: 1200ms;
                  }
                }
              }
            }
            > .bg-frente {
              animation-delay: 0ms;
              animation-duration: 500ms;
              animation-name: fecha_cima_baixo;
            }
          }
          &.alternar {
            > .bg-frente {
              animation-delay: 0ms;
              animation-name: baixo_cima;
              animation-delay: 0ms;
              animation-duration: 200ms;
              animation-iteration-count: 1;
              animation-timing-function: ease-out;
              animation-fill-mode: both;
            }
          }
        }
      }
    }
  }

  /* POSICIONAMENTO ABSOLUTO INICIAL */
  @for $i from 1 through 11 {
    .conteudo {
      .ranking {
        .posicoes-nomes {
          .posicao:nth-child(#{$i}) {
            transition: 1s all;
            position: absolute;
            // top: #{($i - 1) * if($i<4, 86, 86) + if($i<4, 0, 0)}px;
            top: #{($i - 1) * if($i<4, 86, 86)}px;
            right: 0;
          }
        }
      }
    }
  }
  /* / ANIMAÇÕES */
}

@mixin top10_ranking(
  $logo,
  $primaria,
  $primaria-sombra,
  $secundaria,
  $secundaria-sombra
) {
  .conteudo {
    > .bg {
      background-color: rgba($primaria, 0.3);
      //background-color: rgba(#000, 1);

      .rodape {
        background-color: rgba($primaria, 0.8);

        .logo {
          background-image: url("../img/top10/logo/" + $logo + ".png");
        }
      }
    }

    .ranking {
      .posicao {
        .num {
          > .bg {
            &:after {
              @include bg_posicao_num($primaria, $primaria-sombra, 52px, 52px);
            }
          }
        }

        .info {
          .bg-fundo {
            .bg {
              @include bg_gradiente(
                $secundaria,
                $secundaria-sombra,
                385px,
                54px,
                0 25px 25px 0
              );

              &:before {
                background: $secundaria;
              }
            }
          }
          .texto {
            .peso {
              // amarelo: brasileiro, gaucho,
              // branco: catarinense, paranaense, paulista, goiano, mineiro
              @if $logo == brasileiro or $logo == gaucho {
                color: $cbp-amarelo;
              } @else {
                color: #fff;
              }
              .bg {
                &:before {
                  background: rgba($primaria, 0.8);
                }
              }
              .bg-frente {
                background: $primaria;
              }
            }
          }
        }

        > .bg-frente {
          .bg {
            @include bg_gradiente(
              $secundaria,
              $secundaria-sombra,
              388px,
              56px,
              0 25px 25px 0
            );
            &:before {
              background: $secundaria;
            }
          }
        }

        &.top-3 {
          .info {
            .bg-fundo {
              .bg {
                @include bg_gradiente(
                  $secundaria,
                  $secundaria-sombra,
                  385px,
                  54px,
                  0 25px 25px 0
                );
                &:before {
                  background: $secundaria;
                }
              }
            }
            .texto {
              .peso {
                .bg-frente {
                  background: $primaria;
                }
              }
            }
          }

          > .bg-frente {
            .bg {
              @include bg_gradiente(
                $secundaria,
                $secundaria-sombra,
                388px,
                56px,
                0 25px 25px 0
              );
              &:before {
                background: $secundaria;
              }
            }
          }
        }
      }
    }
  }
}

.brasileiro {
  #top10_ranking {
    @include top10_ranking(
      "brasileiro",
      $cbp-azul,
      $cbp-azul-sombra,
      $cbp-verde,
      $cbp-verde-sombra
    );
  }
}
.catarinense {
  #top10_ranking {
    @include top10_ranking(
      "catarinense",
      $cbp-vermelho,
      $cbp-vermelho-sombra,
      $cbp-verde-claro,
      $cbp-verde-claro-sombra
    );
  }
}
.gaucho {
  #top10_ranking {
    @include top10_ranking(
      "gaucho",
      $cbp-vermelho,
      $cbp-vermelho-sombra,
      $cbp-verde,
      $cbp-verde-sombra
    );
  }
}
.goiano {
  #top10_ranking {
    @include top10_ranking(
      "goiano",
      $cbp-azul,
      $cbp-azul-sombra,
      $cbp-verde,
      $cbp-verde-sombra
    );
  }
}
.mineiro {
  #top10_ranking {
    @include top10_ranking(
      "mineiro",
      $cbp-vermelho,
      $cbp-vermelho-sombra,
      $cbp-branco,
      $cbp-branco-sombra
    );
  }
}
.paranaense {
  #top10_ranking {
    @include top10_ranking(
      "paranaense",
      $cbp-verde,
      $cbp-verde-sombra,
      $cbp-branco,
      $cbp-branco-sombra
    );
  }
}
.paulista {
  #top10_ranking {
    @include top10_ranking(
      "paulista",
      $cbp-preto,
      $cbp-preto-sombra,
      $cbp-vermelho,
      $cbp-vermelho-sombra
    );
  }
}
