@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;700;800&display=swap');

*, html, body {
	font-family: 'Lexend', sans-serif;

	--c-blue: #2259E9;
	--c-yellow: #E1A232;
	--c-green: #98CA3F;
	--c-gray: #8B8280;

    --c-subtitle: #edeff1;
    // --bg-inner: rgb(30 41 59 / .85);
    --bg-inner: hsla(217, 33%, 17%, 0.85);
    // --bg-inner: #2e3e58;
    // --bg-inner: #1e293bd9;
    // --bg-inner: #2a6dd8;
}

@import 'variaveis';
@import 'mixins';

/* REVISAR */
    @import 'patrocinio-master';
    @import 'ranking';
/* / REVISAR */

@import 'apresentacao_duplas';
@import 'apresentadores';
@import 'bug';
@import 'agua';
@import 'clima';
// @import 'card3d';
@import 'competidores';
@import 'dados-equipe';
@import 'dupla-campea';
@import 'info';
@import 'top10-full';
@import 'top10-ranking';
// @import 'classificados-final';
@import 'classificados-manual';
// @import 'graficos';

body{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    position: relative;
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;

    &.viewport{
        zoom: 0.7;
        border: 1px solid #CCC;

        #menu{
            &.aberto{
                a{
                    left: -50px;
                }
            }
        }
    }
}

#timer{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;

    .loader{
        max-width: 100%;
        display: block;
        width: 1px;
        height: 5px;
        background: #FFF;
        margin: auto;
    }

    .time{
        color: #FFF;
    }
}

#safe-areas{
    #safe-area-hd{
        position: absolute;
        top: 54px;
        left: 96px;
        width: 1728px;
        height: 972px;
        border: 2px dotted #0F0;
    }

    #safe-area-sd{
        position: absolute;
        top: 54px;
        left: 240px;
        width: 1440px;
        height: 972px;
        border: 2px dotted #F00;
    }
}

#menu{
    display: block;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 999999999999999999;

    a{
        display: inline-block;
        background: #EFEFEF;
        border: 1px solid #999;
        border-right: none;
        padding: 5px 5px 2px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        img{
            width: 40px;
        }
    }

    .conteudo{
        display: none;
    }

    &.aberto{
        background: #EFEFEF;
        border: 1px solid #999;
        border-right: none;
        border-bottom-left-radius: 5px;

        a{
            position: absolute;
            left: -51px;
            top: -1px;
        }

        .conteudo{
            display: block;
            padding: 0 20px;

            h3{
                margin: 10px 0 0;
            }

            ul{
                list-style: none;
                padding: 0;
                margin: 5px 0 10px;

                li{
                    display: block;
                    margin-bottom: 5px;

                    button{
                        display: block;
                        border: none;
                        width: 100%;
                        height: 20px;
                        text-align: left;
                        background: none;

                        &.ativo{
                            background: #1F3463;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}

.nodelay{
    animation-delay: 0ms !important;
}

.bgvideo{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    bottom:0;
    right:0;
    z-index:0;
}

.escondido {
    display: none !important;
}

.btn.btn-xl {
    padding: 31px 20px !important;
}
