#agua{
    $tamanho-info1: 350px;
    $tamanho-info2: 380px;
    position: absolute;
    right: 130px;
    bottom: 170px;
    width: 516px;
    height: 204px;
    font-style: italic;

    .conteudo{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;

        > .bg{
            @include bg_gradiente( $cbp-amarelo, $cbp-amarelo-sombra, 488px, 188px );
            -webkit-box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );
            -moz-box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );
            box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );

            /* ANIMAÇÃO */
                animation-name: cima_baixo;
                animation-delay: 0ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .info{
            position: absolute;
            height: 71px;
            display: block;
            vertical-align: text-top;
            overflow: hidden;
            white-space: nowrap;

            &.info-1{
                width: $tamanho-info1;
                bottom: 76px;
                right: 0;

                .bg{
                    @include bg_gradiente( rgba(0,0,0,0.5), rgba(50,50,50,0.5), $tamanho-info1, 71px );
                }

                .bg-frente{
                    @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, $tamanho-info1, 71px );
                    position: absolute;
                    top: 0;
                }
            }

            &.info-2{
                width: $tamanho-info2;
                bottom: -10px;
                right: 15px;

                .bg{
                    @include bg_gradiente( rgba(0,0,0,0.5), rgba(50,50,50,0.5), $tamanho-info2, 71px );
                }

                .bg-frente{
                    @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, $tamanho-info2, 71px );
                    position: absolute;
                    top: 0;
                }
            }

            .texto{
                display: inline-block;
                color: #FFF;
                font-size: 30px;//20px
                transform: scaleY(1.3);
                line-height: 74px;
                padding-left: 20px;
                vertical-align: top;
                font-family: 'Montserrat';
                font-weight: 100;
            }

            .icone{
                width: 60px;
                height: 60px;
                display: inline-block;
                margin: 5px 0 0 20px;
            }

            > .bg-frente{
                position: absolute;

                /* ANIMAÇÃO */
                    animation-name: passa_cima_baixo;
                    animation-delay: 400ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg{
                position: absolute;
                opacity: 0;

                /* ANIMAÇÃO */
                    animation-name: aparece;
                    animation-delay: 675ms;
                    animation-duration: 25ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }
        }

        > .bg-fundo-cor{
            position: absolute;
            top: 0;

            @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 488px, 188px );
            -webkit-box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );
            -moz-box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );
            box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );

            /* ANIMAÇÃO */
                animation-name: cima_baixo;
                animation-delay: 500ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease-out;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        > .bg-frente{
            position: absolute;
            top: 0;
            opacity: 0;
            z-index: 100;

            @include bg_gradiente( $cbp-amarelo, $cbp-amarelo-sombra, 488px, 188px );
            -webkit-box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );
            -moz-box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );
            box-shadow: inset -10px 10px 10px 0px rgba( 255, 255, 255, 0.5 );
        }

        .bg-frente-info-1{
            position: absolute;
            top: 57px;
            right: 0;
            z-index: 110;
            opacity: 0;
            @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, $tamanho-info1, 71px );
        }

        .bg-frente-info-2{
            position: absolute;
            bottom: -10px;
            right: 15px;
            z-index: 110;
            opacity: 0;
            @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, $tamanho-info2, 71px );
        }

        > .icone{
            position: absolute;
            top: 35px;
            left: 35px;
            display: block;
            width: 120px;
            height: 120px;

            /* ANIMAÇÃO */
                animation-name: cima_baixo;
                animation-delay: 610ms;
                animation-duration: 320ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        > .descricao{
            display: block;
            position: absolute;
            top: 20px;
            left: 190px;
            color: #FFF;
            transform: scaleY(1.3);
            font-size: 22px;

            /* ANIMAÇÃO */
                animation-name: cima_baixo;
                animation-delay: 530ms;
                animation-duration: 60ms;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }
    }

    .icone{
        background-size: cover;
        background-repeat: no-repeat;

        &.oxigenio { background-image: url(../img/clima/icones/bubbles.png); }
        &.ph       { background-image: url(../img/clima/icones/ph.png); }
        &.amonia   { background-image: url(../img/clima/icones/amonia.png); }
        &.balanca{ background-image: url(../img/clima/icones/balanca.png); }
        &.chuva-forte-com-raio{ background-image: url(../img/clima/icones/chuva-forte-com-raio.png); }
        &.chuva{ background-image: url(../img/clima/icones/chuva.png); }
        &.dupla{ background-image: url(../img/clima/icones/dupla.png); }
        &.nublado{ background-image: url(../img/clima/icones/nublado.png); }
        &.relogio{ background-image: url(../img/clima/icones/relogio.png); }
        &.sol{ background-image: url(../img/clima/icones/sol.png); }
        &.temperatura-do-lago{ background-image: url(../img/clima/icones/temperatura-do-lago.png); }
        &.temperatura-do-dia{ background-image: url(../img/clima/icones/temperatura-do-dia.png); }
        &.vento{ background-image: url(../img/clima/icones/vento.png); }
        &.visibilidade-boa{ background-image: url(../img/clima/icones/visibilidade-boa.png); }
        &.visibilidade-regular{ background-image: url(../img/clima/icones/visibilidade-regular.png); }
    }

    &.trocar{
        .conteudo{

            > .bg-frente{
               // opacity: 1;

                /* ANIMAÇÃO */
                    /*animation-name: passa_cima_baixo;
                    animation-delay: 0ms;
                    animation-duration: 1ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;*/
                /* / ANIMAÇÃO */
            }

            .bg-frente-info-1,
            .bg-frente-info-2{
                opacity: 1;

                /* ANIMAÇÃO */
                    animation-name: passa_cima_baixo;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }
        }
    }

    &.fechar{
        .conteudo{

            > .bg-frente{
                opacity: 1;

                /* ANIMAÇÃO */
                    animation-name: passa_cima_baixo;
                    animation-delay: 0ms;
                    animation-duration: 800ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            > .bg,
            > .icone,
            > .descricao,
            > .bg-fundo-cor{
                /* ANIMAÇÃO */
                    animation-name: desaparece;
                    animation-delay: 200ms;
                    animation-duration: 50ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            .bg-frente-info-1,
            .bg-frente-info-2{
                opacity: 1;
                /* ANIMAÇÃO */
                    animation-name: passa_cima_baixo;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            > .info{
                /* ANIMAÇÃO */
                    animation-name: desaparece;
                    animation-delay: 150ms;
                    animation-duration: 50ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }
        }
    }
}

@mixin cores_agua($primaria, $secundaria, $primaria-sombra, $secundaria-sombra ) {
    $tamanho-info1: 350px;
    $tamanho-info2: 380px;
    .conteudo{

        > .bg{
            @include bg_gradiente( $secundaria, $secundaria-sombra, 488px, 188px );
        }

        .info{
            &.info-1{
                .bg-frente{
                    @include bg_gradiente( $primaria, $primaria-sombra, $tamanho-info1, 71px );
                }
            }

            &.info-2{
                .bg-frente{
                    @include bg_gradiente( $primaria, $primaria-sombra, $tamanho-info2, 71px );
                }
            }
        }

        > .bg-fundo-cor{
            @include bg_gradiente( $primaria, $primaria-sombra, 488px, 188px );
        }

        > .bg-frente{
            @include bg_gradiente( $secundaria, $secundaria-sombra, 488px, 188px );
        }

        .bg-frente-info-1{
            @include bg_gradiente( $primaria, $primaria-sombra, $tamanho-info1, 71px );
        }

        .bg-frente-info-2{
            @include bg_gradiente( $primaria, $primaria-sombra, $tamanho-info2, 71px );
        }
    }

}

.brasileiro{  #agua{ @include cores_agua($cbp-azul, $cbp-amarelo, $cbp-azul-sombra, $cbp-amarelo-sombra);                 } }
.catarinense{ #agua{ @include cores_agua($cbp-vermelho, $cbp-verde-claro, $cbp-vermelho-sombra, $cbp-verde-claro-sombra); } }
.gaucho{      #agua{ @include cores_agua($cbp-vermelho, $cbp-verde, $cbp-vermelho-sombra, $cbp-verde-sombra);             } }
.goiano{      #agua{ @include cores_agua($cbp-azul, $cbp-amarelo, $cbp-azul-sombra, $cbp-amarelo-sombra);                 } }
.mineiro{     #agua{ @include cores_agua($cbp-vermelho, $cbp-branco, $cbp-vermelho-sombra, $cbp-branco-sombra);           } }
.paranaense{  #agua{ @include cores_agua($cbp-verde, $cbp-azul, $cbp-verde-sombra, $cbp-azul-sombra);                     } }
.paulista{    #agua{ @include cores_agua($cbp-vermelho, $cbp-preto, $cbp-vermelho-sombra, $cbp-preto-sombra);             } }
