#competidores{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: #FFF;

    .conteudo{
        position: relative;
        width: 1440px;

        header{
            position: absolute;
            top: 55px;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1440px;
            overflow: hidden;
            margin: 0 auto;

            > div{
                position: relative;

                &:first-child{
                    .bg-logo{
                        display: block;
                        width: 249px;
                        height: 129px;
                        background: #333;
                        @include bg_logo( $cbp-azul, 249px, 129px );
                        position: absolute;
                        z-index: 0;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 0ms;
                            animation-duration: 400ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }

                    .logo{
                        z-index: 1;
                        position: relative;
                        display: inline-block;
                        width: 249px;
                        height: 129px;
                        background: url(../img/competidores/logo/brasileiro.png) center center no-repeat;
                        margin-right: 10px;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 250ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }
                }

                &:last-child{
                    font-family: 'Montserrat';
                    white-space: nowrap;
                    overflow: hidden;

                    h2{
                        font-size: 38px;
                        transform: scaleY(1.3);
                        color: #e49b00;
                        display: block;
                        font-style: italic;
                        padding-left: 10px;
                        margin: 15px 0 0;
                        font-weight: 700;
                        letter-spacing: 1.5px;
                        text-shadow: 3px 3px 3px #000;
                        text-align: left;
                    }

                    p{
                        line-height: 42px;
                        text-align: left;
                        margin: 8px 0 0;
                        font-size: 22px;
                        font-weight: 100;
                        letter-spacing: 1px;
                        text-shadow: 3px 3px 3px #000;
                        transform: scaleY(1.3);

                        img{
                            transform: scaleY(0.7);
                            float: left;
                            margin: 0 10px 0 0;
                        }
                    }

                    /* ANIMAÇÃO */
                        @keyframes abre_texto {
                            0% { max-width: 0; }
                            100% { max-width: 450px; }
                        }
                        animation-name: abre_texto;
                        animation-delay: 650ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        /*animation-timing-function: ease-out;*/
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }
            }
        }

        > .bg{
            display: block;
            width: 1322px;
            margin: auto;
            transform: skew(-6.25deg);
            background: rgba(0,0,0,0.7);
            height: 100%;
            overflow: hidden;

            /* ANIMAÇÃO */
                @keyframes abre_bg_competidor {
                    0% { width: 0; }
                    /*100% { width: 100%; }*/
                    100% { width: 1440px; }
                }
                animation-name: abre_bg_competidor;
                animation-delay: 250ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */


            .raias{
                /*transform: skew(6.25deg);*/
                position: absolute;
                top: 200px;
                left: 100px;
                right: 100px;
                // background: rgba(255,255,255,0.5);
                height: 830px;
                overflow: hidden;
                white-space: nowrap;

                .esquerda,
                .direita{
                    width: 640px;
                    display: inline-block;
                }

                .raia{
                    position: relative;
                    width: 593px;
                    height: 80px;
                    margin-bottom: 3px;
                    display: block;

                    > .bg{
                        // transform: skew(6.25deg);
                        opacity: 0;
                        width: 582px;
                        height: 73px;
                        background: url(../img/competidores/bg.png) left center no-repeat;
                        text-align: left;
                        position: absolute;
                        top: 0;
                        left: 3px;

                        .texto{
                            display: block;
                            padding-left: 70px;
                            padding-top: 12px;
                            font-size: 21px;
                            transform: scaleY(1.3);
                            line-height: 24px;
                            text-shadow: 3px 3px 3px #000;
                        }

                        /* ANIMAÇÃO */
                            animation-name: aparece;
                            animation-delay: 900ms;
                            animation-duration: 100ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */
                    }

                    .bg-frente{
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: skew(6.25deg);

                        @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 587px, 79px );

                        /* ANIMAÇÃO */
                            animation-name: passa_cima_baixo;
                            animation-delay: 600ms;
                            animation-duration: 800ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */
                    }

                    .bg-fundo{
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: skew(6.25deg);

                        @include bg_gradiente( $cbp-verde-claro, $cbp-verde-claro-sombra, 587px, 79px );

                        /* ANIMAÇÃO */
                            @keyframes mostra_pedaco {
                                from { clip-path: inset( 100% 0 0 0 ); }
                                to   { clip-path: inset( 70% 0 0 0 );    }
                            }
                            animation-name: mostra_pedaco;
                            animation-delay: 1200ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-in;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */
                    }

                    .bg-raia-fundo{
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: skew(6.25deg);

                        .bg{
                            margin-left: 28px;

                            @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 190px, 79px, 0 40px 40px 0 );

                            &:before{
                                content: "";
                                display: block;
                                width: 30px;
                                height: 79px;
                                background: $cbp-azul;
                                transform: skew(-19deg);
                                position: absolute;
                                left: 11px;
                            }
                        }

                        /* ANIMAÇÃO */
                            animation-name: passa_baixo_cima;
                            animation-delay: 1200ms;
                            animation-duration: 800ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-in;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */
                    }

                    .bg-raia{
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: skew(6.25deg);

                        .texto{
                            font-style: italic;
                            position: absolute;
                            left: 30px;
                            top: 0;
                            font-size: 36px;
                            transform: scaleY(1.3);
                            text-shadow: 3px 3px 3px #000;
                            line-height: 79px;
                            z-index: 1;
                            text-align: center;
                        }

                        .bg{
                            z-index: 0;
                            margin-left: 28px;

                            @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 190px, 79px, 0 40px 40px 0 );

                            &:before{
                                content: "";
                                display: block;
                                width: 30px;
                                height: 79px;
                                background: $cbp-azul;
                                transform: skew(-19deg);
                                position: absolute;
                                left: 11px;
                            }
                        }

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 1800ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */
                    }

                }


                $delay: 350;
                @for $i from 1 through 10 {
                    .raia:nth-child(#{$i}){
                        > .bg{
                            animation-delay: #{($i * $delay) + 900}ms;
                        }

                        .bg-frente{
                            animation-delay: #{($i * $delay) + 600}ms;
                        }

                        .bg-fundo{
                            animation-delay: #{($i * $delay) + 1200}ms;
                        }

                        .bg-raia-fundo{
                            animation-delay: #{($i * $delay) + 1200}ms;
                        }

                        .bg-raia{
                            animation-delay: #{($i * $delay) + 1800}ms;
                        }

                    }
                }
            }
        }
    }

    &.fechar{
        .conteudo{
            white-space: nowrap;

            > .bg{
                /* ANIMAÇÃO */
                    @keyframes fecha_bg_competidor {
                        0% { width: 1440px; }
                        100% { width: 0; }
                    }
                    animation-name: fecha_bg_competidor;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            header{
                margin: 0 auto;
                text-align: center;
                @keyframes fecha_header {
                    0% { opacity: 1; }
                    100% { opacity: 0; }
                }
                animation-name: fecha_header;
                animation-delay: 150ms;
                animation-duration: 350ms;
                animation-iteration-count: 1;
                animation-fill-mode: both;
            }
        }


    }
}

@mixin competidor( $tipo, $primaria, $primaria-sombra, $secundaria, $secundaria-sombra  ){
    .conteudo{
        header{
            > div{
                &:first-child{
                    .bg-logo{
                        @include bg_logo( $primaria, 249px, 129px );
                    }

                    .logo{
                        background: url('../img/competidores/logo/' + $tipo + '.png') center center no-repeat;
                    }
                }
            }
        }

        > .bg{
            .raias{
                .raia{
                    .bg-frente{
                        @include bg_gradiente( $primaria, $primaria-sombra, 587px, 79px );
                    }

                    .bg-fundo{
                        @include bg_gradiente( $secundaria, $secundaria-sombra, 587px, 79px );
                    }

                    .bg-raia-fundo{
                        .bg{
                            @include bg_gradiente( $primaria, $primaria-sombra, 190px, 79px, 0 40px 40px 0 );

                            &:before{
                                background: $primaria;
                            }
                        }
                    }

                    .bg-raia{
                        .bg{
                            @include bg_gradiente( $primaria, $primaria-sombra, 190px, 79px, 0 40px 40px 0 );

                            &:before{
                                background: $primaria;
                            }
                        }
                    }
                }
            }
        }
    }
}

.brasileiro{  #competidores{ @include competidor( 'brasileiro',  $cbp-azul,     $cbp-azul-sombra,     $cbp-verde,       $cbp-verde-sombra       ); } }
.catarinense{ #competidores{ @include competidor( 'catarinense', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde-claro, $cbp-verde-claro-sombra ); } }
.gaucho{      #competidores{ @include competidor( 'gaucho',      $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde,       $cbp-verde-sombra       ); } }
.goiano{      #competidores{ @include competidor( 'goiano',      $cbp-azul,     $cbp-azul-sombra,     $cbp-verde,       $cbp-verde-sombra       ); } }
.mineiro{     #competidores{ @include competidor( 'mineiro',     $cbp-vermelho, $cbp-vermelho-sombra, $cbp-branco,      $cbp-branco-sombra      ); } }
.paranaense{  #competidores{ @include competidor( 'paranaense',  $cbp-verde,    $cbp-verde-sombra,    $cbp-branco,      $cbp-branco-sombra      ); } }
.paulista{    #competidores{ @include competidor( 'paulista',    $cbp-preto,    $cbp-preto-sombra,    $cbp-vermelho,    $cbp-vermelho-sombra    ); } }
