#dupla_campea{
    z-index: 1;
    position: absolute;
    bottom: 200px;
    left: 50%;
    margin-left: -430px;
    width: 860px;
    height: 210px;
    text-align: center;
    color: #FFF;

    .bg-logo{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -89px;
        z-index: 30;
        width: 178px;
        height: 92px;
        background: url(../img/dupla-campea/logo/bg/azul.png) center center no-repeat;

        /* ANIMAÇÃO */
            @keyframes abre_bg_logo {
                from { clip-path: inset( 0 0 100% 0 ); }
                to { clip-path: inset( 0 0 0 0 );   }
            }
            animation-name: abre_bg_logo;
            animation-delay: 0ms;
            animation-duration: 300ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        /* / ANIMAÇÃO */

        .logo{
            background: url(../img/dupla-campea/logo/brasileiro.png);
            width: 178px;
            height: 92px;
            display: block;

            /* ANIMAÇÃO */
                @keyframes abre_logo {
                    from { clip-path: inset( 0 0 100% 0 ); }
                    to { clip-path: inset( 0 0 0 0 );   }
                }
                animation-name: abre_logo;
                animation-delay: 150ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */

        }
    }

    .tarja-frente-primeira{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 20;
        @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 856px, 143px);

        /* ANIMAÇÃO */
            @keyframes abre_frente_primeira {
                0% {   clip-path: inset( 0 0 100% 0 ); }
                70% { clip-path: inset( 0 0 0 0 );   }
                100% { clip-path: inset( 100% 0 0 0 );   }
            }
            animation-name: abre_frente_primeira;
            animation-delay: 350ms;
            animation-duration: 700ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        /* / ANIMAÇÃO */
    }

    .tarja-frente{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 20;
        @include bg_gradiente($cbp-azul, $cbp-azul-sombra, 856px, 143px);

        /* ANIMAÇÃO */
            @keyframes abre_frente {
                0% {   clip-path: inset( 0 0 100% 0 ); }
                70% { clip-path: inset( 0 0 0 0 );   }
                100% { clip-path: inset( 100% 0 0 0 );   }
            }
            animation-name: abre_frente;
            animation-delay: 1500ms;
            animation-duration: 900ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        /* / ANIMAÇÃO */
    }

    .bg{
        background: url(../img/dupla-campea/bg.png) center center no-repeat;
        width: 829px;
        height: 143px;
        position: absolute;
        bottom: 0;
        left: 14px;
        z-index: 15;

        /* ANIMAÇÃO */
            @keyframes abre_bg {
              from { clip-path: inset( 0 0 100% 0 );   }
              to {   clip-path: inset( 0 0 0 0 ); }
            }
            animation-name: abre_bg;
            animation-delay: 800ms;
            animation-duration: 100ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        /* / ANIMAÇÃO */
    }

    .tarja-verso{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 857px, 143px);

        /* ANIMAÇÃO */
            @keyframes abre_verso {
                0% {   clip-path: inset( 100% 0 0 0 ); }
                70% { clip-path: inset( 0 0 0 0 );   }
                100% {   clip-path: inset( 0 0 100% 0 ); }
            }
            animation-name: abre_verso;
            animation-delay: 950ms;
            animation-duration: 1000ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        /* / ANIMAÇÃO */
    }

    .tarja-verso-fixa{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 857px, 143px);

        /* ANIMAÇÃO */
            @keyframes abre_verso_fixo {
                from {   clip-path: inset( 100% 0 0 0 ); }
                to {   clip-path: inset( 60% 0 0 0 ); }
            }
            animation-name: abre_verso_fixo;
            animation-delay: 2400ms;
            animation-duration: 600ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        /* / ANIMAÇÃO */
    }

    .explosao{
        opacity: 1;
        position: absolute;
        top: -250px;
        left: 50%;
        margin-left: -550px;
        z-index: 30;
        width: 1100px;
        height: 660px;
        //background: #888;
        z-index: 999;

        /* ANIMAÇÃO *
            @keyframes abre_explosao {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            animation-name: abre_explosao;
            animation-delay: 1000ms;
            animation-duration: 200ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        /* / ANIMAÇÃO */
    }

    .titulo{
        font-size: 28px;
        font-style: italic;
        transform: scaleY(1.3);
        text-shadow: 3px 3px 3px #333;
        margin: 110px 0 5px;
        opacity: 0;
        color: $cbp-amarelo;
    }

    .texto{
        font-size: 36px;
        font-weight: 200;
        font-style: italic;
        transform: scaleY(1.3);
        text-shadow: 3px 3px 3px #333;
        opacity: 0;
    }

    .titulo, .texto{
        position: relative;
        z-index: 16;
        /* ANIMAÇÃO */
            @keyframes abre_textos {
                from { opacity: 0; }
                to { opacity: 1;   }
            }
            animation-name: abre_textos;
            animation-delay: 2000ms;
            animation-duration: 100ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        /* / ANIMAÇÃO */
    }

    &.fechar{

        .explosao{
            /* ANIMAÇÃO */
                @keyframes fecha_explosao {
                    from { opacity: 1; }
                    to   { opacity: 0; }
                }
                animation-name: fecha_explosao;
                animation-delay: 1000ms;
                animation-duration: 200ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .tarja-verso-fixa{
            /* ANIMAÇÃO */
                @keyframes fecha_verso_fixo {
                    from {   clip-path: inset( 60% 0 0 0 ); }
                    to {   clip-path: inset( 100% 0 0 0 ); }
                }
                animation-name: fecha_verso_fixo;
                animation-delay: 0ms;
                animation-duration: 200ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .tarja-frente{
            /* ANIMAÇÃO */
                @keyframes fecha_frente {
                    0% {   clip-path: inset( 100% 0 0 0 ); }
                    70% { clip-path: inset( 0 0 0 0 );   }
                    100% { clip-path: inset( 0 0 100% 0 );   }
                }
                animation-name: fecha_frente;
                animation-delay: 180ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .titulo, .texto{
            /* ANIMAÇÃO */
                @keyframes fecha_textos {
                    from { opacity: 1; }
                    to { opacity: 0;   }
                }
                animation-name: fecha_textos;
                animation-delay: 380ms;
                animation-duration: 100ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .tarja-verso{
            /* ANIMAÇÃO */
                @keyframes fecha_verso {
                    0% {   clip-path: inset( 0 0 100% 0 ); }
                    70% { clip-path: inset( 0 0 0 0 );   }
                    100% {   clip-path: inset( 100% 0 0 0 ); }
                }
                animation-name: fecha_verso;
                animation-delay: 480ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .bg{
            /* ANIMAÇÃO */
                @keyframes fecha_bg_dupla {
                  from { clip-path: inset( 0 0 0 0 );   }
                  to {   clip-path: inset( 0 0 100% 0 ); }
                }
                animation-name: fecha_bg_dupla;
                animation-delay: 1100ms;
                animation-duration: 300ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .bg-logo{
            /* ANIMAÇÃO */
                @keyframes fecha_bg_logo {
                  from { clip-path: inset( 0 0 0 0 );   }
                  to {   clip-path: inset( 0 0 100% 0 ); }
                }
                animation-name: fecha_bg_logo;
                animation-delay: 1300ms;
                animation-duration: 300ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */

            .logo{
                /* ANIMAÇÃO */
                    @keyframes fecha_logo {
                      from { clip-path: inset( 0 0 0 0 );   }
                      to {   clip-path: inset( 0 0 100% 0 ); }
                    }
                    animation-name: fecha_logo;
                    animation-delay: 1100ms;
                    animation-duration: 300ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }
        }
    }
}

@mixin dupla( $tipo, $primaria, $primaria-sombra, $secundaria, $secundaria-sombra ){

    .bg-logo{
        background: url(../img/dupla-campea/logo/bg/azul.png) center center no-repeat;
        .logo{
            background: url('../img/dupla-campea/logo/' + $tipo + '.png');
        }
    }

    .tarja-frente-primeira{
        @include bg_gradiente($primaria, $primaria-sombra, 856px, 143px);
    }
    .tarja-frente{
        @include bg_gradiente($secundaria, $secundaria-sombra, 856px, 143px);
    }

    .tarja-verso{
        @include bg_gradiente($primaria, $primaria-sombra, 857px, 143px);
    }
    .tarja-verso-fixa{
        @include bg_gradiente($primaria, $primaria-sombra, 857px, 143px);
    }
}

.brasileiro{ #dupla_campea{ @include dupla( 'brasileiro', $cbp-verde, $cbp-verde-sombra, $cbp-azul, $cbp-azul-sombra ) } }

.catarinense{
    #dupla_campea{
        .bg-logo{
            background: url(../img/dupla-campea/logo/bg/verde-claro.png) center center no-repeat;
            .logo{
                background: url(../img/dupla-campea/logo/catarinense.png);
            }
        }

        .tarja-frente-primeira{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 856px, 143px);
        }
        .tarja-frente{
            @include bg_gradiente($cbp-verde-claro, $cbp-verde-claro-sombra, 856px, 143px);
        }

        .tarja-verso{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
        }
        .tarja-verso-fixa{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
        }
    }
}

.gaucho{
    #dupla_campea{

        .bg-logo{
            background: url(../img/dupla-campea/logo/bg/vermelho.png) center center no-repeat;
            .logo{
                background: url(../img/dupla-campea/logo/gaucho.png);
            }
        }

        .tarja-frente-primeira{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 856px, 143px);
        }
        .tarja-frente{
            @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 856px, 143px);
        }

        .tarja-verso{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
        }
        .tarja-verso-fixa{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
        }
    }
}

.goiano{
    #dupla_campea{
        .bg-logo{
            background: url(../img/dupla-campea/logo/bg/azul.png) center center no-repeat;
            .logo{
                background: url(../img/dupla-campea/logo/goiano.png);
            }
        }

        .tarja-frente-primeira{
            @include bg_gradiente($cbp-azul, $cbp-azul-sombra, 856px, 143px);
        }
        .tarja-frente{
            @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 856px, 143px);
        }

        .tarja-verso{
            @include bg_gradiente($cbp-azul, $cbp-azul-sombra, 857px, 143px);
        }
        .tarja-verso-fixa{
            @include bg_gradiente($cbp-azul, $cbp-azul-sombra, 857px, 143px);
        }
    }
}

.mineiro{
    #dupla_campea{

        .bg-logo{
            background: url(../img/dupla-campea/logo/bg/branco.png) center center no-repeat;
            .logo{
                background: url(../img/dupla-campea/logo/mineiro.png);
            }
        }

        .tarja-frente-primeira{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 856px, 143px);
        }
        .tarja-frente{
            @include bg_gradiente($cbp-branco, $cbp-branco-sombra, 856px, 143px);
        }

        .tarja-verso{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
        }
        .tarja-verso-fixa{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
        }
    }
}

.paranaense{
    #dupla_campea{
        .bg-logo{
            background: url(../img/dupla-campea/logo/bg/verde.png) center center no-repeat;
            .logo{
                background: url(../img/dupla-campea/logo/paranaense.png);
            }
        }

        .tarja-frente-primeira{
            @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 856px, 143px);
        }
        .tarja-frente{
            @include bg_gradiente($cbp-branco, $cbp-branco-sombra, 856px, 143px);
        }

        .tarja-verso{
            @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 857px, 143px);
        }
        .tarja-verso-fixa{
            @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 857px, 143px);
        }
    }
}

.paulista{
    #dupla_campea{
        .bg-logo{
            background: url(../img/dupla-campea/logo/bg/preto.png) center center no-repeat;
            .logo{
                background: url(../img/dupla-campea/logo/paulista.png);
            }
        }

        .tarja-frente-primeira{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 856px, 143px);
        }
        .tarja-frente{
            @include bg_gradiente($cbp-preto, $cbp-preto-sombra, 856px, 143px);
        }

        .tarja-verso{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
        }
        .tarja-verso-fixa{
            @include bg_gradiente($cbp-vermelho, $cbp-vermelho-sombra, 857px, 143px);
        }
    }
}
