#graficos{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: #FFF;

    &.nodelay{
        .conteudo{
            .dupla{
                .peso{
                    animation-delay: 0ms !important;
                }
            }
            .posicao {
                .num {
                    animation-delay: 0ms !important;
                }
            }
        }
    }

    .conteudo{
        position: relative;
        width: 1440px;

        header{
            position: absolute;
            top: 170px;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1440px;
            overflow: hidden;
            margin: 0 auto;

            > div{
                position: relative;

                &:first-child{
                    .bg-logo{
                        display: block;
                        width: 249px;
                        height: 129px;
                        background: #333;
                        @include bg_logo( $cbp-azul, 249px, 129px );
                        position: absolute;
                        z-index: 0;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 0ms;
                            animation-duration: 400ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }

                    .logo{
                        z-index: 1;
                        position: relative;
                        display: inline-block;
                        width: 249px;
                        height: 129px;
                        background: url(../img/top10/logo/brasileiro.png) center center no-repeat;
                        margin-right: 10px;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 250ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }
                }

                &:last-child{
                    font-family: 'Montserrat';
                    white-space: nowrap;
                    overflow: hidden;

                    h2{
                        font-size: 38px;
                        transform: scaleY(1.3);
                        color: #e49b00;
                        display: block;
                        font-style: italic;
                        padding-left: 10px;
                        margin: 15px 0 0;
                        font-weight: 700;
                        letter-spacing: 1.5px;
                        text-shadow: 3px 3px 3px #000;
                        text-align: left;
                    }

                    p{
                        line-height: 42px;
                        text-align: left;
                        margin: 8px 0 0;
                        font-size: 22px;
                        font-weight: 100;
                        letter-spacing: 1px;
                        text-shadow: 3px 3px 3px #000;
                        transform: scaleY(1.3);

                        img{
                            transform: scaleY(0.7);
                            float: left;
                            margin: 0 10px 0 0;
                        }
                    }

                    /* ANIMAÇÃO */
                        @keyframes abre_texto {
                            0% { max-width: 0; }
                            100% { max-width: 450px; }
                        }
                        animation-name: abre_texto;
                        animation-delay: 650ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        /*animation-timing-function: ease-out;*/
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }
            }
        }

        > .bg{
            display: block;
            width: 1322px;
            margin: auto;
            transform: skew(-6.25deg);
            background: rgba(0,0,0,0.7);
            height: 100%;
            overflow: hidden;

            /* ANIMAÇÃO */
                @keyframes abre_bg_top10 {
                    0% { width: 0; }
                    /*100% { width: 100%; }*/
                    100% { width: 1440px; }
                }
                animation-name: abre_bg_top10;
                animation-delay: 250ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */

            .grafico{
                transform: skew(6.25deg);
                position: absolute;
                top: 350px;
                left: 100px;
                right: 100px; 
                /*background: rgba(255,255,255,0.5);*/
                height: 620px;
                white-space: nowrap;

                #grafico-gc{
                    
                    width:1240px;
                    height:630px;

                    /* ANIMAÇÃO */
                        @keyframes abre_grafico {
                            0% {opacity: 0;}
                            /*100% { width: 100%; }*/
                            100% {opacity: 100%}
                        }
                        animation-name: abre_grafico;
                        animation-delay: 1000ms;
                        animation-duration: 1000ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */


                }
            }

            
        }
    }

    &.fechar{
        .conteudo{
            white-space: nowrap;

            > .bg{
                /* ANIMAÇÃO */
                    @keyframes fecha_bg {
                        0% { width: 1440px; }
                        100% { width: 0; }
                    }
                    animation-name: fecha_bg;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            header{
                margin: 0 auto;
                text-align: center;
                @keyframes fecha_header {
                    0% { opacity: 1; }
                    100% { opacity: 0; }
                }
                animation-name: fecha_header;
                animation-delay: 150ms;
                animation-duration: 350ms;
                animation-iteration-count: 1;
                animation-fill-mode: both;
            }
        }
    }
}


@mixin graficos( $logo, $primaria, $primaria-sombra, $secundaria, $secundaria-sombra ) {
    .conteudo{
        header{
            > div{
                &:first-child{
                    .bg-logo{
                        @include bg_logo( $primaria, 249px, 129px );
                    }

                    .logo{
                        background: url('../img/top10/logo/' + $logo + '.png') center center no-repeat;
                    }
                }
            }
        }

        > .bg{
            
        }
    }
}

/*
brasileiro:  azul e verde;
catarinense: verde-claro e vermelho;
gaucho:      vermelho e verde;
goiano:      azul e verde;
mineiro:     branco e vermelho;
paranaense:  branco e verde;
paulista:    preto e vermelho;
*/

.brasileiro{ #graficos{ @include graficos( 'brasileiro', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.catarinense{ #graficos{ @include graficos( 'catarinense', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde-claro, $cbp-verde-claro-sombra ); }}
.gaucho{ #graficos{ @include graficos( 'gaucho', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.goiano{ #graficos{ @include graficos( 'goiano', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.mineiro{ #graficos{ @include graficos( 'mineiro', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paranaense{ #graficos{ @include graficos( 'paranaense', $cbp-verde, $cbp-verde-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paulista{ #graficos{ @include graficos( 'paulista', $cbp-preto, $cbp-preto-sombra, $cbp-vermelho, $cbp-vermelho-sombra ); }}
