#info{
    z-index: 1;
    position: absolute;
    bottom: 115px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 79px;
    text-align: center;
    color: #FFF;
    transform: scale(1.26333);

    .tarja-verso{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;

        @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 589px, 78px);
    }

    .tarja-verso-fixa{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;

        @include bg_gradiente($cbp-verde, $cbp-verde-sombra, 589px, 78px);
    }

    .bg{
        background: url(../img/info/bg.png) center center no-repeat;
        width: 582px;
        height: 73px;
        position: absolute;
        top: 0;
        left: 7px;
        z-index: 15;
    }

    .tarja-frente{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        @include bg_gradiente($cbp-azul, $cbp-azul-sombra, 593px, 79px);
    }

    .titulo{
        font-family: 'Montserrat';
        font-size: 21px;
        font-style: italic;
        transform: scaleY(1.3);
        text-shadow: 3px 3px 3px #333;
        margin: 10px 0 5px;
        opacity: 0;
    }

    .texto{
        font-size: 20px;
        font-weight: 200;
        font-style: italic;
        transform: scaleY(1.3);
        text-shadow: 3px 3px 3px #333;
        opacity: 0;
    }

    .titulo, .texto{
        position: relative;
        z-index: 16;
    }


    /* ANIMAÇÃO */

        .tarja-verso{
            animation-name: passa_baixo_cima;
            animation-delay: 250ms;
            animation-duration: 500ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        .tarja-verso-fixa{
            @keyframes abre_verso_fixo {
                from {   clip-path: inset( 100% 0 0 0 ); }
                to {   clip-path: inset( 70% 0 0 0 ); }
            }
            animation-name: abre_verso_fixo;
            animation-delay: 800ms;
            animation-duration: 300ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        .bg{
            animation-name: cima_baixo;
            animation-delay: 0ms;
            animation-duration: 300ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        .tarja-frente{
            animation-name: passa_cima_baixo;
            animation-delay: 500ms;
            animation-duration: 600ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        .titulo, .texto{
            animation-name: aparece;
            animation-delay: 800ms;
            animation-duration: 100ms;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

    /* / ANIMAÇÃO */

    &.fechar{

        .tarja-verso-fixa{
            /* ANIMAÇÃO */
                @keyframes fecha_verso_fixo {
                    from {   clip-path: inset( 70% 0 0 0 ); }
                    to {   clip-path: inset( 100% 0 0 0 ); }
                }
                animation-name: fecha_verso_fixo;
                animation-delay: 0ms;
                animation-duration: 200ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .tarja-frente{
            /* ANIMAÇÃO */
                animation-name: passa_baixo_cima;
                animation-delay: 180ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .titulo, .texto{
            /* ANIMAÇÃO */
                animation-name: desaparece;
                animation-delay: 380ms;
                animation-duration: 100ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .tarja-verso{
            /* ANIMAÇÃO */
                animation-name: passa_cima_baixo;
                animation-delay: 480ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

        .bg{
            /* ANIMAÇÃO */
                animation-name: fecha_baixo_cima;
                animation-delay: 1100ms;
                animation-duration: 300ms;
                animation-iteration-count: 1;
                animation-timing-function: ease;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */
        }

    }

}


@mixin gc_info( $primaria, $primaria-sombra, $secundaria, $secundaria-sombra ){
    .tarja-verso{
        @include bg_gradiente($secundaria, $secundaria-sombra, 589px, 78px);
    }
    .tarja-verso-fixa{
        @include bg_gradiente($secundaria, $secundaria-sombra, 589px, 78px);
    }
    .tarja-frente{
        @include bg_gradiente($primaria, $primaria-sombra, 593px, 79px);
    }
}

.brasileiro{  #info{ @include gc_info( $cbp-azul,        $cbp-azul-sombra,        $cbp-verde,       $cbp-verde-sombra       ); } }
.catarinense{ #info{ @include gc_info( $cbp-verde-claro, $cbp-verde-claro-sombra, $cbp-vermelho,    $cbp-vermelho-sombra    ); } }
.gaucho{      #info{ @include gc_info( $cbp-verde,       $cbp-verde-sombra,       $cbp-vermelho,    $cbp-vermelho-sombra    ); } }
.goiano{      #info{ @include gc_info( $cbp-verde,       $cbp-verde-sombra,       $cbp-azul,        $cbp-azul-sombra        ); } }
.mineiro{     #info{ @include gc_info( $cbp-branco,      $cbp-branco-sombra,      $cbp-vermelho,    $cbp-vermelho-sombra    ); } }
.paranaense{  #info{ @include gc_info( $cbp-branco,      $cbp-branco-sombra,      $cbp-verde-claro, $cbp-verde-claro-sombra ); } }
.paulista{    #info{ @include gc_info( $cbp-preto,       $cbp-preto-sombra,       $cbp-vermelho,    $cbp-vermelho-sombra    ); } }
