/* ELEMENTOS */
    @mixin bg_gradiente( $cor, $sombra, $w, $h, $radius: false ){
        display: block;
        width: $w;
        height: $h;

        @if $radius {
            border-radius: $radius;
        } @else {
            border-radius: $h / 2;
        }

        background: $cor;
        background: -moz-linear-gradient(-72deg, $cor 0%, $cor 60%, $sombra 68%, $cor 75%, $cor 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, $cor), color-stop(60%, $cor), color-stop(68%, $sombra), color-stop(75%, $cor), color-stop(100%, $cor));
        background: -webkit-linear-gradient(-72deg, $cor 0%, $cor 60%, $sombra 68%, $cor 75%, $cor 100%);
        background: -o-linear-gradient(-72deg, $cor 0%, $cor 60%, $sombra 68%, $cor 75%, $cor 100%);
        background: -ms-linear-gradient(-72deg, $cor 0%, $cor 60%, $sombra 68%, $cor 75%, $cor 100%);
        background: linear-gradient(108deg, $cor 0%, $cor 60%, $sombra 68%, $cor 75%, $cor 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cor', endColorstr='$cor', GradientType=1 );
    }

    @mixin bg_logo( $cor, $w, $h ){
        display: block;
        width: $w;
        height: $h;
        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='" + $w + "' height='" + $h + "' viewBox='0 0 178.000000 89.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,89.000000) scale(0.100000,-0.100000)'%0Afill='" + str-replace(''+$cor,'#','%23') + "' stroke='none'%3E%3Cpath d='M216 857 c-15 -19 -26 -45 -26 -59 0 -40 -21 -55 -95 -68 -38 -6 -75%0A-16 -82 -22 -16 -13 -17 -228 -2 -228 6 0 7 -5 4 -10 -4 -6 4 -74 16 -151 l22%0A-140 40 -35 c76 -65 191 -102 397 -130 145 -19 627 -19 780 0 259 33 426 106%0A444 193 16 78 66 408 66 438 0 52 -26 71 -114 86 -70 11 -77 14 -82 38 -13 57%0A-17 67 -42 94 l-26 27 -637 0 -638 0 -25 -33z'/%3E%3C/g%3E%3C/svg%3E%0A") top left no-repeat;
    }

    @mixin bg_posicao_num( $cor, $sombra, $w: 75px, $h: 75px ) {

        position: absolute;
        right: 14px;
        display: block;
        width: $w;
        height: $h;

        background: $cor;
        background: -moz-linear-gradient(-77deg, $cor 0%, $cor 40%, $sombra 60%, $cor 85%, $cor 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, $cor), color-stop(40%, $cor), color-stop(60%, $sombra), color-stop(85%, $cor), color-stop(100%, $cor));
        background: -webkit-linear-gradient(-77deg, $cor 0%, $cor 40%, $sombra 60%, $cor 85%, $cor 100%);
        background: -o-linear-gradient(-77deg, $cor 0%, $cor 40%, $sombra 60%, $cor 85%, $cor 100%);
        background: -ms-linear-gradient(-77deg, $cor 0%, $cor 40%, $sombra 60%, $cor 85%, $cor 100%);
        background: linear-gradient(103deg, $cor 0%, $cor 40%, $sombra 60%, $cor 85%, $cor 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cor', endColorstr='$cor', GradientType=1 );

        transform: skew(-19deg);
    }
/* / ELEMENTOS */









/* MOVIMENTAÇÃO */
    @keyframes fecha_baixo_cima {
        0%   { clip-path: inset( 0 0 0 0 ); }
        100% { clip-path: inset( 0 0 100% 0 );    }
    }
    @keyframes fecha_cima_baixo {
        0%   { clip-path: inset( 0 0 0 0 ); }
        100% { clip-path: inset( 100% 0 0 0 );    }
    }

    @keyframes cima_baixo {
        from { clip-path: inset( 0 0 100% 0 ); }
        to   { clip-path: inset( 0 0 0 0 );    }
    }

    @keyframes baixo_cima {
        from { clip-path: inset( 100% 0 0 0 ); }
        to   { clip-path: inset( 0 0 0 0 );    }
    }

    @keyframes passa_cima_baixo {
        0%   { clip-path: inset( 0 0 100% 0 ); }
        70%  { clip-path: inset( 0 0 0 0 );    }
        100% { clip-path: inset( 100% 0 0 0 ); }
    }

    @keyframes passa_baixo_cima {
        0%   { clip-path: inset( 100% 0 0 0 ); }
        70%  { clip-path: inset( 0 0 0 0 );    }
        100% { clip-path: inset( 0 0 100% 0 ); }
    }

    @keyframes fecha_esquerda_direita {
        0%   { clip-path: inset( 0 0 0 0 ); }
        100% { clip-path: inset( 0 0 0 100%);    }
    }
    @keyframes fecha_direita_esquerda {
        0%   { clip-path: inset( 0 0 0 0 ); }
        100% { clip-path: inset( 0 100% 0 0 );    }
    }

    @keyframes direita_esquerda {
        from { clip-path: inset( 0 0 0 100% ); }
        to   { clip-path: inset( 0 0 0 0 );    }
    }

    @keyframes esquerda_direita {
        from { clip-path: inset( 0 100% 0 0 ); }
        to   { clip-path: inset( 0 0 0 0 );    }
    }

    @keyframes passa_direita_esquerda {
        0%   { clip-path: inset( 0 0 0 100% ); }
        70%  { clip-path: inset( 0 0 0 0 );    }
        100% { clip-path: inset( 0 100% 0 0 ); }
    }

    @keyframes passa_esquerda_direita {
        0%   { clip-path: inset( 0 100% 0 0 ); }
        70%  { clip-path: inset( 0 0 0 0 );    }
        100% { clip-path: inset( 0 0 0 100% ); }
    }

    @keyframes aparece {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes desaparece {
        from { opacity: 1; }
        to   { opacity: 0; }
    }

/* / MOVIMENTAÇÃO */

/* HELPERS */
    @function str-replace($string, $search, $replace: '') {
        $index: str-index($string, $search);

        @if $index {
            @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
        }

        @return $string;
    }
/* / HELPERS */
