#top10_full{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: #FFF;

    &.nodelay{
        .conteudo{
            .dupla{
                .peso{
                    animation-delay: 0ms !important;
                }
            }
            .posicao {
                .num {
                    animation-delay: 0ms !important;
                }
            }
        }
    }

    .conteudo{
        position: relative;
        width: 1440px;

        header{
            position: absolute;
            top: 170px;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1440px;
            overflow: hidden;
            margin: 0 auto;

            > div{
                position: relative;

                &:first-child{
                    .bg-logo{
                        display: block;
                        width: 249px;
                        height: 129px;
                        background: #333;
                        @include bg_logo( $cbp-azul, 249px, 129px );
                        position: absolute;
                        z-index: 0;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 0ms;
                            animation-duration: 400ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }

                    .logo{
                        z-index: 1;
                        position: relative;
                        display: inline-block;
                        width: 249px;
                        height: 129px;
                        background: url(../img/top10/logo/brasileiro.png) center center no-repeat;
                        margin-right: 10px;

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 250ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */

                    }
                }

                &:last-child{
                    font-family: 'Montserrat';
                    white-space: nowrap;
                    overflow: hidden;

                    h2{
                        font-size: 38px;
                        transform: scaleY(1.3);
                        color: #e49b00;
                        display: block;
                        font-style: italic;
                        padding-left: 10px;
                        margin: 15px 0 0;
                        font-weight: 700;
                        letter-spacing: 1.5px;
                        text-shadow: 3px 3px 3px #000;
                        text-align: left;
                    }

                    p{
                        line-height: 42px;
                        text-align: left;
                        margin: 8px 0 0;
                        font-size: 22px;
                        font-weight: 100;
                        letter-spacing: 1px;
                        text-shadow: 3px 3px 3px #000;
                        transform: scaleY(1.3);

                        img{
                            transform: scaleY(0.7);
                            float: left;
                            margin: 0 10px 0 0;
                        }
                    }

                    /* ANIMAÇÃO */
                        @keyframes abre_texto {
                            0% { max-width: 0; }
                            100% { max-width: 450px; }
                        }
                        animation-name: abre_texto;
                        animation-delay: 650ms;
                        animation-duration: 600ms;
                        animation-iteration-count: 1;
                        /*animation-timing-function: ease-out;*/
                        animation-fill-mode: both;
                    /* / ANIMAÇÃO */
                }
            }
        }

        > .bg{
            display: block;
            width: 1322px;
            margin: auto;
            transform: skew(-6.25deg);
            background: rgba(0,0,0,0.7);
            height: 100%;
            overflow: hidden;

            /* ANIMAÇÃO */
                @keyframes abre_bg_top10 {
                    0% { width: 0; }
                    /*100% { width: 100%; }*/
                    100% { width: 1440px; }
                }
                animation-name: abre_bg_top10;
                animation-delay: 250ms;
                animation-duration: 600ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: both;
            /* / ANIMAÇÃO */


            .ranking{
                /*transform: skew(6.25deg);*/
                position: absolute;
                top: 350px;
                left: 100px;
                right: 100px;
                /*background: rgba(255,255,255,0.5);*/
                height: 580px;
                overflow: hidden;
                white-space: nowrap;

                .esquerda,
                .direita{
                    width: 640px;
                    display: inline-block;
                }

                .posicao.posicao-extra{
                    display:none;
                }

                &.posicao-extra{
                    .direita{
                        transform:translate(0,-43px);
                    }
                    .posicao.posicao-extra{
                        display:block;
                    }

                }

                .posicao{
                    transform: skew(6.25deg);
                    position: relative;
                    height: 87px;
                    margin-bottom: 8px;

                    &.desclassificado{
                        filter:grayscale(100%);
                    }

                    .bg-num{
                        position: absolute;
                        top: 6px;
                        left: 18px;
                        width: 75px;
                        height: 75px;
                        overflow: hidden;

                        .bg{
                            @include bg_posicao_num( $cbp-azul, $cbp-azul-sombra );
                        }

                        /* ANIMAÇÃO */
                            animation-name: cima_baixo;
                            animation-delay: 900ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */
                    }

                    .num{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 87px;
                        height: 87px;
                        background: url(../img/top10/bg-posicao.png) top left no-repeat;
                        color: $cbp-amarelo;

                        span{
                            display: block;
                            line-height: 87px;
                            font-size: 60px;
                            transform: scaleY(1.6) skew(-15deg);
                            font-family: 'Montserrat';
                            font-weight: 600;
                            letter-spacing: -7px;
                            padding-left: 8px;
                        }

                        /* ANIMAÇÃO */
                            animation-name: baixo_cima;
                            animation-delay: 1100ms;
                            animation-duration: 600ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-in;
                            animation-fill-mode: both;
                        /* / ANIMAÇÃO */
                    }

                    &.top-3{

                        //transform: scale(1);
                        &.mp{
                            .num{

                                span{
                                    color:transparent;
                                    transform: scale(1.2);
                                    background: url(../img/top10/mp.png) center left no-repeat;

                                }
                            }
                        }
                        .num{
                            background: url(../img/top10/bg-posicao-gold.png) top left no-repeat;
                            span{
                                color: #111;
                                font-weight: 800;
                            }
                            &:after{
                                content: '';
                                @include bg_posicao_num( $cbp-amarelo, $cbp-amarelo-sombra, 57px, 57px );
                            }
                        }
                    }


                    .dupla{
                        position: absolute;
                        left: 75px;
                        top: 12px;
                        display: block;
                        width: 491px;
                        height: 69px;
                        padding-left: 30px;

                        > .bg{
                            position: absolute;
                            top: 1px;
                            left: 0;
                            display: block;
                            width: 481px;
                            height: 63px;
                            background: url(../img/top10/bg.png) top left no-repeat;

                            /* ANIMAÇÃO */
                                animation-name: aparece;
                                animation-delay: 1150ms;
                                animation-duration: 200ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }

                        .bg-frente{
                            position: absolute;
                            left: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 491px;
                                height: 69px;
                                margin-left: 28px;
                                /*background: rgba(0,255,0,0.5);*/
                                @include bg_gradiente( $cbp-verde, $cbp-verde-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-verde;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }

                            /* ANIMAÇÃO */
                                animation-name: passa_cima_baixo;
                                animation-delay: 900ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }

                        .bg-fundo{
                            position: absolute;
                            left: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 491px;
                                height: 69px;
                                margin-left: 28px;
                                /*background: rgba(0,255,0,0.5);*/
                                @include bg_gradiente( $cbp-verde, $cbp-verde-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-verde;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }

                            /* ANIMAÇÃO */
                                animation-name: passa_baixo_cima;
                                animation-delay: 1300ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-in;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }

                        .bg-frente-cor{
                            position: absolute;
                            left: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 491px;
                                height: 69px;
                                margin-left: 28px;
                                /*background: rgba(0,255,0,0.5);*/
                                @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-azul;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }

                            /* ANIMAÇÃO */
                                animation-name: passa_cima_baixo;
                                animation-delay: 1700ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }

                        > p{
                            margin: 0;
                            transform: skew(-19deg) scaleY(1.1);
                            font-size: 21px;
                            margin-top: 6px;
                            opacity: 0;

                            /* ANIMAÇÃO */
                                animation-name: aparece;
                                animation-delay: 1150ms;
                                animation-duration: 200ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }

                        .bg-peso{
                            position: absolute;
                            right: 0;
                            top: 0;

                            .bg{
                                display: block;
                                width: 225px;
                                height: 69px;
                                margin-left: 28px;
                                /*background: rgba(0,255,0,0.5);*/
                                @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 198px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-azul;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }

                            /* ANIMAÇÃO */
                                animation-name: passa_baixo_cima;
                                animation-delay: 2300ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-out;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }

                        .peso{
                            position: absolute;
                            top: 0;
                            right: 0;

                            .bg{
                                display: block;
                                width: 225px;
                                height: 69px;
                                margin-left: 28px;
                                /*background: rgba(0,255,0,0.5);*/
                                @include bg_gradiente( $cbp-azul, $cbp-azul-sombra, 198px, 69px, 0 35px 35px 0 );

                                &:before{
                                    content: "";
                                    display: block;
                                    width: 30px;
                                    height: 70px;
                                    background: $cbp-azul;
                                    transform: skew(-19deg);
                                    position: absolute;
                                    left: 11px;
                                }
                            }

                            p{
                                position: absolute;
                                top: 10px;
                                left: 40px;
                                margin: 0;
                                transform: skew(-19deg) scaleY(1.3);
                                font-size: 28px;
                                margin-top: 5px;
                                opacity: 0;
                                text-shadow: 3px 3px 3px #000;

                                /* ANIMAÇÃO */
                                    animation-name: aparece;
                                    animation-delay: 3000ms;
                                    animation-duration: 200ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: both;
                                /* / ANIMAÇÃO */
                            }

                            /* ANIMAÇÃO */
                                animation-name: cima_baixo;
                                animation-delay: 2800ms;
                                animation-duration: 600ms;
                                animation-iteration-count: 1;
                                animation-timing-function: ease-in;
                                animation-fill-mode: both;
                            /* / ANIMAÇÃO */
                        }
                    }

                    &.trocar{
                        .dupla{
                            .peso{
                                 /* ANIMAÇÃO */
                                    animation-name: fecha_cima_baixo;
                                    animation-delay: 0ms !important;
                                    animation-duration: 300ms;
                                    animation-iteration-count: 1;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: both;
                                /* / ANIMAÇÃO */
                            }
                        }
                        .num {
                            animation-name: fecha_baixo_cima;
                            animation-delay: 0ms !important;
                            animation-duration: 300ms;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-out;
                            animation-fill-mode: both;
                        }
                    }
                }

                $delay: 150;
                @for $i from 1 through 11 {
                    .#{if($i <= 6, 'esquerda', 'direita')}{
                        .posicao:nth-child(#{if( $i <= 6, $i, $i - 6)}){
                        /*.posicao:nth-child(#{$i}){*/
                            .bg-num{
                                animation-delay: #{($i * $delay) + 900}ms;
                            }

                            .num{
                                animation-delay: #{($i * $delay) + 1100}ms;
                                @if $i < 10 {
                                    padding-left: 10px;
                                }
                            }

                            .dupla{
                                > .bg{
                                    animation-delay: #{($i * $delay) + 1150}ms;
                                }

                                .bg-frente{
                                    animation-delay: #{($i * $delay) + 900}ms;
                                }

                                .bg-fundo{
                                    animation-delay: #{($i * $delay) + 1300}ms;
                                }

                                .bg-frente-cor{
                                    animation-delay: #{($i * $delay) + 1700}ms;
                                }

                                > p{
                                    animation-delay: #{($i * $delay) + 1150}ms;
                                }

                                .bg-peso{
                                    animation-delay: #{($i * $delay) + 2300}ms;
                                }

                                .peso{
                                    p{
                                        animation-delay: #{($i * $delay) + 3000}ms;
                                    }
                                    animation-delay: #{($i * $delay) + 2800}ms;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.fechar{
        .conteudo{
            white-space: nowrap;

            > .bg{
                /* ANIMAÇÃO */
                    @keyframes fecha_bg {
                        0% { width: 1440px; }
                        100% { width: 0; }
                    }
                    animation-name: fecha_bg;
                    animation-delay: 0ms;
                    animation-duration: 600ms;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-fill-mode: both;
                /* / ANIMAÇÃO */
            }

            header{
                margin: 0 auto;
                text-align: center;
                @keyframes fecha_header {
                    0% { opacity: 1; }
                    100% { opacity: 0; }
                }
                animation-name: fecha_header;
                animation-delay: 150ms;
                animation-duration: 350ms;
                animation-iteration-count: 1;
                animation-fill-mode: both;
            }
        }
    }
}


@mixin top10_full( $logo, $primaria, $primaria-sombra, $secundaria, $secundaria-sombra ) {
    .conteudo{
        header{
            > div{
                &:first-child{
                    .bg-logo{
                        @include bg_logo( $primaria, 249px, 129px );
                    }

                    .logo{
                        background: url('../img/top10/logo/' + $logo + '.png') center center no-repeat;
                    }
                }
            }
        }

        > .bg{
            .ranking{
                .posicao{
                    .bg-num{
                        .bg{
                            @include bg_posicao_num( $primaria, $primaria-sombra );
                        }
                    }

                    .num{
                        color: $cbp-amarelo;
                    }

                    .dupla{
                        .bg-frente{
                            .bg{
                                @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $secundaria;
                                }
                            }
                        }

                        .bg-fundo{
                            .bg{
                                @include bg_gradiente( $secundaria, $secundaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $secundaria;
                                }
                            }
                        }

                        .bg-frente-cor{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 491px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }

                        .bg-peso{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 198px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }

                        .peso{
                            .bg{
                                @include bg_gradiente( $primaria, $primaria-sombra, 198px, 69px, 0 35px 35px 0 );

                                &:before{
                                    background: $primaria;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
brasileiro:  azul e verde;
catarinense: verde-claro e vermelho;
gaucho:      vermelho e verde;
goiano:      azul e verde;
mineiro:     branco e vermelho;
paranaense:  branco e verde;
paulista:    preto e vermelho;
*/

.brasileiro{ #top10_full{ @include top10_full( 'brasileiro', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.catarinense{ #top10_full{ @include top10_full( 'catarinense', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde-claro, $cbp-verde-claro-sombra ); }}
.gaucho{ #top10_full{ @include top10_full( 'gaucho', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.goiano{ #top10_full{ @include top10_full( 'goiano', $cbp-azul, $cbp-azul-sombra, $cbp-verde, $cbp-verde-sombra ); }}
.mineiro{ #top10_full{ @include top10_full( 'mineiro', $cbp-vermelho, $cbp-vermelho-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paranaense{ #top10_full{ @include top10_full( 'paranaense', $cbp-verde, $cbp-verde-sombra, $cbp-branco, $cbp-branco-sombra ); }}
.paulista{ #top10_full{ @include top10_full( 'paulista', $cbp-preto, $cbp-preto-sombra, $cbp-vermelho, $cbp-vermelho-sombra ); }}
