/*
brasileiro:  azul e verde;
catarinense: verde-claro e vermelho;
gaucho:      vermelho e verde;
goiano:      azul e verde;
mineiro:     branco e vermelho;
paranaense:  branco e verde;
paulista:    preto e vermelho;
*/

$cbp-vermelho: #A51008;
$cbp-vermelho-sombra: #B2231C;

$cbp-azul: #2D3D73;
$cbp-azul-sombra: #34477B;

$cbp-amarelo: #FDC100;
$cbp-amarelo-sombra: #E7BB2E;

$cbp-verde: #1B4418;
$cbp-verde-sombra: #2C5C29;

$cbp-verde-claro: #308230;
$cbp-verde-claro-sombra: #429042;

$cbp-preto: #000;
$cbp-preto-sombra: #333;

$cbp-branco: #FFF;
$cbp-branco-sombra: #EFEFEF;


