* {
    font-family:tahoma;
    font-size:12px; padding:0px;
    margin:0px;
}

body{
    background: #808080;
    padding: 20px;
    max-width: 1440px;
}

#bg-referencia{
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 900px;
    background-color: #CCC;
    display: block;
}

.preview-iframe{
    zoom:0.5;
    display: block;
    margin:auto;
    width:1920px;
    height:1080px;
    border:2px solid #909090;
    background: #000;
}

.button-preview{
    border-color: #28a745 !important;
    background: #28a745 !important;
    &:hover{
        background: darken(#28a745,10) !important;
    }
    &.com-filhos{
        border-color: #ffc107 !important;
        background: #ffc107 !important;
        &:hover{
            background: darken(#ffc107,10) !important;
        }
    }
}

.button-producao{
    border-color: #dc3545 !important;
    background: #dc3545 !important;
    &:hover{
        background: darken(#dc3545,10) !important;
    }
}

.botoes{
    margin: 30px 0;
    justify-content: center;
    align-items: center;

    .btn{
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 0 auto;
    }

    .fs{
        position: relative;

        &:after{
            content: "";
            position: absolute;
            top: -1px;
            right: -1px;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 30px 30px 0;
            border-color: transparent #F00 transparent transparent;
        }
    }
}

.btn{
    &.btn-xl{
        padding: 35px 20px;
    }

    &.btn-black{
        background-color: #000;
        color: #FFF;
    }

}

form{
    background-color: #EFEFEF;
    padding: 15px;

    .form-group{
        margin-bottom: 8px;

        label{
            font-size: 11px;
            margin: 0 0 -1px;
            display: block;
        }
    }
}


.etapas{
    margin-bottom: 30px;

    button{
        opacity: 0.2;

        img{
            width: 150px;
        }

        &:hover{
            opacity: 0.8;
        }

        &.ativo{
            opacity: 1;
            background-color: #28a745;
        }

    }
}

.form-control-xs {
    height: calc(1em + .375rem + 2px) !important;
    padding: .125rem .25rem !important;
    font-size: .75rem !important;
    line-height: 1.5;
    border-radius: .2rem;
}
